[2020-09-23 11:45] pdubz3 commented on #183
@armstro I understand your concern, but I think those are the teeth that the TSC requires to be effective.  Enforcing a sound technical practice might not always be something everyone agrees about, but hopefully that will be a rare exception and not the norm.  We don't want the TSC to take away the autonomy that the squads enjoy today, that would be bad for Zowe.  But they need to have the power t

[2020-09-23 12:14] armstro commented on #214
[Zowe Community Context & Vision for 20PI4 Draft .pptx](https://github.com/zowe/zlc/files/5268003/Zowe.Community.Context.Vision.for.20PI4.Draft.pptx)

Draft deck for ZLC POV for 4Q - agenda topic for ZLC meeting today

[2020-09-23 12:38] armstro commented on #183
Agreed - I am more pointing to the fact that a single squad lead could vote against the issue when all others vote for the issue and therefore not unanimous. Do we need to say something more about deadlocks that could occur in this sitation?

[2020-09-24 13:04] armstro commented on #183
[Zowe.Draft.TSC.proposedcharter.V3.docx](https://github.com/zowe/zlc/files/5276097/Zowe.Draft.TSC.proposedcharter.V3.docx)

OK - sorry to late in getting this next rev out - seems every day is a fire drill. Please read and comment - two areas especially:

1) How are additional technical leaders selected - I think I heard vote by committers?
2) I inserted a limit to the number of TSC members to 10

[2020-09-25 19:52] dkelosky commented on #183
Here's some unsolicited feedback after checking out the doc.  Under responsibilities, a few bullets seem "technically" oriented:
•	Coordinating technical direction...
•	Overseeing an architecture forum to explore new ideas...
•	Have technical and architectural oversight for all the Zowe components...
•	Voting on technical matters relating to the code base that affects Zowe components and squads...

[2020-09-25 20:37] armstro commented on #183
Hey Dan - first realize the document is a draft. This is "opening bid" for listing responsibilities subject to input from the squad leads, architects and what I called "Additional Technical Leaders" (that could be DEs? Customers? ISVs? or anyone else).

Answering the Architecture meeting question first - it will not be disbanded unless there is some reason to do so that I am not aware of - I hear

[2020-09-25 22:10] dkelosky commented on #183
Thanks @armstro for taking the time to to respond and clear things up for me a bit.

I'll hang tight and keep an eye out for this to finalize 😀

[2020-09-28 13:02] armstro commented on #183
@dkelosky please get involved and help define the TSC - I think the formation of the TSC is a sign of the community growing in maturity. The ZLC has worked well the last couple years to get us started but the technical leadership needs to control such things as when releases are ready, look for areas of improvement in quality, improve integration, etc. We hope to get this vetted quickly and establ

[2020-09-29 14:34] pdubz3 commented on #214
@armstro Has anyone reached out to the squad leads to collect their notable achievements from the current PI yet?  Or did you have a different plan for building those achievement slides?

[2020-09-29 16:35] armstro commented on #214
Hey Mike @pdubz3 - I have not reached out to the squad leads for achievements (a little late to do so in my mind) - I was think we have other topics to cover of higher priority - like TSC. I was going to highlight metrics, events (Share, OMP Summit, etc.).

[2020-09-29 16:44] pdubz3 commented on #214
@armstro It's definitely late but people like to see that leadership recognizes what they've accomplished.  Maybe it's not too late just to ask them each for a few (no more than 2 or 3) notable accomplishments to choose from that we can highlight on a single slide?   We don't need a whole slide from each squad I think a single slide works too.  If there's no time to present it then I guess we can

[2020-09-29 17:07] armstro commented on #214
@pdubz3 I'm happy to have your help if you want to pull a slide together -

[2020-09-29 17:07] RASakach commented on #210
@armstro FYI:  Chris Blum at OMP is finalizing details for the Oct 14 Zowe Quarterly Webinar.  Will need each of the Squads to produce a single slide on their "highlights" over the last quarter; could consider using the PI Achievements details.  As far as "promoting" the event, we should promote during PI planning and consider adding it to our ZOWE LANDING PAGE?  I've also asked Chris to promote v

[2020-09-29 17:08] armstro commented on #214
@pdubz3 even if you pull content from the release notes from zowe.org - it would be a way to collect info without reaching out to each squad lead

[2020-09-29 17:19] armstro commented on #210
Hey @RASakach - just email with @pdubz3 Mike regarding PI Achievements - I want to connect the two threads ....Mike wants a list for PI Planning and you need one for Oct 14....just want to be sure we don't ask the squad leads twice.......I am concerned about asking this late before Thursday and maybe use release notes on zowe.org to pull some line items for highlighting......we can discuss web pag

[2020-09-29 17:54] pdubz3 commented on #214
@armstro Absolutely Bruce.  I'll send an email to the squad leads right away requesting their short list of accomplishments, and if I get the responses I'll create a single slide for your deck.

[2020-09-29 18:28] pdubz3 commented on #210
@armstro @RASakach I just don't want it to be limited to new features.  For example, maybe we consider the fact that a new company has earned a conformance badge, or Zowe Explorer exceeding 17,000 downloads, things like that.  But the list of accomplishments we celebrate at PI Planning may not necessarily match exactly the list of highlights that Rose is asking about.  Or maybe it will.  Personall

[2020-09-29 19:45] RASakach commented on #210
@armstro @pdubz3 - apologies for the timeline confusion - we can gather what we want to present for the "Community Highlights" section of our Quarterly Webinar AFTER Zowe PI Planning - I just wanted to mention that item so that we can consider it / collect it at some point while we had similar work going on (for PI planning).    That said, if Mike is able to pull that collection from the Squad lea

[2020-09-30 12:15] armstro commented on #214
[Zowe Community Context & Vision for 20PI4 Draft Sept 30 .pptx](https://github.com/zowe/zlc/files/5305320/Zowe.Community.Context.Vision.for.20PI4.Draft.Sept.30.pptx)

Draft of proposed deck for PI kickoff - to be discussed at ZLC meeting today

[2020-09-30 12:52] Joe-Winchester commented on #183
@armstro and others - this is looking really good with a lot of great input and feedback.
I've read a few other TSC charters from Node.js and other OSS communities and merged some of their wording into the Zowe charter doc and put it in markdown here:
https://github.com/zowe/community/blob/master/Technical-Steering-Committee/charter.md

(I can't merge this into the ZLC repo because of github size

[2020-09-30 13:42] jmertic commented on #183
Hey @Joe-Winchester - overall like the content. A few thoughts...

- I'd suggest renaming this from charter to proposal. We use the term charter from a legal aspect and don't want to get things confused, plus also this document seems to position more of intent and formation.
- There are a few areas where you used TSO instead of TSC ;-)
- I'd lean towards not having the ZLC involved in specifics of

[2020-09-30 14:01] jmertic commented on #182
Want to bump this up - starting to see more public movement and advise that getting ahead of more growth would be something to consider sooner than later.

[2020-09-30 14:19] armstro commented on #182
Once we get TSC moving we will come back to this item ......

[2020-09-30 15:49] jmertic commented on #182
OK

[2020-09-30 17:51] jmertic commented on #183
Made a revision that hits the items above at https://github.com/zowe/community/pull/795

[2020-09-30 21:20] pdubz3 commented on #214
[Zowe.Community.Context.Vision.for.20PI4.Draft.Sept.30.pptx](https://github.com/zowe/zlc/files/5308288/Zowe.Community.Context.Vision.for.20PI4.Draft.Sept.30.pptx)

Updated the accomplishments section.

[2020-09-30 22:35] armstro commented on #214
[Zowe Community Vision 20PI4 ZLC POV Final .pdf](https://github.com/zowe/zlc/files/5308580/Zowe.Community.Vision.20PI4.ZLC.POV.Final.pdf)

[2020-10-01 17:22] armstro opened #216 "Google Summer of Code participation (TSC)"
How (if) to have Zowe participation in the event  https://summerofcode.withgoogle.com/archive/  Follow up from Oct 1 PI Planning for 2020

[2020-10-09 16:56] armstro commented on #214
I would like to close this issue - if there are any follow up actions or lessons learned please created a new issue for the next PI Planning

[2020-10-09 16:56] #214 closed, assigned to Joe-Winchester, PeterFandelAtRocket, 1000TurquoisePogs, MarkAckert, nkocsis, armstro, pdubz3

[2020-10-09 16:58] armstro commented on #200
I think we got through this latest PI Planning without issues - I would like to close this issue - if there is some action needed for next PI please created a new issue with needed actions

[2020-10-09 16:58] #200 closed, assigned to nkocsis, pdubz3

[2020-10-14 13:05] balhar-jakub commented on #216
It seems that the Linux Foundation is usually part of the Google Summer of Code as organization.
So I guess we just need to get in touch with the people who propose Linux Foundation to the GSOC.
And if there is no objections from their side then we just need to prepare the potential projects that the students could apply to.

I have been working on this preparation within OS4Geo on one of their pr

[2020-10-14 13:29] PeterFandelAtRocket commented on #211
Problem solved!

[2020-10-14 13:29] #211 closed, assigned to nobody

[2020-10-14 13:30] PeterFandelAtRocket commented on #207
Problem solved!

[2020-10-14 13:30] #207 closed, assigned to nobody

[2020-10-14 13:56] armstro commented on #210
Agreement at ZLC to close this item with the Q4 OMP Webinar on Zowe - a new issue will be opened for Q1 2021

[2020-10-14 13:56] #210 closed, assigned to armstro

[2020-10-14 13:57] armstro opened #217 "Plan Q1 2021 OMP Zowe Webinar"
See https://github.com/zowe/zlc/issues/210 for context

[2020-10-14 13:59] armstro commented on #216
@jmertic Please advise - see comments above - is this something that the Zowe team could get involved in?

[2020-10-14 14:00] armstro commented on #212
Closing as ZLC consider this issue as having been addressed @nkocsis reopen or make new issue if needed.

[2020-10-14 14:00] #212 closed, assigned to PeterFandelAtRocket, armstro

[2020-10-14 14:02] armstro commented on #161
Issue closed with the creation of CLI SDK and Zowe Explorer squads - will open new issue if/when additional squads need to be formed

[2020-10-14 14:02] #161 closed, assigned to nobody

[2020-10-14 14:03] armstro commented on #217
January is proposed month for Zowe survey to the consumers - one agenda topic to be considered

[2020-10-14 14:08] armstro commented on #205
@nkocsis can you capture the need for survey creation in December PI Planning prep -

ZLC decided to close this - survey policy to be Jan and July for surveys.....

[2020-10-14 14:08] #205 closed, assigned to solsu01, armstro

[2020-10-14 14:21] armstro commented on #179
ZLC opinion was diversity situation has improved over the last two PIs - decision was to close this item and reopen if/when issue resurfaces.

[2020-10-14 14:21] #179 closed, assigned to PeterFandelAtRocket, solsu01, armstro

[2020-10-14 15:08] jmertic commented on #216
Sure thing - there are some thoughts of coordinating mentorships for this program in addition to our normal summer mentorship program. The main thing that is needed is projects to work on ;-)

@bobdahlberg adding you here as well. Thinking this could be something to chat about at the TAC as well.

[2020-10-16 10:10] armstro opened #218 "Vendor neutral zCX, Open Shift, Sysplex, test environment for Docker images needed"
For 1Q21 a vendor neutral zCX test environment is needed for Docker images - Vicom has offered but their environment would be a loan - we need to work with OMP and/or OMP members for a publicly accessible test environment.

[2020-11-04 14:56] RASakach commented on #217
Zowe Quarterly Webinar Details so far:

Date:  January 20, 2021 at 1130 ET
Registration Link: https://bit.ly/3mbTAwq

Highlight Topic:  TBD
Highlight Squad:  Proposing DOC SQUAD to review Website Updates?

General News:
Zowe Survey [overview, where to find it? etc.]
PI Planning
Other Community Events
Polls
Customer(s) or New Onboarders Spotlight

[2020-11-04 15:04] RASakach opened #219 "2021JAN Zowe Survey Preparation"
Complete Survey planning for January 2021

Deadline for questions:  Monday 12/14
Questions should be posted here:  TBD

Guidelines (to-be-considered)
* Limit 5 questions per squad
* Target installation and adoption challenges
* Target decisions that steer 2021 technical direction

[2020-11-04 17:40] armstro commented on #219
Hey Rose - getting the survey started sounds like a great idea to avoid being rushed before the call in Jan - couple comments - we can work with John Mertic to use the OMP Survey Monkey account - it worked well before and allows more features to be used in Survey Monkey than a free account (that I used a couple years ago). One thing I used in Survey Monkey was a "grade" on likelihood of getting re

[2020-12-02 11:43] armstro opened #220 "Future ZLC structure"
Two factors driving a rethink of the ZLC 1) term limits expiring for some ZLC members in Feb 2021 2) formation of TSC - assuming it is approved. https://github.com/zowe/zlc
Existing ZLC mission needs rethought as technical issues will be more the domain of the TSC. Assuming ZLC retains its more "business focus" priorities need to be set - possible closer work with OMP, reach out activities, incuba

[2020-12-17 15:26] armstro commented on #220
In reviewing the ZLC description on zowe.org https://github.com/zowe/zlc it states a few things in need of update
- Mentions voting on "sub-projects" which has evolved to mean "incubators" (I think)
- Says we work with OMP marketing (which we do to some extent and needs to continue/enhanced)
- Says to create and maintain "release train" which I assume is how we have gotten into the voting for rele

[2020-12-17 15:32] armstro commented on #220
Addition topic: term limits - also see on the zowe.org site:
1 Year Term ending February 26th 2021:
Bruce Armstrong, Sujay Solomon (passed control to Mike D), Peter Fandel
2 Year Term ending February 26th 2022:
Mark Ackert, Sean Grady, Joe Winchester

Note the members moving to TSC term limit in 2022 - those of use staying on ZLC have term limit of Feb 2021.....we need to discuss (and seek @jmerti

[2021-01-13 12:17] armstro commented on #220
Adding comments from ZLC meeting on Jan 6th

- Charter of ZLC be adjusted (keep incubator approval, and themes/hills for PI Planning, add more work with
OMP - events, marketing, partnerships with other projects).
- This charter to be done in cooperation with TSC to avoid overlap. Policy on active members (for example) and creation on new projects/new repo (code contrib but not part of build).
- Se

[2021-01-13 12:34] armstro commented on #218
I've expanded the scope here and I think this needs to be a ZLC item in cooperation with System Squad and OMP.

[2021-01-13 14:46] armstro commented on #110
Close per @nkocsis

[2021-01-13 14:46] #110 closed, assigned to nobody

[2021-01-13 14:47] armstro commented on #217
Close - many thanks to @RASakach for getting meeting organized

[2021-01-13 14:47] #217 closed, assigned to nobody

[2021-01-13 14:48] armstro commented on #219
Close many thanks to @RASakach for pulling together questions

[2021-01-13 14:48] #219 closed, assigned to armstro, RASakach

[2021-01-13 15:07] armstro commented on #189
@phaumer we would like to close this issue if you agree - we think we have improved publishing meeting calendars (yes a Zoom account may be needed for security reasons) .....we do understand that logging of recordings is not consistent across squads and improvement is needed. We will ask the squads to improve - especially when requested by community members (due to time zone issues).

[2021-01-13 15:07] #189 closed, assigned to nobody

[2021-01-13 16:00] armstro commented on #183
Closing - TSC created, staffed and charter in discussion. Positioning of ZLC and TSC is work in progress. See https://github.com/zowe/zlc/issues/220 for additional info

[2021-01-13 16:00] #183 closed, assigned to Joe-Winchester, 1000TurquoisePogs, MarkAckert, solsu01, armstro

[2021-01-19 09:04] balhar-jakub commented on #216
@armstro Could you please move that to the Community repo with TSC label?

@jmertic You mentioned that some other project within the Linux Foundation is discussing the involvement.

For everyone there are multiple ways how to participate.
- Either Linux Foundation will participate as umbrella organization - In this case at this moment someone from the Linux Foundation needs to prepare the applicat

[2021-01-19 12:46] jmertic commented on #216
@balhar-jakub Generally we've seen each LF project/umbrella apply separately vs having one blanket organization for all 450+ hosted projects. I think Jakub having you apply for Open Mainframe Project as an org makes the most sense.

[2021-01-19 15:40] Joe-Winchester commented on #216
Proposal:  **Graphical awareness of UIs in the API Gateway**
Problem:   Logging onto the API Gateway takes the user to the API Catalog which shows a set of tiles for registered API services.  The API Mediation layer can also have UIs registered.  Base Zowe has four UIs registered (ZLUX, MVS Explorer, USS Explorer, JES Explorer) and Zowe conformant plugins can (and do) introduce their own.  The URL

[2021-01-19 15:41] balhar-jakub commented on #216
@jmertic Ok I will continue with the execution with this in mind and looking into applying as the Open Mainframe Project.

@bobdahlberg Could we have maybe a short discussion to make sure that we don't canibalize in any way on the Open Mainframe Project mentorships?

It seems that there are some ideas available within the Zowe, that may be interesting for the mentees and for which we could find me

[2021-01-19 21:52] armstro commented on #216
Apologies - I copied this issue to the TSC repo when I should have transferred it - I will close this issue and please refer to https://github.com/zowe/community/issues/952

[2021-01-19 21:52] #216 closed, assigned to jmertic, armstro

[2021-01-20 12:09] armstro commented on #220
[Zowe ZLC proposal 2021 Draft .pptx](https://github.com/zowe/zlc/files/5842228/Zowe.ZLC.proposal.2021.Draft.pptx)

These slides are proposed modifications to the ZLC charter on the zowe.org web site

[2021-02-11 20:05] armstro opened #222 "Should Zowe adopt ICLA as replace for DCO process (if possible)"
IBM has 5-7 new deverlopers joining various squads. These are members of an team we refer to as Jump Start - they earn credit/badge for open source contributions. They are not full time on Zowe - this is in addition to their day job.

One "process issue" we should decide is whether Zoew/OMP want to put in place a ICLA from the developers as their signed assertion of the originality of their commit

[2021-02-20 14:06] armstro opened #223 "How to acclerate adoption of PSI for Zowe distribution"
Request to add PSI (newer z/OS distribution file format) to Zowe code (currently Pax and SMP/E)

[2021-03-02 21:57] pdubz3 commented on #223
I had some internal discussions about this to figure out what might be the best path forward.  The Broadcom team might have the resources and some automation in place that would enable testing of a sample Zowe PSI, to validate the concept and identify any significant obstacles.  I'll get some estimates to see if that can be done.  But ultimately, in order to support the PSI format in Zowe, we need

[2021-03-03 13:00] armstro commented on #220
Keeping proposals open for review - PR proposed by Bruce is here https://github.com/zowe/zlc/tree/armstro-patch-4

Peter proposal

[ZAC Rewrite by Peter.docx](https://github.com/zowe/zlc/files/6076091/ZAC.Rewrite.by.Peter.docx)

Bruce comments
[ZAC Rewrite by Peter BA mods.docx](https://github.com/zowe/zlc/files/6076092/ZAC.Rewrite.by.Peter.BA.mods.docx)

@pdubz3 to review/comment

[2021-03-03 14:37] jmertic commented on #220
Adding my thoughts - please loop me in on the next call on this...

[ZAC.Rewrite.by.Peter.BA.mods with JM comments.docx](https://github.com/zowe/zlc/files/6076662/ZAC.Rewrite.by.Peter.BA.mods.with.JM.comments.docx)

[2021-03-04 02:08] armstro commented on #220
[ZAC Draft Charter - Consolidated Comments .docx](https://github.com/zowe/zlc/files/6080339/ZAC.Draft.Charter.-.Consolidated.Comments.docx)
OK - we are getting close - I took most to Mike's edits to condense the verbiage. I replied to John's comments - I think the biggest area of disconnect is regarding ZAC approving incubator projects.

Mike offered some times for working session - I am going to

[2021-03-04 14:22] armstro commented on #220
Just a thought - I think there is agreement that ZLC/ZAC needs to "own" the issue for Zowe Support Conformance program (granted it could be a TSC item but ZLC/ZAC seems a fit) - I would like to dissect the issue as to why this issue is appropriate for ZLC/ZAC and use it as a case study ...I think it is a role beyond "advisory" to TSC .....is it the "business aspect" of conformance? the fact we alr

[2021-03-04 15:03] pdubz3 commented on #220
Bruce, I think conformance for support offerings and distributions would ultimately be a joint effort.  It involves the business aspect of creating the enterprise-grade experience for Zowe customers as well as the rules of engagement for support vendors which I believe to be non-technical details and within the domain of the ZAC.  It also touches the specific details of the Zowe deliverables and h

[2021-03-05 15:53] Joe-Winchester opened #224 "Provide a code ready workspace environment for testing Zowe Explorer"
@Joe-Winchester commented on [Fri Mar 05 2021](https://github.com/zowe/community/issues/1066)

Some features of Zowe Explorer, such as Secure Credentials Plugins, are problematic to install and configure in a code ready workspace.  This creates issues for upstream offerings that deploy Zowe Explorer.

To debug and diagnose these issues it'd be good if there was a code ready workspace available for

[2021-03-08 12:47] armstro commented on #224
Adding Mike to this requirement as resolution may require some vendor cooperation - this requirement has existed since late 2020. There does not appear to be a public/free Red Hat Code Ready Workspace environment for testing but research into this has not been exhaustive.  IBM has a commercial offering (Wazi) that does do IBM internal testing that includes Zowe Explorer. It is assumed (to be confi

[2021-03-10 01:20] armstro commented on #224
One possible lead: https://developers.redhat.com/developer-sandbox

[2021-03-23 18:15] armstro commented on #182
OK - I wanted to dust off this item and see about getting it started..... @jmertic you mentioned Kubernetes has a program for Support - I found this https://www.cncf.io/certification/kcsp/ - do you have any other info? The good news is the criteria is short and sweet but the problem seems to be it is difficult to apply to Zowe....(like Three or more engineers who pass the Certified Kubernetes Admi

[2021-03-23 18:23] jmertic commented on #182
That's probably the best I've seen thus far.

I'd not get hung up on the precise details, but more think about what you would hope that anyone saying they could support Zowe should be able to do. This might be having certain skillsets on staff. This might be community involvement. Might have something related other capacities. I'd encourage y'all to be creative on the way you think about this.

[2021-03-30 18:53] armstro commented on #222
Hey @jmertic - we (IBM) are likely to have another batch of new hires be briefed on Zowe for them to earn "first contributor" badge as part of their developer education.

The people running the education have an Apache background where - I am told - ICLA are used. The new hires are told to seek out the ICLA if they chose Zowe as their open source community to contribute - this causes some confusio

[2021-03-30 19:39] jmertic commented on #222
Right now the Zowe Charter has aligned on the use of the DCO for contributions. It sounds like part of the concern could be messaging and tooling, both things outlined to some degree at https://github.com/openmainframeproject/tac/blob/main/process/contribution_guidelines.md but things I'd be happy to help with improvements in the Zowe documentation. Let me know if this could help

[2021-04-14 10:58] armstro commented on #182
Update - Peter, Mike D and myself have been working on Support Conformance criteria in a couple documents (modeled after the current Zowe conformance programs for Web UI, API ML, etc.) - summary of status and key issues here - more work to do:

- Support conformance would be subdivided like the other conformance programs meaning a vendor could choose to only offer Support on part of Zowe (CLI and

[2021-04-14 12:01] jmertic commented on #182
Glad this is taking shape! A few thoughts based on the questions...

- Requiring squad participation is probably the best bet right now, until some sort of 'Zowe' coursework could go live ( nudge nudge ;-) ). One thought to think about is that you likely will have vendors interested in support conformance that might not have enough of a technical bench to contribute upstream - not to say that squa

[2021-05-24 14:55] jmertic commented on #220
Seeing where this is at - I see the ZLC right now operating with good intentions, but without a solid swimlane. Let me know what I can do to help drive this forward.

I recall the last discussions were transitioning the ZLC to more of a 'vendor advisory group' with participation driven by organizations with Zowe Conformant offerings and its role to advise the TSC and being a resource for the TSC i

[2021-05-24 16:07] armstro commented on #220
John - we want to close on the Support Conformance first and then revisit
the charter.....PI Planning and Incubators took up time in 1Q..... the TSC
has (I think) settled on their charter and there are a few things they ask
of the ZLC/ZAC that we need to sort out......

Bruce Armstrong
IBM Z Product Manager assigned to  zowe.org
4205 S MIAMI BLVD, DURHAM NC 27703-9141
Email: ***@***.***
Tel: 919-2

[2021-05-25 00:32] armstro commented on #182
Many thanks to Rose for keeping up moving on the Support Conformance Program. Latest draft is attached - comments:

1) We state Support can be Comprehensive (meaning all of Core Zowe) or a subset (i.e, Partial). We also state "Best Practices" implies Support beyond Core - do we want to coin a term other than Best Practice - like Comprehensive+ ?

2) Do we need to a "finger print" program equivalen

[2021-05-25 11:32] jmertic commented on #182
This does look good - thanks Rose!

Some comments...

This feels like it could get messy, and considering some of the recent activities we've seen with ransomware the phrase "regardless of where obtained" is also something that should be discouraged.

We should also define "binary-equivalent"

Something that should be defined, as Rose pointed out.

What does this mean?

I'd think this would basica

[2021-05-25 12:52] armstro commented on #182
John - if you can join the ZLC call today maybe we can talk thru some of
these

- Regarding multiple sources of the code - we already have zowe.org, 2
vendor sites, npmjs registry, Docker hub (not yet core) as multiple
sources .....I don't think we can control where the code is hosted (don't
want to limit other Support Providers from having their own distribution)

- Regarding binary equivalent -

[2021-05-25 20:23] armstro commented on #182
Let me try to summarize the changes made after the ZLC call this morning (and we need to work with the TSC on a few items).

In layman's terms
- Used the term authenticated binary to be Supported (and pointer to Zowe doc that describes)
-  For clarity say support must be all active/maintenance releases in a version
- Code changes due to fixes need to be contributed back (consistent with EPL 2.0)
-

[2021-05-25 21:27] PeterFandelAtRocket commented on #182
I added new text for footnote 1.2 and made items 9 and 11 requirements (x was missing)
[Zowe.Support.Conformance.V1b.-.5-25-21.xlsx](https://github.com/zowe/zlc/files/6542477/Zowe.Support.Conformance.V1b.-.5-25-21.xlsx)

[2021-06-01 17:47] armstro commented on #182
[Zowe.Support.Conformance.V1-Near Final .xlsx](https://github.com/zowe/zlc/files/6578384/Zowe.Support.Conformance.V1-Near.Final.xlsx)
OK - I did my best to incorporate all the comments from today's ZLC - please read top to bottom including footnotes. I would like to bring this to a vote ASAP. I think we also agreed TSC will own "what is core".

[2021-06-01 18:09] jmertic commented on #182
Looking better! I think there is some wordsmithing that can be done to clean things up, but nothing major.

[2021-06-01 19:56] PeterFandelAtRocket commented on #182
I read the whole thing and reworded item #2 and also made a bunch of really minor comments.

I am happy to integrate into a new version myself if you want – just say the word Bruce.

From: Bruce Armstrong ***@***.***>
Sent: Tuesday, June 1, 2021 1:48 PM
To: zowe/zlc ***@***.***>
Cc: Peter Fandel ***@***.***>; Assign ***@***.***>
Subject: Re: [zowe/zlc] Establishment of Zowe Support Provider Confor

[2021-06-02 13:15] armstro commented on #182
@PeterFandelAtRocket happy to have you "hold the pen" on this - I had asked Rose to review but I don't see her on the issue assignee list so she may not be seeing these updates. (and I am not sure she's even in the zlc issues repo to be assigned). My comments to your comments:
- Use of Bold was once used to show delta from one version of the spreadsheet to another - bold can be removed
- Use up ca

[2021-06-02 13:47] pdubz3 commented on #182
No objection to Peter making the updates he proposed.

[2021-06-02 13:53] pdubz3 commented on #182
Minor wording question, we may have covered this before so I apologize in advance if we have ... if a criterion is indicated as "required" is it less ambiguous to avoid words like "should" in the description in favor of words like "must"?  For example in the first section, saying "Customers being supported should not be required to go to a particular vendor distribution channel ..." makes that sou

[2021-06-02 13:59] PeterFandelAtRocket commented on #182
[Zowe.Support.Conformance.V1-Near.Final.rev2.xlsx](https://github.com/zowe/zlc/files/6585009/Zowe.Support.Conformance.V1-Near.Final.rev2.xlsx)

I applied all my edits as well as replaced "should" with "must" per Mike's previous comment.

I also made the cells containing URLs to be active hyperlinks.

I left the Joe W italicized comment for now.

[2021-06-02 14:03] pdubz3 commented on #182
Thank you @PeterFandelAtRocket.  There's a second instance of "should" in one of the footnotes but I'm less certain as to whether it's really a "must".  The footnote is about emergency fixes and it reads "Support Vendor Agrees:  If any fixes require changes to the Zowe codebase then under the terms of the EPL 2.0 license, the modified code must be made available to the Zowe community.  This **shou

[2021-06-02 14:26] PeterFandelAtRocket commented on #182
Replaced other 'should' with 'must'
[Zowe.Support.Conformance.V1-Near.Final.rev3.xlsx](https://github.com/zowe/zlc/files/6585225/Zowe.Support.Conformance.V1-Near.Final.rev3.xlsx)

[2021-06-08 14:05] armstro commented on #223
Being worked as part of this PI Planning interval - closing this item

[2021-06-08 14:05] #223 closed, assigned to PeterFandelAtRocket, pdubz3

[2021-06-08 14:08] armstro commented on #222
Closing as the Zowe squads have some tooling now to prevent the DCO problems of the past.  ICLA was requested by new contributors to Zowe that were not aware of the DCO process and ran into problems.

[2021-06-08 14:08] #222 closed, assigned to jmertic, armstro

[2021-06-08 15:01] armstro commented on #170
The TSC will work the "what is core" question in this issue https://app.zenhub.com/workspaces/community-5c93e02fa70b456d35b8f0ed/issues/zowe/community/1207 ZLC will provide opinion for TSC consideration - I will summarize the ZLC discussion today in this issue. Core definition is part of the Support Conformance criteria and included in LTS scope description.

[2021-06-08 15:01] #170 closed, assigned to armstro

[2021-06-08 15:11] armstro opened #225 "Zowe Certification testing as part of Zowe Conformance"
Zowe Conformance criteria today consists of vendors identifying the active contributors to the squads with no real indication of skills of the individuals. This issue is to establish certification test criteria for the future as a measure of skills aptitude. Example to research is Kubernetes certification.

[2021-06-10 22:20] RASakach commented on #182
@armstro @PeterFandelAtRocket @pdubz3 :  Apologies for the late review.  This looks really good!  I've attached a V4 with some minor comments for your consideration.  They do not change the underlying messaging, this was my attempt to make the point a bit more clear.
[Zowe.Support.Conformance.V1-Near.Final.rev4.xlsx](https://github.com/zowe/zlc/files/6634716/Zowe.Support.Conformance.V1-Near.Final.

[2021-06-11 11:09] armstro commented on #182
Thanks Rose - regarding "how the notification" will occur to the TSC regarding emergency fixes - @nkocsis was working with the TSC on how customer issues could be raised and be better visible - maybe there is something that can be done for emergency defects? Just a thought

Regarding filling in some of the links - the TSC is working on how to describe core (https://github.com/zowe/community/pull/1

[2021-06-11 12:29] nkocsis commented on #182
Once we have a process in place where we know that the squads are reviewing the incoming customer issues then I would expect that it would handle "Emergency" defects.

[2021-06-18 14:53] armstro commented on #220
OK - let's try to reboot the charter discussion - I think we start here to recall what is already out there
https://github.com/zowe/zlc

I think we need to read TSC charter for positioning of ZLC/ZAC role
https://github.com/zowe/community/blob/master/Technical-Steering-Committee/charter.md

We can discuss the word doc (I don't think a PR has been started)...

[ZAC Draft Charter - Consolidated Comm

[2021-06-28 19:57] armstro commented on #182
Proposed 1 slide for July 21 webinar - draft - 2-3 mins max

[2021 July Zowe Quarterly Webinar Series - Support Conformance Slide .pptx](https://github.com/zowe/zlc/files/6728959/2021.July.Zowe.Quarterly.Webinar.Series.-.Support.Conformance.Slide.pptx)

[2021-06-29 01:04] armstro commented on #220
Document attached is merge of the existing TSC charter, Contributor File with roles (for reference) and CNCF Principles to be considered for Zowe principles

Possible areas for ZLC (ZAC) to serve as **advisors**
- Summary of requirements/feedback from stakeholders (Member vendors, customers/consumers/extenders, ISVs, GSIs, Academic users, ...)
- Future hills based on indicators of market needs
- M

[2021-06-29 18:43] pdubz3 commented on #182
Bruce, thanks for taking the time to create a slide for the webinar.  As we discussed offline I created a second draft using mostly your content but focusing a little more on the value of the program to the Zowe user, and then the steps a vendor takes and the principles of the program.    I left the original but added a second slide for the alternate draft.
[2021.July.Zowe.Quarterly.Webinar.Series

[2021-06-29 23:46] armstro commented on #182
Thanks Mike - your slide is great - let's go with it.

[2021-07-13 11:59] armstro commented on #182
[Zowe.Support.Conformance.V1-Near.Final.rev5.xlsx](https://github.com/zowe/zlc/files/6808629/Zowe.Support.Conformance.V1-Near.Final.rev5.xlsx)

Captured link to define "core" in the spreadsheet

[2021-07-16 13:58] armstro commented on #182
[Zowe.Support.Conformance.V1-Near.Near.Final.rev6.xlsx](https://github.com/zowe/zlc/files/6830991/Zowe.Support.Conformance.V1-Near.Near.Final.rev6.xlsx)

If we are going to preview (and request comments for) the Support Conformance at the up coming Zowe Quarterly Webinar then I thought I would tweak some of the open gaps we had in prior spreadsheet. Please read closely - I incorporated Rose's comm

[2021-07-19 18:20] armstro commented on #220
[ZAC.Draft.Charter - July 19 2021 .docx](https://github.com/zowe/zlc/files/6843072/ZAC.Draft.Charter.-.July.19.2021.docx)

Much simpler ZAC Charter - topic for July 20 ZLC/ZAC call

[2021-07-19 19:03] armstro commented on #182
[Zowe.Support.Conformance.V1-Final July 19 2021.xlsx](https://github.com/zowe/zlc/files/6843270/Zowe.Support.Conformance.V1-Final.July.19.2021.xlsx)

[2021-07-20 12:01] armstro commented on #220
[2021.July.Zowe.Quarterly.Webinar.Series.ZAC Overview .pptx](https://github.com/zowe/zlc/files/6848064/2021.July.Zowe.Quarterly.Webinar.Series.ZAC.Overview.pptx)

Proposed summary of ZAC

[2021-07-20 12:37] armstro commented on #220
[ZAC.Draft.Charter - July 20 2021 .docx](https://github.com/zowe/zlc/files/6848301/ZAC.Draft.Charter.-.July.20.2021.docx)

Incorporating comments

[2021-07-27 18:10] armstro commented on #220
@jmertic above is proposed ZAC charter - question is what - if anything - do we need to do to sunset ZLC charter and related zowe.org content?

[2021-07-28 13:57] jmertic commented on #220
Thanks Bruce - I'm reading the charter and struggling a bit with the concept of an "advisory" group having specific responsibilities or "owning" activities. I would have anticipated this group similar to a [customer advisory council](https://en.wikipedia.org/wiki/Customer_advisory_council), which would be easy to convey as a model to the mainframe community and add more clear direction/focus. Happ

[2021-07-28 14:38] armstro commented on #220
Hey @jmertic - I think you had asked where we were with the ZAC charter - I provided you this github info - let us finalize the proposal - it likely needs a little clean up and simplification.

The "owning" activities is meaning action items assigned by TSC but maybe the word "owning" is not right term or we just need to say action items as agreed. We also need to figure out what to do with the zo

[2021-07-28 18:59] jmertic commented on #220
Got it - didn't realize the charter was still at an early stage.

Transition-wise, I think messaging to the community on the transition should be sufficient; it might be good to have the TSC review and approve the plan for the ZAC as well.

[2021-07-30 18:47] armstro opened #226 "ZAC input to Zowe Principles"
TSC is authoring Principles for the community - see https://github.com/zowe/community/issues/1136 extracted from: https://github.com/cncf/toc/blob/main/PRINCIPLES.md - this issue is for ZLC/ZAC to provide input to the TSC process.

I will not duplicate all the material here in the links above - only summary for context and comments on where Zowe might differ. We may want to just insert our comment

[2021-07-30 19:52] armstro opened #227 "ZAC input to incubator criteria"
What criteria do we look for in an incubator proposal - process here https://github.com/zowe/zlc/blob/master/process/proposal_process.md (but this should be moving over to TSC)

_Starter set_ from ZAC
- Consistent with the Zowe principles (when published) - good for platform/ecosystem, ...
- Appeals to Next Gen IT Staff - forward looking technologies
- Existing or potential integration with one or

[2021-08-02 11:00] PeterFandelAtRocket commented on #226
Feature space defined as "projects that fit ‘mainframe’ and integrate to the distributed and cloud environments".
These words do imply "distributed" interfaces, but should we be more explicit and add a few words about meeting contemporary (not Z-specific) interface expectations (standards, tools, programmatic and graphical)?

[2021-08-02 11:06] PeterFandelAtRocket commented on #227
Good start. Can't think of more now. Let's discuss in next ZAC mtg.

[2021-08-02 13:17] armstro opened #228 "ZAC - vision setting - where do we want Zowe to be in 2 years"
One take away from the discussions with Node.js team was to have a vision of where we would like to see the project at some future date. Node mentioned 10 years? I recommend we pull in the target to 2-3 years?

Ideas:
- Zowe to be the preferred (or defacto standard) interface to z/OS services
- Zowe services have two deployment options :
- 1) easy USS deploy/configure
- 2) portable containers with

[2021-08-02 15:10] armstro opened #229 "ZAC input to project maturity criteria - incubator to sub-project/squad"
In addition to describing the criteria for recommending a proposal be accepted as an incubator, when to "promote" a incubator to the open community needs documented. See TSC item https://github.com/zowe/community/issues/1228. Proposed criteria (maybe different criteria for "core" vs "extended/optional" content).

- Has demonstrated sufficient code quality to meet TSC objectives for Zowe (doc, auto

[2021-08-03 15:24] PeterFandelAtRocket commented on #220
I made another version to address John's concerns and attach two copies - one showing what I changed and the other with all changes accepted.
[ZAC.Draft.Charter.-.August.3.2021-visible-edits.docx](https://github.com/zowe/zlc/files/6925255/ZAC.Draft.Charter.-.August.3.2021-visible-edits.docx)
[ZAC.Draft.Charter.-.August.3.2021.docx](https://github.com/zowe/zlc/files/6925257/ZAC.Draft.Charter.-.Augu

[2021-08-03 16:12] pdubz3 commented on #220
Peter, I reviewed your edits and they're good.  I corrected two errors, one grammatical and one spelling (a typo).
[ZAC.Draft.Charter.-.August.3.2021.docx](https://github.com/zowe/zlc/files/6925573/ZAC.Draft.Charter.-.August.3.2021.docx)

[2021-08-06 07:46] balhar-jakub commented on #226
This is where we (TSC) collect our input to the discussion: https://github.com/zowe/community/pull/1242/files

It seems that in general, we are looking in the same direction.

[2021-08-10 12:32] jmertic commented on #220
What is the state of this document? I had lots of feedback but want to be conscious of where things are at.

[2021-08-10 12:46] armstro commented on #220
I will ask in the ZLC/ZAC call today - I think we are done - next step is ask TSC to approve. We need to figure out how to update the zowe.org website - there are many references to ZLC .....I propose we provide an explanation of the name and mission change and strip out all the rest

[2021-08-10 13:01] jmertic commented on #220
Got it - can we schedule time this week to walk through this more?

[2021-08-12 17:48] PeterFandelAtRocket commented on #228
#1 Yes
#2 Not sure about " bias towards zCX deploy and configure (exploiting its adjacency to z/OS)".  Does it need mentioning? I want to get feedback from others e.g. Sean whether the z/OS adjacency is a notable benefit as compared to Linux/Z?  Also, how about an iii?  The entire Zowe dev community all run all of the so called z/OS Zowe components (except ZIS/ZSS) off Z when developing.  Why the

[2021-08-12 18:04] pdubz3 commented on #228
Peter, your reference is to "Zowe created an added layer of security to the already secure z/OS systems"?

I think we agreed on a recent call that this should be reworded.  It's not really within scope for Zowe to add a security layer, implying that Zowe is somehow a player in the security business.  However, we're facilitating access to mainframe services, and that needs to be seen as "secure acc

[2021-08-12 18:28] pdubz3 commented on #228
Also, on the topic of "Zowe services have two deployment options :" in general, I'm not sure I understand why we want a requirement for specifically two deployment options, unless you're just saying "container" and "not container".  In that case, I think it's sufficient to state the vision as "Zowe remains easy to deploy and configure and offers an option for containerization." ???

[2021-08-12 18:35] PeterFandelAtRocket commented on #229
These are great.  My only comment is to tweak "Has demonstrated sufficient code quality to meet TSC objectives for Zowe (doc, automated testing, etc.)"   to be more explicit about integration into build & test pipeline and automated tests having been written and integrated.  So "Has demonstrated sufficient code quality, automated build/test integration, and automated test coverage to meet TSC obje

[2021-08-12 18:40] PeterFandelAtRocket commented on #228
Mike I think you nailed it with "Zowe is respectful of preserving mainframe security and embraces the use of advanced authentication and authorization features when interacting with mainframe services."

[2021-08-12 18:45] PeterFandelAtRocket commented on #228
"Zowe remains easy to deploy and configure and offers an option for containerization." could be read to mean it is generally accepted to be easy to deploy and config today.  This is far from universally accepted.  More work needs to be done.  If we are going to be less specific on options (to which I am amenable) I would go with "Zowe supports the deployment options demanded by the user and exploi

[2021-08-12 18:49] pdubz3 commented on #228
Yeah, "remains" was the wrong word.  Maybe should have said "strives".  But your rewrite may be even better because it eliminates the specific reference to containers and emphasizes that the users and exploiters should determine how Zowe is delivered.  I like that even better.  Somehow I think the statement can still be simplified.  Need to think it through a little ...

I'm back ... how about thi

[2021-08-13 18:06] pdubz3 commented on #228
General thoughts on this list - and probably something we should discuss on a working call rather than here ...

I'm OK with the ideas in the list.  But I think this feels more like a set of rules rather than a vision.  Aside from the first bullet, I feel like it's heavy on the "how" and light on the "who" and the "what".  In fact if you remove the first bullet, it doesn't really say anything abou

[2021-08-13 18:19] pdubz3 commented on #227
"Consistent with Zowe **vision and principles**".  And presumably, that already checks the box for "good for platform" otherwise we've done a poor job on the vision and principles.  :-)  I also think "appeals to next gen" should be in the vision (see my earlier comments in #228).

"Existing or potential integration with one or more Zowe core (examples: one or more REST APIs, Desktop, CLI or VS Cod

[2021-08-13 18:22] pdubz3 commented on #229
As per my comments in #227 I don't think we should accept a new incubator unless we understand the success criteria, the capacity, the general time frame, etc.  If we agree that those should be established up front, then meeting (or failing to meet) the criteria should definitely be part of the maturity or exit criteria in addition to these item you've identified.

[2021-08-18 21:44] armstro commented on #228
OK - let me try to merge the comments and yes we probably need a working session to has this out. Not sure if some (most) of these are "principles" vs 3 year vision? Should we be talking in "hill speak" (per request from Jakub with who, what, criteria and "wow" in SAFe)?

By 2024 (3 years) - assume Zowe V2 is in maintenance and V3 LTS have been released:

1) **Zowe is the preferred "defacto" stand

[2021-08-19 00:12] armstro commented on #220
Forgive me - I felt the need to beat the horse but a little bit more

1) Softened the Product Management comment a little tiny bit to "The ZAC brings a product management perspective to the community and acts in cooperation with the others Zowe squads such as the Zowe Technical Steering Committee (TSC) and the Zowe Onboarding squad."

2) Added sub-bullet to explain "hill" (with link to SAFe method

[2021-08-19 00:36] armstro opened #230 "Blog Explaining ZLC to ZAC"
As we work with the TSC on Zowe.org changes we should have a blog to explain the ZLC to ZAC transition - some ideas:

- One thing fun about open source is the freedom to change and adapt.
- The community formed the TSC earlier this year and it is now well established.
- Zowe is a collection of teams (we call squads) and the TSC is made up on squad leaders who work cross squad to advance Zowe.
- We

[2021-08-19 10:33] PeterFandelAtRocket commented on #220
I think your new language is just right

From: Bruce Armstrong ***@***.***>
Sent: Wednesday, August 18, 2021 8:13 PM
To: zowe/zlc ***@***.***>
Cc: Peter Fandel ***@***.***>; Assign ***@***.***>
Subject: Re: [zowe/zlc] Future ZLC structure (#220)

EXTERNAL EMAIL

Forgive me - I felt the need to beat the horse but a little bit more

  1.  Softened the Product Management comment a little tiny bit to

[2021-08-19 11:56] armstro commented on #229
Peter -  point taken on TSC objectives ...

Mike -  one comment on success criteria - do you think we know that going into an incubator? What would you say for wiZard or Mobile? .....I'm a bit more inclined to roll the dice if we think they have potential and see what happens - I think we need some discipline on  pruning out stale efforts rather than managing too hard on the front end of the propo

[2021-08-19 12:26] pdubz3 commented on #229
Makes sense.  If we really don't know what to expect from an incubator and we still want to roll the dice and see what happens, we should alternatively be able to set a target date for establishing the success criteria.  In that case, I would hope we could at least define up front what we hope to learn that might help us to decide, and how long that should reasonably take.  I want mobile to succee

[2021-08-19 13:05] armstro commented on #229
Don't give up on recommending some sort of criteria - maybe it is a quarterly checkpoint? What if we recommend they be able to give update at each PI planning and if they have no update we offer help (if we can) - maybe it is more publicity - maybe we look at the resource assigned - etc? If they miss 3 concurrent PIs then we take some action?

[2021-08-19 13:08] PeterFandelAtRocket commented on #229
I agree to the quarterly PI update ask.  We need to be less lackadaisical on incubator monitoring. It is for their own good :-)

[2021-08-19 13:37] pdubz3 commented on #229
For monitoring, I agree with having regular checkpoints and PI Planning seems like a logical way to remember.  (like changing the batteries on your smoke detector when you move the clocks) but you still need to have something to measure the progress against, otherwise how do you know if the progress is good?

[2021-08-20 17:01] RASakach commented on #182
@armstro Please review to ensure all URLs have been changed - I believe I found all of them.
[Zowe.Support.Conformance.V1-Final.July.19.2021+links.xlsx](https://github.com/zowe/zlc/files/7023053/Zowe.Support.Conformance.V1-Final.July.19.2021%2Blinks.xlsx)

[2021-08-20 17:13] armstro commented on #182
Thanks x100 Rose - links look good and I checked each one - they work!

[2021-08-31 15:13] armstro opened #231 "Zowe Security Points for zowe.org"
What should we say "for the record" on Zowe and security - starting points:

- Zowe is for for z/OS by z/OS knowledgeable contributors who understand the unique role for z/OS in the world
- We adhere to CII practices (silver today moving to gold) - provide pointer/link
- We utilize OMP security practices (DCO and scans) - scans to be confirmed
- The contributing vendors have their own security pra

[2021-09-03 11:21] armstro commented on #226
I like the TSC list - I am fine with Peter's point using contemporary interfaces (although I am not real sure of the right term to use) - I think the days of "distributed" and "mainframe" will fade away with the shift to containers - what do we call containers? contemporary technology?

I have thought of two other principles for discussion (that is already somewhat mentioned) .....

1) I don't thi

[2021-09-13 16:43] armstro opened #232 "ZAC input on Zowe USS Install/Config improvements"
In a recent (internal) innovation week some additional thought was put into Zowe install/config issues - I would like the ZAC to work on hills for future PI Planning. Draft thinking attached .
[Zowe AppStore - Hills Draft .pptx](https://github.com/zowe/zlc/files/7156014/Zowe.AppStore.-.Hills.Draft.pptx)

[2021-09-24 18:24] PeterFandelAtRocket commented on #230
Thanks for creating this issue Bruce.  I took the action item from our last ZAC meeting to kick this off with a draft document we can all start contributing to collectively, and went ahead and wrote the attached draft before noting that you had written the above bullets.  So please do not take my draft's omission of those bullets as a rejection of them.  I just ran out of Zowe time today
[Who is Z

[2021-09-24 19:01] PeterFandelAtRocket opened #234 "Create ZAC presentation for Q4 webinar"
[What's new from the ZAC - Q4 2021.pptx](https://github.com/zowe/zac/files/7227902/What.s.new.from.the.ZAC.-.Q4.2021.pptx)

[2021-09-24 20:21] pdubz3 commented on #230
Peter, excellent start.  I've reviewed the existing content and made a few suggestions as comments (attached here).
[Who.is.Zack.docx](https://github.com/zowe/zac/files/7228219/Who.is.Zack.docx)

[2021-09-27 20:29] armstro opened #235 "Any ZAC content for SHARE 2022?"
The submission deadline is Friday, October 8, so plan accordingly and forward this invitation to colleagues as appropriate.

https://www.share.org/Events/Submit-a-Presentation

Note: All speakers will be required to present in-person for SHARE Dallas.

[2021-09-28 11:57] armstro commented on #230
One observation - maybe some acknowledgement needed of TSC operating under the policies and practices of the Linux Foundation to explain the project is part of a bigger org?

Some words off the top of my head:

ZAC membership and governance

The Zac is open to all interested parties of Zowe's future. It is a group to focus on "what to build next" for the good of the z/OS platform. Your participati

[2021-10-01 13:35] PeterFandelAtRocket commented on #230
With this new version I have incorporated all feedback thus far provided   ...hopefully to satisfaction.

[Who.is.Zack.docx](https://github.com/zowe/zac/files/7267567/Who.is.Zack.docx)

[2021-10-05 13:44] PeterFandelAtRocket commented on #231
Security squad is working on this and will result in a charter of sorts that should address this issue.  To be reviewed once it is ready for review.

[2021-10-05 13:50] PeterFandelAtRocket commented on #226
Leave open pending TSC completion for one more review by ZAC

[2021-10-05 13:53] #225 closed, assigned to PeterFandelAtRocket, armstro, pdubz3

[2021-10-05 13:54] PeterFandelAtRocket commented on #225
Zowe support conformance program has been put in place.  This may be eventually desired but will be handled by the TSC after v2 comes out

[2021-10-05 13:55] PeterFandelAtRocket commented on #220
ZLC dead. Long live ZAC!

[2021-10-05 13:56] PeterFandelAtRocket commented on #182
Done!

[2021-10-05 13:56] #182 closed, assigned to PeterFandelAtRocket, armstro, pdubz3

[2021-10-05 13:57] #95 closed, assigned to nobody

[2021-10-05 13:58] PeterFandelAtRocket commented on #95
Closed

[2021-10-05 13:59] PeterFandelAtRocket commented on #220
done

[2021-10-05 13:59] #220 closed, assigned to Joe-Winchester, PeterFandelAtRocket, 1000TurquoisePogs, MarkAckert, armstro, pdubz3

[2021-10-05 13:59] PeterFandelAtRocket commented on #218
Now an OMP project to get Z resources...

[2021-10-05 13:59] #218 closed, assigned to PeterFandelAtRocket, MarkAckert

[2021-10-05 19:36] pdubz3 commented on #224
Spoke with Mike Bauer following the ZAC meeting today and he feels that this is not urgent and can be closed until the becomes urgent.

[2021-10-05 19:36] #224 closed, assigned to armstro, pdubz3

[2021-10-11 18:01] PeterFandelAtRocket commented on #229
•	See pull request …/pull/1241

[2021-10-12 13:52] PeterFandelAtRocket commented on #159
Investigate another solution here: https://dev.to/mizchi/run-crossbrowser-e2e-testing-on-github-actions-671

[2021-10-13 20:01] PeterFandelAtRocket commented on #230
New version
[Who.is.Zack oct12.docx](https://github.com/zowe/zac/files/7341002/Who.is.Zack.oct12.docx)

[2022-01-11 20:53] pdubz3 opened #237 "Featuring Compatible Commercial Offerings"
Zowe needs a place where vendors can feature their Zowe-compatible commercial offerings.

The Zowe Doc is not the right place to link to specific commercial solutions.  It creates the impression that Zowe endorses those solutions, and that the Zowe community validates them in an ongoing manner as well.  Following the discussion on today's ZAC call, I'll be creating an issue for the Doc Squad to up

[2022-01-11 21:17] jmertic commented on #237
Doesn't the Zowe Conformance Program address this?

[2022-01-11 21:22] pdubz3 commented on #237
Not completely.  It certainly does for commercial offerings that provide conformant desktop applications or APIs or CLI plugins.  However, there are more ways to be compatible with Zowe and we don't have conformance programs in place for all of them.  The compatibility that drove the conversation this morning is Multi-Factor Authentication.  Today, the Zowe documentation explicitly lists (and link

[2022-01-11 21:26] jmertic commented on #237
Sounds like a conformance program would be the right way to go - that lets the community set the specific requirements and have it be independently validated. Otherwise, ownership of adding new entities is up to the doc squad which I don't think is what folks are after.

[2022-01-11 21:48] armstro commented on #237
Not sure we are on the same page here - they are not integrating with Zowe. Zowe is integrating with another piece of software - a proprietary one. If the MFA product(s) had their own conformance program then yes Zowe conforming to their criteria would make sense but there is none. This is Zowe making use of one or more vendor specific interfaces due to security requirements from our consumers.

[2022-01-12 12:15] jmertic commented on #237
Good points @armstro.

I think the two things I'm hearing from this thread are...

1) Zowe project itself shouldn't be in the position of recommending MFA solutions.
2) A new MFA solution effectively needs to be a committer to Zowe to have its solution supported, which isn't good either.

Those two points are what was driving me to think of going down the path of the Zowe Conformance Program. If t

[2022-01-25 14:23] jmertic opened #238 "Create training for Zowe Administrators and Developers"
As Zowe is now stabilizing down, the next logical step is to drive a community built Zowe Adminstrator and Zowe Developer training, along with a certification, that will help grow the market and enable customers and vendors.

Kubernetes is a great pattern to follow:

https://training.linuxfoundation.org/?s=kubernetes&filter=certification
https://training.linuxfoundation.org/?s=kubernetes&filter=tr

[2022-02-08 19:30] #159 closed, assigned to jmertic, NakulManchanda, armstro

[2022-02-08 19:30] pdubz3 commented on #159
Still gaps here but not a significant issue and will revisit if this becomes a problem.

[2022-02-08 19:31] pdubz3 commented on #226
This is complete.

[2022-02-08 19:31] #226 closed, assigned to PeterFandelAtRocket, armstro, pdubz3

[2022-02-08 19:31] pdubz3 commented on #227
This is complete.

[2022-02-08 19:31] #227 closed, assigned to PeterFandelAtRocket, armstro, pdubz3

[2022-02-08 19:32] pdubz3 commented on #231
This is being tracked by the system squad, ZAC issue no longer needed.

[2022-02-08 19:32] #231 closed, assigned to nobody

[2022-02-08 19:33] pdubz3 commented on #234
Completed.

[2022-02-08 19:33] #234 closed, assigned to nobody

[2022-05-16 11:05] #229 closed, assigned to PeterFandelAtRocket, armstro, pdubz3