[2018-08-20 01:34] Tbr00ksy opened #3 "Open Source Development Metrics"
Can we look into using a tool like [Grimoire Lab](https://chaoss.community/software/) to help us assess the health of our community?

[2018-08-20 01:52] hogstrom commented on #3
This looks really interesting.  Do you have familiarity in setting it up and using it ?

Matt Hogstrom
matt@hogstrom.org
+1-919-656-0564
PGP Key: 0x90ECB270
Facebook <https://facebook.com/matt.hogstrom>  LinkedIn <https://linkedin/in/mhogstrom>  Twitter <https://twitter.com/hogstrom>

“It may be cognitive, but, it ain’t intuitive."
— Hogstrom

[2018-08-20 13:31] ghost opened #4 "Provide access to Z/OS instance."
I am new to mainframes and would like to try out Zowe. However, I don't have access to any Z/OS machines. Please provide a way to try out Zowe.

[2018-08-20 13:56] ghost commented on #4
From slack conversation with Joe winchester ,

Preferably, a private sandbox so that I may get to experiment with Z/OS environment too.

Again, preinstalled with zowe but a private one. As for the duration, a month seems fine.

I think, it would be nice if Zowe is combined with the master the mainframe tutorials. Would allow newbies like me to explore the mainframe world better.

[2018-08-21 11:57] fbeyl commented on #4
That is ok for people new to mainframe.  I have been for decades on mainframe but would like to convince colleagues, management to modernise z environment. Showing zowe in action without installation would be a great help. So one basic common system should be ok for me.

[2018-08-24 18:37] Tbr00ksy opened #5 "Zowe.org Contribute Page Refresh"
The contribute page (https://zowe.org/contribute/) could be revamped in several ways:

- [x] Add links and descriptions on the slack channels
- [ ] Add graphic for squads and brief description of how the interact?
- [ ] Add link to squad Waffle boards/backlog
- [ ] Add link to groups.io for list of list of scheduled squad meetings

[2018-08-24 18:42] Tbr00ksy opened #6 "Zowe Site Flow"
Need to review different site flows and improve user navigation. Jay/BJ/Jessica?
![screen shot 2018-08-24 at 2 39 36 pm](https://user-images.githubusercontent.com/36775778/44601867-d8012500-a7ab-11e8-8fb1-4a2e5eeaa223.png)
Proposed changes to the arrows in green.

[2018-08-24 18:50] Tbr00ksy opened #7 "Zowe.org Home Page"
Can we consider rethinking the Zowe.org home page? The "Why Zowe?" seems to be addressed by the OMP's static project site. Perhaps it would be more useful to give a brief project overview of "What" Zowe is instead.

[2018-08-24 19:04] Tbr00ksy opened #8 "Zowe Charter"
Can we look at creating a better way for people to view/consume the Zowe charter? i.e. how to propose a new project, how to become a committer, how to become a leader, etc.

[2018-08-24 19:26] Tbr00ksy opened #9 "Youtube Channel"
Need to determine where we can host our demos, tutorials, etc. Can we have a "featured channel" on the OMP's youtube channel? Or do we need to create our own Zowe youtube channel?

[2018-08-27 14:10] nkocsis opened #10 "Update Zowe Contribute Page to include Waffle"
Update https://zowe.org/contribute/
to include instructions on how someone can open a Waffle Issue against Zowe

[2018-08-27 18:41] Tbr00ksy commented on #5
Review issue #10

[2018-08-27 21:19] 1000TurquoisePogs opened #14 "Set commit process w/ identified approvers"
Allow teams to create their own branch. Master would be managed by a small set of core contributors and is updated through pull requests. Initial membership based on people who did most commits in prior giza foundation work. Add the top two committers. If there is a third that can be added based on affiliation for now that would be ideal. Teams to decide. Sean Grady to document.

[2018-08-27 21:59] 1000TurquoisePogs commented on #14
Here are the top 2 contributors, but migrated repositories, and the links to where I found this info.

| Repo | Top 2 Contributors |
| ------ | ----------------------- |
| [zlux-example-server](https://github.com/gizafoundation/zlux-example-server/graphs/contributors) | @1000TurquoisePogs @eamondawes |
| [zlux-build](https://github.com/gizafoundation/zlux-build/graphs/contributors) | @eamondawes @

[2018-08-28 15:46] Tbr00ksy commented on #10
@BrandonJenkins14 @nannanli

[2018-08-28 17:52] nkocsis commented on #10
Since there are various Projects, we need to describe them in such a way so that people know which one to open an Issue against.

zowe/zlc
zowe/docs-site
zowe/imperative
zowe/zowe-install-packaging
zowe/zlux

[2018-08-28 20:46] jayenzi opened #15 "OMP Landing page imagery"
![omp_landing_image](https://user-images.githubusercontent.com/39416146/44749576-e9ff0280-aae0-11e8-862d-e6cd726f7fc8.jpg)

Can we look at changing the imagery on the OMP landing page that promotes Zowe?  We should at least strive for a minimum AA WCAG compliance.  The text is being lost on the light parts of the background image and making it difficult to read.

[2018-08-28 20:48] Tbr00ksy commented on #10
@nkocsis @MarkAckert and @jplinardon (in place for Kimberly),
Do we want community members without write access to use Git to generate issues or waffle? I thought waffle was primarily for prioritizing backlog and tracking issue status?

Also, as Kimberly mentioned in the Web UI call this morning, is there a way that someone can post a question or create an issue from a high level without getting d

[2018-08-28 20:54] Tbr00ksy commented on #5
Need to note that the only way to get calendar invites to community meetings is to be part of the zowe-dev mailing list.

[2018-08-28 21:15] 1000TurquoisePogs commented on #14
In the case of Rocket contributions, some of the top committers do not show up as such as a result of how we migrated code into this public github. I think the list of initial repo gatekeepers should actually be amended by the people on this list either accepting the role or recommending someone to take their place. For example: zlux-build lists myself as the second contributor but in reality, I b

[2018-08-28 21:38] jplinardon commented on #10
To be open to the end-user community, not just the developer community, we need a simple way for anyone to submit ideas and requests. Git is less than ideal for any non-developer.
Slack could theoretically be used for submission, however it makes it near impossible to track and review what has been submitted, and get an overview.

I believe creating git issues is a standard mechanism in open sourc

[2018-08-28 22:18] hogstrom commented on #14
As a bootstrap effort I think that will work because of the transition.  I suggest that this is a limited time activity and we should lock this down in the next few weeks.  Then its meritocracy based so there is no appearance of vendor movement of people in and out of the project.  Does that make sense ?

Matt Hogstrom
matt@hogstrom.org
+1-919-656-0564
PGP Key: 0x90ECB270
Facebook <https://faceboo

[2018-08-29 01:43] 1000TurquoisePogs commented on #14
If there's agreement, I'd like it to be done sometime this or next week to get into a shape where we can reviewing and accepting commits from people who weren't grandfathered into the repositories. I agree that it should be meritocratic after the initial setup, but the process of change over time isn't clear to me. Such as: is each repository determining metrics of merit independently or is there

[2018-08-29 02:49] rpenny125 commented on #14
Sean, regarding your questions about metrics, etc. (as it relates to ongoing managing of "core contributors"), I think some of this is covered in the Zowe charter: https://zowe.org/Zowe-Charter.pdf, in the section headed "Contributors and Committers:"

Speaking of which, the terminology of the charter has:

@hogstrom  by "core contributors", do you mean those whom the charter refers to as "committ

[2018-08-29 03:05] 1000TurquoisePogs commented on #14
You're right - the charter explains this clearly. Thanks!

[2018-08-29 12:07] Tbr00ksy commented on #10
@JP do you think a community forum would be an appropriate tool to collect issues? We can look into setting something like that up.
 
Tim Brooks
Associate Offering Manager - Zowe
System Z
E-mail: tim.brooks@ibm.com
Office: 919-254-2436
Mobile: 703-343-5030
 
Zowe.org
 
 
----- Original message -----From: jplinardon <notifications@github.com>To: zowe/zlc <zlc@noreply.github.com>Cc: Tbr00ksy <tim.br

[2018-08-29 12:42] jplinardon commented on #10
I think our forum is slack. That is where interaction between users take place, and where people ask questions. Unfortunately slack does not generate easily referenceable static content, so one has to go through the myriad conversations to try and find answers.

Maybe we can start with some simple requirements:

  *   Static FAQ that a squad maintains
  *   Polling mechanism where polls can remain

[2018-08-29 14:41] Tbr00ksy commented on #14
@hogstrom @1000TurquoisePogs the on-boarding squad needs some help with committers though. For non-code related items such as website changes, content creation (tutorials, samples, etc.), Waffle/Github issue management, we need a set of committers as well. For example, @jayenzi should be a committer for Zowe.org and I need write access as the scrum master to help manage waffle tickets. Can we set

[2018-08-30 09:47] nannanli commented on #7
Some other suggestions for the home page:
- Can we change "Resources" to "Docs" which sounds more obvious?
- There is a typo in "GITHub" when you click "Contribute". Should be "GitHub".

[2018-08-30 13:39] Tbr00ksy opened #16 "Zowe Press Coverage To be Listed on Zowe.org"
@jayenzi Can we list or create a news feed of Zowe coverage on Zowe.org somewhere?

Here's my current list:
ZDNet: https://www.zdnet.com/article/zowe-bringing-the-mainframe-to-the-open-source-world/
OMP Press Release: https://www.openmainframeproject.org/press/2018/08/28/open-mainframe-project-announces-the-launch-of-zowe-an-open-source-framework-that-strengthens-integration-with-modern-enterprise

[2018-09-04 19:53] hogstrom commented on #9
We need John Mertic to update on the OMP / LF process.

[2018-09-04 19:55] hogstrom opened #17 "Remove dependencies on non-EPL 2.0 Code bases"
Currently Zowe relies on some binaries that are not consumable with compatible licenses.  The two known now are:

ZSS - provided by Rocket Software
WebSphere Open Liberty - IBM

These two dependencies limit the openness of Zowe.

[2018-09-05 09:35] Joe-Winchester opened #18 "Agenda update for 09-05 zLC meeting"
**Open Source Needs - Discussion.**
_Can you add or merge this into the section please ?_
When December zowe-1.0,pax is built this can only contain EPL 2.0 licensed content.  The current open beta zowe-0.9.0.pax has non EPL 2.0 licensed content which when removed means that none of the MVD desktop will function (as this uses zSS to authenticate to SAF).  The 3 explorers (JES, MVS, USS) will not fu

[2018-09-05 18:18] 1000TurquoisePogs commented on #14
Here are the list of 3 Committers, but migrated repositories, and the links to where I found this info.
This list is altered in that repositories where people from Rocket knew best, some Rocket people were swapped out for others to get a good mix of knowledge and availability. I'd recommend others do the same where they can.
Some repositories did not have 3 contributors, so I added more based on w

[2018-09-06 13:36] Tbr00ksy commented on #10
General questions from members who do not know where to submit issues to can be assigned to the Community Waffle board here and then assigned to the appropriate squads/individuals.

https://waffle.io/zowe/community

New issues generated should also have a process for recognizing that an issue has been read/commented on within 2 weeks?

[2018-09-06 14:28] phaumer opened #20 "https://zowe.org/contribute/ needs a How to Submit a Defect page"
People can contribute in all kinds of ways to an open source project. Contributing code is one way, but the far more common (and important one) is contributing Issues.  We need a page that provides guidelines on how to submit an issue.

There  are currently 45 Repositories in github, so it is impossible for end-user to find the right place. This page should provide pointers to top-level repos or S

[2018-09-06 15:35] phaumer opened #21 "We should define and publish our process on zowe.org"
I propose to publish our development process or a link to a wiki with the process in the community page. External observers and people interested in downloading links are interested in process items such as

- What is the general release road map
- What is the iteration schedule for new builds
- Where are the release notes / new and noteworthy for each release
- How to submit defects
- How get def

[2018-09-06 16:02] MarkAckert commented on #10
(Discussed on a call separately)

I think the community repo is a good sink for issues, but we should provide strong guidance in doc about where to open issues first. For example – if you have an issue with the Zowe CLI, open an issue in the zowe-cli repo, and so forth for other product areas. The only concern with community repo as a sink is that issues could be distanced from their problem domai

[2018-09-06 21:37] 1000TurquoisePogs commented on #14
Completed this by implementing Committer teams and locking down master to require pull request approvals.

[2018-09-06 21:37] #14 closed, assigned to 1000TurquoisePogs

[2018-09-11 15:48] armstro opened #22 "Consolidated z/OSMF Requirements"
Review consolidated list of z/OSMF requirements including priorities examples
- SSO
- z/OSMF Lite
- Performance measurements
- Position on usage by more than sysprogs (for example developers)
- Position on sysplex support

[2018-09-11 18:10] hogstrom commented on #16
Tim I'm going to ask if you can help here ... if not, can you tap someone else on the shoulder?

[2018-09-12 10:38] armstro opened #23 "Coordinate SHARE submissions Oct 5 deadline"
Should broadcast deadline to squads and early adopters. Coordinate content tailored for each track (feedback was last SHARE had several repeats of content - understandable as first time)

[2018-09-12 10:39] armstro opened #24 "Follow up on z box sizing with OMP/Vicom"
Zowe team owes what sizing info we can to Vicom for z box proposal.

[2018-09-12 12:32] hogstrom commented on #8
John volunteered to take the PDF for the project and ready it for publishing on the website.

[2018-09-12 12:33] hogstrom commented on #7
Tim, are you willing to lead here or should we close this item and bring it back later?

[2018-09-12 12:35] Tbr00ksy commented on #16
IBM System Mag: http://ibmsystemsmag.com/mainframe/trends/whatsnew/open-source-zowe-project/?utm_source=SilverpopMailing&utm_medium=email&utm_campaign=091118-Z-EXTRA%20(1)%20Live%20Send&utm_content=Getting%20to%20Know%20the%20Open%20Source%20Zowe%20Project&spMailingID=14219622&spUserID=MTMzMjEwNjg1NzA2S0&spJobID=1480810092&spReportId=MTQ4MDgxMDA5MgS2

[2018-09-12 12:35] hogstrom commented on #22
Bruce will break out into separate issues.

[2018-09-12 12:43] hogstrom commented on #23
I'd like to assign an owner to this action.  Volunteers?

[2018-09-12 12:44] hogstrom commented on #15
I'd like to move this to the documentation group.  Objections ?

Note to Jaty from Matt and then close.

[2018-09-12 12:45] hogstrom commented on #6
Updates / Owner needed

[2018-09-12 12:47] hogstrom commented on #3
Any owners for this one ?  If not, I'd like to archive this and address when it comes up again.

[2018-09-12 12:48] hogstrom commented on #4
This todo is bigger than the ZLC.  I'm not sure what we can do apart from tracking the issue.  I believe this is different than the effort with VCU as that is all about CI/CD

[2018-09-12 12:51] hogstrom opened #25 "EPL-2.0 Component for OpenLiberty"
Breaking out the Requirements Issue opened by Bruce Armstrong and replacing it with new issues for the known activities.

[2018-09-12 12:52] hogstrom opened #26 "EPL-2.0 Component for ZSS"
Drawing from issue #17 breaking this out as a separate item for tracking.

[2018-09-12 12:56] Tbr00ksy commented on #7
@hogstrom I am currently reworking this with @jayenzi. We have several working items in our backlog at the moments and are tracking them here: https://ibm.box.com/s/jxdu3nxkpmvq2cgmpjj4l1io91tt36m7
(all future issues will use the appropriate Git Repo/Waffle board that I have write access to)

[2018-09-12 13:01] Tbr00ksy commented on #6
@hogstrom can you please assign @jayenzi and @nannanli as the "owners"/"assignees"?

[2018-09-12 13:05] hogstrom commented on #18
MVD certificate has seem regenerated to expire in 2020

[2018-09-12 13:07] hogstrom opened #27 "Certificate Strategy"
Management

We need to document the certs we are shipping, where they are located and their expiration date

[2018-09-12 13:10] hogstrom commented on #27
Could use Let's Encrypt as a way of installing.

[2018-09-12 13:13] hogstrom commented on #10
Track here, move this to documentation

[2018-09-12 13:14] MarkAckert commented on #10
This issue was moved to zowe/docs-site#75

[2018-09-12 13:14] #10 closed, assigned to Tbr00ksy

[2018-09-12 13:18] hogstrom commented on #4
Update website with a page directing people to resources for private instances.

[2018-09-12 13:21] hogstrom commented on #3
Will create a post GA milestone to revisit this item.

[2018-09-12 13:29] jmertic commented on #16
Press coverage doesn't need to be on Zowe.org - this site is a community site and not a marketing one. Let's close this.

[2018-09-12 13:32] jmertic commented on #17
Is this the full list of non EPLv2 dependencies? We should record it here.

[2018-09-12 13:33] hogstrom commented on #16
Add a page that points back to the OMP press links

[2018-09-12 13:35] hogstrom commented on #9
Send videos to Mae for review and see if this process works.

[2018-09-12 13:36] jmertic commented on #23
Mae can help coordinate submitting submissions - let's work through her so we are tracking this.

[2018-09-12 13:37] jmertic commented on #23
Let's also invite Mae to this waffle for items to coordinate with the marketing committee.

[2018-09-12 13:43] #22 closed, assigned to armstro

[2018-09-12 16:17] Tbr00ksy commented on #16
Mae will update the "In The News" Page and Zowe.org will point to it: https://www.openmainframeproject.org/news/in-the-news

[2018-09-12 17:52] MarkAckert opened #28 "Review @brightside usages for GA"
For Zowe GA, we need to review leftover Brightside mentions within Zowe CLI and Zowe CLI Installation Doc, and prioritize resolution of them with target dates.

[2018-09-12 17:53] MarkAckert commented on #28
Known areas:
-[Removal In Progress] Environment Variables
-[Removal In Progress] Local Directory Usage (Home dir ".brightside")
-npm install comands (CA Bintray)
-npm install commands (@brightside scope)
-source tree package names (brightside)

[2018-09-12 18:13] hogstrom commented on #28
I was talking with Bruce today and I’d like some input for GA.  With the teams running their own architecture discussions I know for me its hard to chase all of the content.  As Sean said, we probably shouldn’t have to but I have a sneaking suspicion that the GA 1 target is not universally defined.

One approach is to create the “press release” of what we are planning in delivering as Zowe Release

[2018-09-12 18:55] MarkAckert commented on #28
Matt, As you say - I think the teams are in varying states of planning and prioritization towards a GA 1 target.

Building on your idea for a "swag" of the initial release - I think we should take the following steps to consolidate our understanding and guidance for the teams:
1. Define high level objectives for Zowe GA 1 release at the ZLC level, prioritized by importance. Input from those outsid

[2018-09-12 20:18] hogstrom commented on #5
This issue was moved to zowe/docs-site#76

[2018-09-12 20:18] #5 closed, assigned to nobody

[2018-09-13 12:46] jmertic opened #29 "Transfer zowe.org domain name and website to LF IT"
Need to get this moved over sooner than later. Would be good to get website settled down for LF CS to review ASAP.

[2018-09-13 13:54] hogstrom commented on #29
Does this mean domain transfer or the website?   I'm concerned about moving the website because when we suggest changes the answer is generally talk to an LF comittee for updates and I'm worried we'll get locked out; whether thats true or not, it seems like a real possibility .... I'd like to have the process outlined and agreed to before moving the site.

[2018-09-13 13:58] jmertic commented on #29
Both - and we can work out a process that works for all parties. But these
does need to be done.

--
John Mertic
jmertic@gmail.com | http://jmertic.wordpress.com

[2018-09-13 14:00] hogstrom commented on #29
And they will be after you identify the process.  As I said, I’m not comfortable with the current approach which is effectively blocking progress, not enabling it.

[2018-09-13 14:04] hogstrom commented on #29
Here is my strawman

The Zowe Community owns the Wordpress blog, access to the underlying system it is hosted on and can manage content without going through a comittee.

New systems can be added to the domain and we own the naming of the systems.

I'd also like to understand the process, timeframes, etc.  Right now the systems have access via VPN to certain resources that will get moved when VCU

[2018-09-13 14:21] jmertic commented on #29
Good start - here's my thoughts:

- I think content-wise it makes complete sense for named individuals on the project to have edit access and the ability to create new pages ( frankly speaking, the Zowe team is the SMEs for the content there ). We deploy 'Salient Visual Composer' on sites to make it easy to do this for the community without having to get CS involved most of the time.
- I'm a bit c

[2018-09-13 14:38] hogstrom commented on #29
- I'll look at Salient ... I'm not familiar with it.
- In terms of access, we've written some scripts that work with Apache to gather download statistics, copying files, positioning them for download, etc.  We also installed ZDT which requires VPN access to a license server ... hopefully this is a short term issue but will likely persist until we have a viable alternative like VCU up and running.

[2018-09-13 18:56] jmertic opened #30 "Work with VCU on capstone program."
Bob Dahlberg is putting something together - will attach proposal. Would be good for ZLC to comment and determine who could mentor.

[2018-09-13 18:57] jmertic commented on #30
[CS 305 - Dahlberg - OMLF Zowe.docx](https://github.com/zowe/zlc/files/2380621/CS.305.-.Dahlberg.-.OMLF.Zowe.docx)

[2018-09-13 19:04] jmertic commented on #29
_I'll look at Salient ... I'm not familiar with it._

+1

_In terms of access, we've written some scripts that work with Apache to gather download statistics, copying files, positioning them for download, etc. We also installed ZDT which requires VPN access to a license server ... hopefully this is a short term issue but will likely persist until we have a viable alternative like VCU up and runnin

[2018-09-14 15:03] #7 closed, assigned to Tbr00ksy, jayenzi

[2018-09-14 15:20] MarkAckert opened #31 "Research/Guide - SSO for GA 1"
The Zowe group needs to take stock of the current state of SSO and whether ESM will be available by GA 1 or not.

 Formulate a plan for SSO GA 1. Work with architects.

[2018-09-17 17:45] Tbr00ksy commented on #4
@hogstrom
Can we please review the attached proposal from MtM for a hands-on tutorial at the next ZLC meeting?
[Zowe Hands-On Trial.pptx](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a907c3157b1d800120a86d4/125516c66e82c728ace21e0d46d29b8d26c2aba881edac0e8b53b0a03b4f267f6b48e13b628ae92dbc56395b4d5a1caa415f5f4df8fd8822a6e43a708a5d58b9d93b5b7c932f0dbefad341eb5ee779c11ac7a4b69

[2018-09-18 14:49] MarkAckert commented on #28
@1000TurquoisePogs @hogstrom @armstro @jplinardon

This Github issue went slightly off the rails from its intended purpose. Could we review this specific topic from this github issue on tomorrow's ZLC call:

-CLI npm install commands (@brightside scope)

We need to decide if changing the npm scope from @brightside to @zowe (or @zowecli) is something we see as being on the critical path for Zowe.

[2018-09-18 15:45] 1000TurquoisePogs commented on #28
It's likely that at some point some zlux components will also be npm-installable. The widgets already can be pulled in from that way: https://github.com/zowe/zlux-widgets/blob/master/README.md

So, when it comes to "core" code, brightside's core is different from the ui core (zlux-platform and zlux-app-manager today). I'd use a more descriptive term than @zowe/core for this reason. @zowe/cli-core?

[2018-09-19 10:12] armstro opened #32 "z/OSMF - SSO participation"
Gain agreement on design, staff implementation effort, set schedule and deliver for JWT/OAuth Single Sign On

[2018-09-19 10:14] armstro opened #33 "z/OSMF Lite - Closed beta and delivery"
Execute closed beta of z/OSMF Lite (internal and external users) to validate design

[2018-09-19 10:17] armstro opened #34 "z/OSMF - Performance measure"
Create a plan to determine scaleabilty of z/OSMF when used by potentially 100-1000s concurrent requests, execute the scale testing, provide guidance on tuning and/or code hot spots for redesign

[2018-09-19 10:24] armstro opened #35 "z/OSMF - Dual use case (Sysprog & Dev)"
Some customers will not allow developers to use z/OSMF because it is viewed as a Sysprog interface. Research and document the separation of access roles, and recommend any code changes need.

[2018-09-19 10:26] armstro opened #36 "z/OSMF - High Avialability"
Research the current HA capability (auto restart), document (if needed) plus build case for true HA based on field requirements

[2018-09-19 10:33] armstro commented on #32
Closed as duplicate of duplicate of item 31

[2018-09-19 10:33] #32 closed, assigned to nobody

[2018-09-19 13:04] MarkAckert opened #37 "Zowe GA 1.0.0 Goals"
List planned or desired GA 1.0.0 goals, and specify each goal accordingly.

Add goals to this document:
https://github.com/zowe/zlc/tree/ga-feature/releases

Track children epics/stories:
<TBD>

[2018-09-19 13:18] jmertic opened #38 "Achieve CII Best Practices badge"
https://bestpractices.coreinfrastructure.org/en - needs to be achieved before 1.0 release. Suggest starting to work through as soon as possible.

[2018-09-19 13:20] hogstrom commented on #29
Transfer initiated to LF.   Waiting for comms back from LF

[2018-09-19 13:44] 1000TurquoisePogs commented on #27
The certs for the UI portion are located within https://github.com/zowe/zlux-example-server/tree/master/config
As the name suggests, the example server is an implementation of the server. It could be renamed to something better to state it's "zowe default" nature, but regardless this is where we keep certs and keys for HTTPS. They're just self-signed.
Since lets encrypt allows for free signed cert

[2018-09-19 14:22] hogstrom commented on #30
I've been working with Vicom Infinity on defining a system for VCU.  the current goals are still fluid.  Base recommendation is for a ZR1 with 3 IFLs and 1 GCP with 512GB memory.

[2018-09-19 15:09] jmertic commented on #30
Different project - the class is wanting to contribute to Zowe and needs guidance.

[2018-09-19 19:20] hogstrom commented on #38
In what capacity are you setting this goal for the project?

[2018-09-19 19:43] jmertic commented on #38
I'm relaying a commitment made by the Zowe project to the OMP TSC. It's also in the OMP TSC's requirements for an Active stage project.

[2018-09-20 15:01] hogstrom commented on #38
I am updating the CII Badge Information inventory to get things kicked off so we can assess where we will be by GA 1.0.  Status tracked in this issue

[2018-09-21 00:25] hogstrom commented on #38
Updated all information that is currently available.  Look at the community site on the bottom of th page is the current status.  We're at [![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/2226/badge)](https://bestpractices.coreinfrastructure.org/projects/2226).

@jackjia-ibm @MarkAckert @1000TurquoisePogs Please [review]( https://bestpractices.coreinfrastructure.org/en/

[2018-09-21 11:46] hogstrom commented on #24
This task is complete.  The recommendation is that given the lack of data on the workloads a single GCP to start with along with 3 IFLS allow for starting with the minimal investment.  512GB of memory and 4TB storage.

[2018-09-21 11:46] #24 closed, assigned to nobody

[2018-09-21 11:47] hogstrom commented on #6
I'm going to move this item to the Documentation Squad.

[2018-09-21 11:47] hogstrom commented on #6
This issue was moved to zowe/docs-site#90

[2018-09-21 11:47] #6 closed, assigned to nannanli, jayenzi

[2018-09-21 11:48] hogstrom commented on #16
Tim, I'm closing this as it sounds like the plan is in motion.

[2018-09-21 11:48] #16 closed, assigned to Tbr00ksy

[2018-09-21 11:49] hogstrom commented on #9
Can we close this issue ?

[2018-09-21 11:49] #9 closed, assigned to jmertic

[2018-09-21 15:23] jackjia-ibm commented on #38
Epic created: zowe/zowe-install-packaging#87

There are few requirements I know we should be met already have no related issues created. Please feel free to update or let me know if there are requirements I missed or issues are placed in wrong repositories. Thanks!

[2018-09-24 13:46] MarkAckert opened #39 "Default Pinned Zowe UI Plugins"
@hogstrom @armstro @1000TurquoisePogs @jplinardon @stevenhorsman-ibm @nkocsis

Could the ZLC please review and vote by EOD 9/25 - the Zowe UI now defines a JSON file which will track pinned plugins on the Zowe UI taskbar. This JSON file does not, by default, contain the explorer-server plugins, but you can still reach these plugins through the "Start" menu on the bottom left of the UI and pin them

[2018-09-24 14:40] 1000TurquoisePogs commented on #39
So, this is about  dev vs shipping, and not breaking either. It is desirable to have pinned plugins, but the list of pinned plugins should vary dependent upon purpose of the deliverable. The explorer plugins should be pinned, but I think this should be done as a packaging-time or install-time task, and here's why:

Correct me if I'm wrong, but I believe that the explorer Apps have a different dev

[2018-09-24 16:30] stevenhorsman commented on #39
Hey @1000TurquoisePogs - just to clarify (though it's probably me that confused), the proposal is that we add something in to the explorer install apps (the thing that created the plugins for zlux) which also add them to the pinnedPlugins.json. We aren't suggesting that the default in zlux should be changed, just raising the questions of whether we should add the explorers to it when we install th

[2018-09-24 16:50] 1000TurquoisePogs commented on #39
Whether you should be allowed to do that depends on if its for dev, or for end users.

For end users, plugins shouldn't have that authority. Plugins shouldn't by able to tell the server to pin them. Instead, product, administrator, or user settings should be the determination. So for building a pax, the set of build tools should be involved in making that pinnedPlugins.json

However, for developer

[2018-09-24 17:00] MarkAckert commented on #39
To clarify what's been said here for myself - I think we're in agreement on how to set default pins for the Zowe PAX. We make modifications to the pinnedPlugins.json file as part of our installation script suite within the PAX file. This avoids plugins gaining control over the pinnedPlugins directly, and keeps the base zlux pinnedPlugins.json clean.

[2018-09-25 14:04] MarkAckert opened #40 "Process - Project Planning (PI Planning)"
Is it worthwhile to consider a project wide planning cadence for after Zowe GA 1.0.0? Something very similar to, if not exactly, SAFE PI Planning?

[2018-09-25 15:56] MarkAckert opened #41 ""Built on Zowe" Website section"
We should consider a section on the Zowe website which references products that are "built on Zowe" or "built with Zowe". This can demonstrate an ecosystem of downstream products that leverage the open source community. Need to investigate process for accepting products into the public display.

[2018-09-25 15:58] MarkAckert commented on #41
@Tbr00ksy @armstro FYI on this topic. This just came up in adhoc discussions and may be a point of interest for Zowe around or after 1.0.0 GA; wanted to capture it in an issue.

[2018-09-25 16:27] Tbr00ksy commented on #41
@MarkAckert this is a great idea and is part of the on-boarding squads vision as well. We were calling it an "App Directory" or "Marketplace." However, there is non-trivial work required to document what a "Zowe Compliant" app is and how we measure that, how we "certify" that is it compliant, and issuing some sort of badge...

We thought it would be a great 2019 initiative - post 1.0.0 GA. But we'

[2018-09-25 17:59] MarkAckert opened #42 "Zowe - Automated License Scanning"
Currently the Linux Foundation / Open Mainframe Project is responsible for running licensing and dependency compliance scans against Zowe repositories, and candidate repositories to be donated to Zowe.

We should discuss if there's any automation the Zowe Org can setup to scan ourselves independently and produce reports that we can evaluate and forward to the LinuxFoundation / OMP. This would allo

[2018-09-26 12:54] 1000TurquoisePogs commented on #31
Update: last meeting on SSO covered that ESM & z/OSMF both should be able to handle shared authentication by a trust sphere where JWT is passed with requests to servers which can verify the authenticity back to the central issuer (ESM or z/OSMF in that case). In one scheme, the mediation layer can be the 'client' in a flow where z/osmf is used for authentication, and returns the token to be used.

[2018-09-26 18:23] MarkAckert opened #45 "WIP - Zowe Docker Repository"
Investigate and setup a Docker Hub the Zowe org can use. Coordinate with OMP/LinuxFoundation.

[2018-09-27 14:07] MarkAckert commented on #28
@zowe/zlc @jmertic

Matt & Sean & ZLC - When last we spoke on the ZLC call, I believe we said it would be preferable to change the CLI package name from @brightside/core to @zowe-cli/core by Zowe GA 1.0. After speaking with the team, they don't have capacity to complete this work by GA. The package naming change may even be postponed further in the future when prioritized against other features/ep

[2018-09-27 14:08] MarkAckert commented on #45
Follow-up next week after consultation with legal from LF

[2018-09-27 14:55] jmertic commented on #28
My gut is delaying this will cause more problems down the road than making the change now, as well as the confusion on mark usage ( unless CA wants to donate the brightside marks to the project ).

[2018-09-27 15:31] MarkAckert opened #46 "Investigate Code Analysis Tools"
As part of CII Best Practices fulfillment, the ZLC should investigate and review tool recommendations for the working squads in the project.

Focus:
Java Tooling (explorer, apiml)
Typescript/Javascript Tooling (zlux, cli)

[2018-09-27 15:32] MarkAckert commented on #38
parent of zowe/zlc#46
parent of zowe/zowe-install-packaging#87

[2018-09-27 16:25] Tbr00ksy commented on #20
![Screen Shot 2018-09-27 at 12.24.12 PM.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a907c3157b1d800120a86d4/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b772a6456f46b7191a379ed0c2955415e4cbc21254d58eeb9cb74fce36f34985619e8836b5f73c63415a8b98b1fed07ba208a1cd1beea8e4495fa2137a5dad11b61435c52dcbd4f3fb29842c259f348e94d53a1173162e27f3f6e0a.png)

Added a link

[2018-09-28 12:14] armstro commented on #39
So I am woefully behind on various emails/slack communications - please
tolerate some dumb questions as I try to catch up........there was a
request for a vote on having the explorers pinned to the desktop - did we
decide that we would add the explorers (at least for open beta)? Is a vote
needed?

Bruce Armstrong
IBM System Z Offering Manager- zowe.org
4205 S MIAMI BLVD, DURHAM NC 27703-9141
Email

[2018-09-28 14:27] MarkAckert opened #47 "Research / Implement pre-receive hooks rejecting unsigned commits"
Developers often forget to sign their commits, especially if working with tooling that doesn't support signed commits by default. Rebasing a branch or other remedial steps for a long history of unsigned commits is painful at best. We should implement pre-receive hooks in all repositories to block unsigned commits.

[2018-09-28 14:31] tucker01 commented on #47
Not sure what Github supports, but a local project hook would probably be good too. Thanks for opening 😄

[2018-09-28 14:32] ghost commented on #47
Looked into this a bit and we might be able to do something like this link says: https://stackoverflow.com/questions/427207/can-git-hook-scripts-be-managed-along-with-the-repository.

After doing this, we might be able to use a .gitconfig file to point to the folder containing the hooks and create a hook to do the check.

Just have to be careful to make sure that the dco tool (https://github.com/c

[2018-09-28 19:06] MarkAckert opened #48 "Discuss - DB2 Plugin Dependencies"
Summary:

The DB2 plugin utilizes the dependency ibm_db, an open source MIT-licensed module which at install time downloads proprietary ODBC binaries that require a client-side license to run. For our offline CLI installation package with DB2, we currently redistribute the ODBC binaries. We need to review our strategy for this plugin and its packaging.

Some options:
-keep repackaging odbc binarie

[2018-09-28 19:11] MarkAckert commented on #48
@zowe/zlc @SujaySolomonCA @alvin-tan @dkelosky

I create a Waffle issue based on an e-mail thread. We should discuss this during our normal ZLC call.

[2018-09-29 14:12] hogstrom commented on #47
Agree.  I spent some time Thursday amending an older commit

+1 from me

Matt Hogstrom
PGP key 0F143BC1

[2018-10-03 16:34] jmertic commented on #47
I presuming the workflow of commit checks you are looking at is for those that are not done via pull request ( which is where the existing DCO bot does do the checks ) - is that accurate?

[2018-10-03 17:10] MarkAckert commented on #47
Correct - the workflow is to check primarily commits made in branches. By the time we issue a PR to merge into master we sometimes have a history of unsigned commits.

[2018-10-04 12:46] jmertic commented on #47
Appreciate that insight Mark!

So the challenge is as you mentioned - commit hooks  go it in the .git directory of a repo tree which isn't versioned. There are hacks around it, but all of those require local configurations which sound like just as much work telling everyone to use the dco tool (https://github.com/coderanger/dco) mentioned. Not sure if you see that tool as lacking or having issues

[2018-10-05 19:16] MarkAckert opened #49 "Discuss - Promote Zowe Playbacks"
Is there anything we can do to market or promote the bi-weekly Zowe playbacks to a larger customer audience?

[2018-10-09 18:47] MarkAckert commented on #48
@jmertic @SujaySolomonCA @Tbr00ksy

John - Could you weigh in on the distribution strategy outlined below for the CLI DB2 Plugin - assuming the plugin hosting is not provided by the OMP for the moment. Is the strategy in compliance with open source licensing and dependency management practices?

Quick recap - one DB2 plugin dependency (ibm_db, MIT License) downloads ODBC binaries (proprietary lice

[2018-10-09 19:00] jmertic commented on #48
I presume this is the package you are speaking of?

https://www.npmjs.com/package/ibm_db

[2018-10-09 19:01] MarkAckert commented on #48
Correct, with the ODBC binaries I'm speaking of here: https://public.dhe.ibm.com/ibmdl/export/pub/software/data/db2/drivers/odbc_cli/

(As detailed in the ibm_db package)

[2018-10-09 19:12] jmertic commented on #48
OK - thanks for that.

Second question - can you detail the differences between "install via internet" and "install via our bundled ZIP"?

[2018-10-09 19:23] MarkAckert commented on #48
Install via Internet
-The user installs the CLI and plugins via npm commands which requires access to the public npm registry (https://registry.npmjs.org), and for the moment, CA's bintray server (https://api.bintray.com/npm/ca/brightside). E.g., 'npm install @brightside/core@next', 'zowe plugins install @brightside/cics@next'.

Due to some users having restrictive firewalls that disallow the publ

[2018-10-09 20:27] MarkAckert commented on #47
I think the coderanger tool should fulfill our needs for now - every other option is nontrivial as we don't have server-side hooks.

I'll work on a small script that checks for and sets 'dco enable' in the current working repo for convenience.

[2018-10-19 19:22] #23 closed, assigned to Tbr00ksy, armstro

[2018-10-23 18:14] Tbr00ksy opened #52 "Zowe Conformance Program"
We need to think about what a Zowe Compliance program looks like. What are the benefits of being Zowe compliant? What metrics will we use to measure compliance? How is it enforced? etc.

[2018-10-23 21:07] hogstrom commented on #52
I’d suggest making a proposal.  Is this really for people to use a “Powered by OMP Zowe” ?

[2018-10-24 12:46] hogstrom commented on #25
Closing as the decision to move to Tomcat was agreed to in the 2018-10-17 ZLC meeting.

[2018-10-24 12:46] #25 closed, assigned to armstro

[2018-10-24 12:55] hogstrom commented on #36
Steve, is this something you could take on?

[2018-10-24 12:55] #36 closed, assigned to stevenhorsman

[2018-10-24 13:11] armstro commented on #35
Will reopen if needed - role based access implementation may address the concerns

[2018-10-24 13:11] #35 closed, assigned to nobody

[2018-10-24 17:03] 1000TurquoisePogs commented on #27
I found acme.sh and greenlock to be the two most promising tools that work with Let's Encrypt (really, an implementer of the ACME protocol).
acme.sh didn't work on the mainframe.
greenlock as a stand-alone tool expects the network ports to be 443 and 80.
So my latest idea is to use greenlock-express as a library to make a small custom nodejs server that runs as a small tool for a few seconds to ge

[2018-10-24 17:30] Tbr00ksy commented on #52
@hogstrom great LOTR quote! I want to work on putting a proposal together and am looking for help. I'm curious if @jmertic might have some cookie cutter compliance programs from the LF that could be a starting point. I'm also investigating other programs to get a feel for what ours might look like, or what consumers might expect to see.

Apple: https://developer.apple.com/app-store/review/guidelin

[2018-10-24 18:40] #20 closed, assigned to nannanli

[2018-10-24 19:10] hogstrom commented on #27
I have the same problem with my servers … they can access the Internet but the Internet cannot access them.  I suspect all customers have faced this issue though and already have certs … anyone have first hand knowledge?   We could ask on the on boarding channel and ask users that have deployed Zowe what their approach is ?

Matt Hogstrom
matt@hogstrom.org
+1-919-656-0564
PGP Key: 0x90ECB270
Faceb

[2018-10-25 11:43] Joe-Winchester commented on #52
One thing that I'm wondering/worrying is that Zowe itself isn't actually Zowe compliant !  I think the idea of us working backwards from what we want Zowe compliance to be (architecturally, install experience, operational experience, ..) will be great because it'll force us to work from the outside for how an end user will expect Zowe components to behave, and from there we can start to drive the

[2018-10-25 16:22] fbeyl commented on #4
Any news on this trial?

[2018-10-25 16:28] Tbr00ksy commented on #4
@fbeyl we have made some progress, but the functionality is limited to the Web UI component. I have updated our website to provide a "Hands on Tutorial"... it is not a trial, as it is limited to the function described in the tutorial.
<img width="1036" alt="screen shot 2018-10-25 at 12 24 58 pm" src="https://user-images.githubusercontent.com/36775778/47515558-318bdb80-d851-11e8-8460-c88eb2233b44.p

[2018-10-26 12:51] jmertic commented on #52
Some bits here for the larger group.

0) Let's center on the term 'conformance', not using 'certified' or 'compliant'. The latter two terms have different meanings that imply slightly different intentions than what this program would be.
1) Zowe conformance will likely come in two flavors ( naming is still a WIP )

- Zowe Conformant Distribution, which would be the Zowe open source project compone

[2018-10-26 13:02] jmertic commented on #28
Saw this was discussed - what are next steps. I think it will be not ideal to have the brightside marks in the Zowe open source project code if that is a mark only being used by CA.

[2018-10-26 18:28] MarkAckert commented on #28
We were not able to discuss this topic on this week’s ZLC call, my request for discussion was sent out after the weekly call.

I think the ZLC needs to discuss/vote on the following two points

  1.  Mandate if the work needs to be completed
  2.  If (1) passes vote, then declare a timeframe for completion. 1.0.0 or can it be pushed after 1.0.0?

From: John Mertic <notifications@github.com>
Sent:

[2018-10-26 18:34] armstro opened #54 "Allow CLI as separate download"
Simplification of install steps for CLI - today it requires unpax of the CLI from the Zowe convenience build and then download - proposal is to  have separate CLI package so unpax not needed

[2018-10-26 20:51] hogstrom commented on #28
I’ll add that to the agenda.  I agree on owner, action, date and followup.

Matt Hogstrom
matt@hogstrom.org
+1-919-656-0564
PGP Key: 0x90ECB270
Facebook <https://www.facebook.com/matt.hogstrom>  LinkedIn <https://linkedin.com/in/mhogstrom>  Twitter <https://twitter.com/hogstrom>

From Lord of the Rings, when Frodo decides to leave the Fellowship and go to Mordor alone . . . Frodo:  “I wish the rin

[2018-10-29 15:29] MarkAckert commented on #54
@armstro @Tbr00ksy @nkocsis

We have a separate CLI package already but do not host/present it on any public website. What is the best place for allocating work to expand on the zowe.org website to present the CLI package? Onboarding squad or elsewhere? The CI/CD squad can expand automation to support package creation + deployment.

[2018-10-30 13:27] hogstrom commented on #39
This issue was moved to zowe/explorer-utilities#3

[2018-10-30 13:27] #39 closed, assigned to nobody

[2018-10-30 13:28] hogstrom commented on #39
Moved here (not sure if its the correct repo, but this issue is for the Explorer team to implement.

[2018-10-30 13:36] hogstrom commented on #29
Complete

[2018-10-30 13:36] #29 closed, assigned to hogstrom

[2018-10-30 13:44] hogstrom commented on #27
My thoughts here are we should have all services that are shipped as part of Zowe use the same self-signed certificate which should be a project wide resource.  We could try and provide an easy button for certs but the reality is that all mainframe customers have their own process for managing and adding certs so the work we do here is probably only useful to a small number of people.  Thoughts ?

[2018-10-30 13:47] hogstrom commented on #52
@Tbr00ksy next steps here ?

[2018-10-30 15:58] Tbr00ksy commented on #52
@hogstrom we need to as a community align around distribution which we can then use to influence the conformance program. Once we have the distribution strategy set we can take that to the OMP board to for them to help define "Zowe Conformant Distribution" while the on-boarding/ZLC can work towards defining "Zowe Conformant Apps".

Top priority right now needs to be around distribution and packagi

[2018-10-30 17:40] hogstrom commented on #21
@phaumer
An update on this issue:

**What is the general release road map** - We are tracking 1.0 [here](https://github.com/zowe/zlc/issues/37))
**What is the iteration schedule for new builds** - it will be added to the website post 1.0
**Where are the release notes / new and noteworthy for each release** - See first item.
**How to submit defects** -
**How get defects triaged and how can I track

[2018-10-30 17:40] #21 closed, assigned to alvin-tan, Tbr00ksy

[2018-10-31 13:09] Tbr00ksy commented on #52
Created PR in the release management repo: https://github.com/zowe/release-management/pull/1

[2018-10-31 14:49] 1000TurquoisePogs commented on #27
Update: ZLC voted on that it would be time better spent to focus on making it easy to apply 1 certificate to all of zowe for ease of allowing users to provide their own signed certs. The default (self-signed) cert could be this one, since it's valid for 2 years and says "Zowe":
https://github.com/zowe/zlux-example-server/blob/master/config/server.key
https://github.com/zowe/zlux-example-server/blo

[2018-10-31 14:54] hogstrom commented on #27
Moving to CI/CD and assigning it to @jackjia-ibm

[2018-10-31 14:56] hogstrom commented on #27
This issue was moved to zowe/release-management#2

[2018-10-31 14:56] #27 closed, assigned to hogstrom, 1000TurquoisePogs, MarkAckert

[2018-10-31 15:04] hogstrom commented on #34
Closing as this will be covered by the performance team.

[2018-10-31 15:04] #34 closed, assigned to nobody

[2018-10-31 15:05] hogstrom commented on #33
Closing as individual members are participating and this does not need to be tracked at the ZLC

[2018-10-31 15:05] #33 closed, assigned to nobody

[2018-10-31 15:05] hogstrom commented on #4
This issue is being worked at the OMP for all projects.  The ZLC will be working on this effort but not driving it.

[2018-10-31 15:05] #4 closed, assigned to hogstrom

[2018-10-31 15:06] hogstrom commented on #31
ESM team has taken on the JWT implementation.  Monitor the activity for this work in the project.

[2018-10-31 15:06] #31 closed, assigned to hogstrom, Joe-Winchester, 1000TurquoisePogs, MarkAckert

[2018-10-31 15:07] hogstrom commented on #15
This is an old issue and has been resolved post launch.

[2018-10-31 15:07] #15 closed, assigned to hogstrom

[2018-10-31 15:07] hogstrom commented on #8
Items have been posted to the Zowe website.  for additional changes they will be track individually going forward.

[2018-10-31 15:07] #8 closed, assigned to jmertic

[2018-10-31 15:08] hogstrom commented on #54
Supported by the ZLC ... votes and comments below:

[1] Matt Hogstrom
[1] Bruce Armstrong
[1] Jean-Philipe
[1] Sean Grady
[1] Mark Ackert
[1] Jean-Louis
Package and distribute the CLI seperate from the main Pax.
Same release cadence as Zowe major version.
Target for 0.9.4

See https://github.com/zowe/zlc/meetings/2018-10-31/Agenda.md for other information.

[2018-10-31 15:08] #54 closed, assigned to nobody

[2018-10-31 15:09] hogstrom commented on #28
Per discussion on the 10-31 ZLC meeting:

Next step: John to engage LF legal and then work with contributoer legal departments to get consensus.  Update at next ZLC on 11/7/2019

[2018-10-31 15:11] hogstrom commented on #52
Change issue to Conformance from Compliance.
John will take this issue and we will defer this issue.  Needs to be completed prior to 1.0.
Get an update on 11/14/2019

[2018-10-31 15:12] hogstrom commented on #49
Per ZLC discussion on 10/31/2019 agreed to:

Jax to follow up with Mae.  Sponsor user feedback.
Closing and having Jax lead this.

[2018-10-31 15:12] #49 closed, assigned to nobody

[2018-11-07 14:53] MarkAckert commented on #48
After consultation with the ZLC and OMP, we determined that repackaging the ODBC binaries would not be in the best spirit of open source, so we are shipping **just** the DB2 plugin. We document steps to acquire the ODBC binaries+ licenses in the Zowe DB2 Plugin installation guide.

This DB2 packaging structure is shipped as of Zowe 0.9.3.

[2018-11-07 14:53] #48 closed, assigned to nobody

[2018-11-07 14:56] MarkAckert commented on #45
Current working plan is to setup Docker images inside Nexus repositories provided by the Linux Foundation. Will update and/or close this issue once Nexus is available to us and we place docker images inside said repositories.

[2018-11-27 16:48] hogstrom commented on #47
Closing per ZLC discussion

[2018-11-27 16:48] #47 closed, assigned to MarkAckert

[2018-11-27 17:25] Tbr00ksy commented on #52
Updated conformance program location to this branch: https://github.com/zowe/zlc/blob/Conformance/process/conformance

[2018-11-28 15:15] hogstrom commented on #18
Issues here have been discussed in other issues and will be tracked independently.

[2018-11-28 15:15] #18 closed, assigned to nobody

[2018-11-28 15:18] hogstrom commented on #46
Closing as this is covered under Git Issue #38

[2018-11-28 15:18] #46 closed, assigned to 1000TurquoisePogs, MarkAckert

[2018-11-28 15:19] hogstrom commented on #45
Updated Title based on ZLC discussion.

[2018-11-28 15:21] hogstrom commented on #41
Folding into #52 as an activity as part of that issue.

[2018-11-28 15:21] #41 closed, assigned to nobody

[2018-11-28 17:39] Tbr00ksy commented on #52
For the conformance program, does it make sense for us to build out an exhaustive (ideal) list of things we believe a Zowe compliant application should be (think about it from the broader - 2000 ft - ecosystem perspective)? We can then pair it down and break the ideal scenario into different levels (bronze, silver and gold). Taking this approach would help the community gain visibility into our co

[2018-11-29 05:19] jmertic commented on #52
Good points Tim - wondering if the task agenda Steve laid out is inline with what you were thinking or if you had something else in mind. See attached.

[Conformance Program - Sample Task Agenda.docx](https://github.com/zowe/zlc/files/2627675/Conformance.Program.-.Sample.Task.Agenda.docx)

[2018-12-05 12:32] armstro commented on #37
Regarding 1.0 goals - MFA listed but not sure that will be included - need to confirm with squads

[2018-12-06 00:41] hogstrom opened #66 "OMP projects for NPM"
zlux want to publish one of our repos (zlux-widgets) as an npm package so that we can version & make use of them more easily, but it occurs to me that such a package may live under some OMP project for npm. Do we know of one? Does it make sense?

[2019-01-08 18:00] hogstrom commented on #38
100% complete

[2019-01-08 18:00] #38 closed, assigned to hogstrom, 1000TurquoisePogs, MarkAckert, jackjia-ibm

[2019-01-08 18:05] hogstrom opened #68 "Signing of interim builds"
For non major releases where we drop n.n.n like 0.9.4, 0.9.5, etc I propose that we have a set of signing keys that the build team can use to validate the artifacts for governance purposes.  I don't think that these interim builds are really "official" releases and so the signing can be done by the build team.

This item is to open this idea for discussion and identify alternatives if needed.

Ide

[2019-01-10 17:57] Tbr00ksy commented on #40
@MarkAckert , the on-boarding squad was thinking the same thing. There is an OMP Marketing Committee Meeting tomorrow (Friday 1.12.19) and we will be proposing the following "Open MeetUp":
https://ibm.box.com/s/tvobjzbn4xes4t6p9cebyhivq7e79v37

Could we get @Kyle-Woodworth, Kim A, BJ S and @jmertic (or someone from LF with experience running a MeetUp in open source) to guide us through how to orga

[2019-01-10 18:20] MarkAckert opened #72 "Zowe Long Term Support Plan"
As part of post-1.0.0 activities, we need to discuss how to support teams which have breaking changes in their near term development timeline. The term 'breaking' specifically refers to changes which would violate backwards compatibility within any public-facing API.

One suggestion:
* Given Zowe 1.x is generally available...
* New non-breaking code and maintenance flow into the 1.x PAX. We mainta

[2019-01-10 21:32] hogstrom commented on #72
In general Z customers don't expect APIs to break their code but rather for changes to not break clients but they could introduce new function.  I know its not open source or agile but no one wants the code they write to break a year later ...

What kind of breakage are we talking about ?   Sample ?  Is there a conversation in Slack with examples ?

[2019-01-10 22:30] MarkAckert commented on #72
The sample breakage brought up in discussion was the CLI changing a parameter name - e.g. from "--password" to "--pass" (the example was not this specific field, I can't remember which one was brought up). This would break any scripted environments using the CLI in a CI/CD pipeline.

 Ideally in most cases we should modify APIs by extending them, and we should version API interfaces to protect cli

[2019-01-11 11:00] Joe-Winchester commented on #72
CLI already has aliases for quite a few parms, e.g. "data-sets" can be shortened to "ds' or "local-files" to "ls" and both arguments work.  Would it be possible to provide support for both the long and the short version of password ?    I agree with @hogstrom and others that we should do all we can to not introduce API breaking changes mid version as a precedent

[2019-01-11 19:02] hogstrom opened #73 "z/OS Message ID Structure for Zowe"
## History
As the open sourcing of the ZSS has progressed it has highlighted the need for us to work with the IBM Message ID structure where applicable.  I'm going to presume that some may not be fully aware of z/OS messages so a quick pre-amble, then the challenge and recommendation for discussion.

Messages are a core theme on z/OS and are issued when specific events occur.  These messages are s

[2019-01-14 21:33] hogstrom commented on #73
Net is here are some sample messages:

ZWEA001I API Mediation Layer Initialization in Progress
ZWEA002I API Mediation Layer Initialization Complete
ZWEA003E Certificate __*my certificate*__ will expire in __*nn*__ days.
ZWED001I Zowe Desktop Initialization in Progress
ZWED002E Failed to load plugin __*a plugin that should have been loaded*__
ZWES002I Zowe ZSS Initialized on system __*sysid*__ on s

[2019-01-14 22:10] 1000TurquoisePogs commented on #73
Two questions:
1. Can we also use the X prefix for the ZSS cross memory server? It cooperates with ZSS but has an independent lifecycle.
2. Trying to figure out when the D-type message applies. The zlux code logs with the ID of each plugin, so that it is easy to figure out what extensible unit is causing a behavior, so you see this sort of log format:
[9728] [2019-01-14 16:27:55.452 **_unp.network

[2019-01-15 04:13] hogstrom commented on #73
I think X would be fine for the X-mem server if needed.  If they are tightly coupled then we could just use ZSS and have messages that clearly identify the component in the text.  Whatever is most intutitive.

Using the first example I think :
[9728] [2019-01-14 16:27:55.452 _unp.network INFO] - (HTTPS) Listening on 0.0.0.0:8544
Becomes:
ZWED001I (HTTPS) Listening on 0.0.0.0:8544
The preamble of d

[2019-01-15 08:13] ifakhrutdinov commented on #73
Matt, ZSS is one of the users (the major one) of the cross-memory server. But other applications can call it too. That is, it doesn't depend on ZSS.

[2019-01-15 14:59] hogstrom commented on #73
We need to balance whether it needs its own component and 9999 messages.  If we're creating 12 messages then we're probably using our message real estate more efficiently.   Today it makes sense, does it still make sense 4 years from now and 32 messages after growth (I really don't know the answer but just communicating my thought process).  If the community feels that identifying this component s

[2019-01-16 00:17] ifakhrutdinov commented on #73
Initially I was looking at the message formats provided by the IBM reference under "The following formats are possible" which didn't list CCCSnnnnt (subcomponent + 4 digits + type). If we can use CCCSnnnnt, then the number of message IDs should probably be enough under a single subcomponent ID.

[2019-01-16 00:46] hogstrom commented on #73
Zowe is responsible for the OMP and ZWE message prefixes.  If other prefixes are needed, Please open an issue and we will pursue them.

Added @nannanli as I think this becomes a doc squad action and one for each project to document and include messages that follow this format.

II'll be moving subsystem assignments into messageManagement.md in zowe/zlc/process this evening

[2019-01-16 01:07] hogstrom commented on #73
The messages and codes manual was not clear on the limits of the messages if you included a component.  I've found several messages that support the format we would like to use.

For Example, this is issued by the z/OS product DFSMS

__ADRY0001I__ FUNCTION COMPLETED, HIGHEST CONDITION CODE WAS nn hh:mm:ss mm/dd/yy

The three letter prefix for ADR (DFSMS)
__Y__  component identifier
__0001__ 4 digi

[2019-01-16 10:36] ifakhrutdinov commented on #73
Regarding the type codes. I've discussed that with a colleague and the ones mentioned in the description are intended for z/OS components.

Usually application use these:
I - informational message
E - error
W - warning
S - severe error

I think it would make more sense to use them, especially for web code which doesn't have "System Wait".

[2019-01-16 19:21] hogstrom commented on #73
E as an error is probably the way most people understand E ... that isn't how IBM defines it but I'm fine with it.   Error's generally require action so its the same thing I think

[2019-01-16 19:22] hogstrom commented on #73
@ifakhrutdinov Irek, so, is one subsystem work for you ?  Which letter (if there is one) works for you?

[2019-01-16 21:35] ifakhrutdinov commented on #73
@hogstrom, yes, I think we can share message IDs with the non-cross memory ZSS code, i.e. ZWESnnnnt.

@1000TurquoisePogs, is S the letter what we'd like to use for ZSS?

[2019-01-17 15:55] 1000TurquoisePogs commented on #73
I think S is fine due to thinking that we won't go through 9999 messages for these components, and that despite the technical differences people are likely to group ZSS & the cross memory servers as one logical component of Zowe.

[2019-01-17 19:55] fbeyl commented on #73
Since ZWE is reserved it's no longer about application messages but system messages and in that case one should stick to IBM Message structure for 'type'.

[2019-01-29 21:35] hogstrom commented on #73
Documented and PR created https://github.com/zowe/zlc/pull/75

[2019-01-29 21:35] #73 closed, assigned to hogstrom, nannanli, 1000TurquoisePogs, MarkAckert

[2019-01-29 21:43] hogstrom commented on #72
In this instance, I would continue to support both and put out a deprecation warning.  Something like:

The consequence is that doing that would **require** the enduser to modify every one of their scripts prior to 2.0.  A lot of busy work that doesn't make their life any easier and adds to their todo list.  Worst case, causes service disruptions because people ignored the message.  In the end, di

[2019-01-29 21:45] hogstrom commented on #40
@Tbr00ksy @MarkAckert my vote is YES.  Who has the ball on this issue.  I'll move it to in process.

[2019-01-29 21:47] hogstrom commented on #17
This issue is already being addressed across all projects.  Closing this Epic.

[2019-01-29 21:47] #17 closed, assigned to Joe-Winchester, 1000TurquoisePogs, MarkAckert

[2019-01-29 21:47] #26 closed, assigned to 1000TurquoisePogs, armstro, jplinardon

[2019-01-29 21:51] hogstrom commented on #28
I believe this issue can be closed.  @jlvignaudCA indicated that there was no trademark and the Imperative project is working to rename references to Brightside to Zowe CLI.

Any other actions from an OMP perspective @jmertic ?

[2019-01-29 21:52] hogstrom commented on #66
Assigned to @1000TurquoisePogs for update or closure.

[2019-01-29 21:52] hogstrom commented on #42
@jackjia-ibm is this completed ?

[2019-01-29 22:23] MarkAckert commented on #42
@hogstrom I'm working on this currently in support of the 1.0.0 release, but complete automation will be post 1.0.0.

[2019-01-30 15:26] Tbr00ksy opened #76 "Review/Approve Zowe 1.0 Messaging"
Can the ZLC please review and approve the Zowe 1.0 messaging which will be used in a variety of ways including press releases and social promotions.

Please review and make changes to the boxnote here: https://ibm.box.com/s/eh5pxhodvp38cwb9uvnnu9i5vjja9468

The 1.0 campaign planning doc is here: https://docs.google.com/document/d/1GZBziZb9YNopb8PpSW-irBdUjhIQVRpAISUgS_1UcKU/edit?usp=sharing

Pleas

[2019-01-30 16:44] MarkAckert commented on #72
I agree with this approach. Can we request the squad leads review this and confirm their API status and intended compliance with deprecation / N-2 approach?

[2019-01-30 20:50] armstro commented on #28
I'm ok closing since Brightside name not a trademark

[2019-01-30 20:52] jmertic commented on #28
Did all the references get removed then? I recall this was the plan Broadcom was moving toward prior to the 1.0 release.

[2019-01-30 20:55] MarkAckert commented on #28
The references have not yet been removed, but is in discussion on a timeline post 1.0. The CLI team also wants to move the deployment of CLI packages to the public NPM registry, and I believe the work to move from @brightside -> @zowe would take place as a part of that work (again, post 1.0).

[2019-01-30 21:01] jmertic commented on #28
As long as Broadcom is fine with that approach, we are comfortable to.

[2019-01-31 21:31] armstro commented on #76
Made some changes to the messaging in box - hottest issue in my opinion is what to say about non-breaking changes - I made an attempt to say but policy needs to be documented somewhere (if not already) and not just in a marketing bullet.

[2019-02-05 14:59] Tbr00ksy commented on #76
Does anyone object to me closing out this issue? The OMP is moving forward with the content that was provided.

[2019-02-05 19:53] armstro commented on #76
I think ok to close but we (ZLC) should review the OMP press release for accuracy and see which of the items the picked up to use from the messaging dock. Note to those who have not looked we removed the 1.0 claim on non-breaking changes. I think we still need to encourage non-breaking changes for all releases (and only allow on version boundaries) but no need to make the claim with 1.0 (and doubt

[2019-02-11 15:17] MarkAckert opened #79 "Generic PPT Templates"
During Zowe Sprint Playbacks, and possibly other user engagement sessions - the member companies of the Zowe project have PPT slides with copyrights respective to the individual companies (Broadcom, Rocket, etc.).

Could the ZLC provide a set of generic templates? What copyright info, if any, should be present on the slides?

[2019-02-13 13:58] #76 closed, assigned to hogstrom, 1000TurquoisePogs, MarkAckert, Tbr00ksy, armstro, jplinardon, jlvignaudCA

[2019-02-13 17:06] Tbr00ksy commented on #79
Here is a link to the OMP/Zowe PPT template. There are no need for copyright on community material.
Boxlink: https://ibm.box.com/s/b63hgcs079x71d9jxe3y27orzt4nu683
[Zowe:OMP PPT Template.pptx](https://github.com/zowe/zlc/files/2861352/Zowe.OMP.PPT.Template.pptx)

[2019-02-15 16:29] nkocsis opened #80 "Form temporary Installation Squad"
A temporary squad should be formed to architect the install. This would include:
- packaging of various components
- ability to apply ptfs or delta installs without compete re-install
- will it be SMPE or other

[2019-02-15 18:21] nkocsis opened #81 "Process where the squads get new requirements"
We need a way for the squads to get high level requirements that span across squads. This used to be the Architecture call

[2019-02-19 20:52] nkocsis opened #82 "Discuss the removal of old releases from Zowe.org"

[2019-02-20 14:19] nkocsis commented on #82
Remove all pre-1.0.0 binaries as of May 31. Update Zowe.org to announce this removal

[2019-02-20 14:21] nkocsis commented on #82
Encourage consumers to use 1.0.0 and above

[2019-02-20 14:42] Tbr00ksy commented on #52
Updated link to where conformance program is being developed: https://ibm.box.com/s/401s4s2rdpkgxekhu53zpe3ss53b2jlk

[2019-02-22 11:09] Joe-Winchester commented on #80
Collecting the requirements and thoughts for install in the https://github.com/zowe/zowe-install-packaging/wiki/Install-Experience

[2019-02-25 07:28] hfungibm opened #85 "New Zowe Sub-Project Proposal - IMS Operations API"
- Name of project (must be unique within Zowe)
IMS Operations API

- Project description (what it does, why it is valuable, origin and history)
IMS Operations API allow users to use RESTFul APIs to submit IMS commands for managing IMS resources in support of application deployment.  The IMS Operations API provides the ability to manage IMS program resources for application programs, manage and que

[2019-02-25 14:48] Tbr00ksy commented on #40
@MarkAckert @hogstrom what is the best way to get this initiated? Should each squad prepare to present their overall 2019 goals to the ZLC and then propose a set of objectives that they want to accomplish in each quarter? Thoughts?

[2019-02-25 17:53] Kyle-Woodworth commented on #40
I would encourage that.  If the goal is eventually to have Zowe running in PIs, I can absolutely help; but, that's a longer term goal.

To satisfy the immediate ask, as I understand it, let's try asking each Squad to give a few high level objectives illustrating what they can do in 12 weeks.  12 weeks after PI planning, we'll be closing Broadcom's PI, so it'll align closely.

Thoughts?

[2019-02-26 18:05] Tbr00ksy commented on #82
Proposed beta deprecation notice language:

"
Zowe v0.8.x and v0.9.x Beta Deprecation

For those of you who are using Zowe beta releases v0.8.x and v0.9.x, the Zowe community is ending their distribution and encouraging all Zowe users to move to v1.x.x.  The v0.8.x and 0.9.x distributions were licensed under a joint early programs license by IBM, Rocket Software and CA Technologies (Broadcom) and

[2019-02-26 18:31] MarkAckert commented on #85
Hi, Is there an existing public Github repository we could investigate and review for licensing compliance and build structure?

[2019-02-26 20:25] MarkAckert commented on #79
Thanks Tim, I added the template to the community repo here: https://github.com/zowe/community/tree/master/Templates . I will move this issue to done.

[2019-02-26 20:25] #79 closed, assigned to Tbr00ksy

[2019-02-27 19:50] armstro commented on #85
After presentation today to ZLC plan is as follows - IMS team needs to get approval from IBM internal process to submit, this is target for this week. Per Mark's question above the code will be moved to an open repository for scan by LF....once cleared it will come back to zlc for final vote. @nkocsis to assist IMS team with LF scan point of contact.

[2019-02-27 20:00] MarkAckert commented on #85
We will also consider approval of this proposal as including 2 repositories (names not final):
Zowe-IMS-REST-Server
Zowe-CLI-IMS-Plugin

[2019-02-28 19:20] hfungibm commented on #85
FYI - looks like IBM internal approval process to take longer as one of the key approver is out of office this week.  I will update again when we are allowed to put out the code in some public GitHub for review.

[2019-03-06 16:27] MarkAckert commented on #28
@jmertic @zowe/zlc @plavjanik @dkelosky @MikeBauerCA @Joe-Winchester @armstro

Hi All, The CLI squad is looking at beginning conversion of @brightside references to @zowe . Are there any concerns with beginning this conversion activity with a target deployment to the public NPM registry? I don't have the final artifact names, but we would rename @brightside/core to something specific such as @zowe

[2019-03-06 16:44] jmertic commented on #28
None from my perspective.

[2019-03-07 16:12] jackjia-ibm commented on #68
Related to https://github.com/zowe/zowe-install-packaging/issues/402

[2019-03-07 16:15] jackjia-ibm commented on #3
We have a Grimoire Lab service launched. Please contact me or Tim Brooks for details if you want to reach the data.

[2019-03-07 18:12] Joe-Winchester commented on #28
@MarkAckert - this sounds like a great idea.  We are currently on a basic plan that is "unlimited public repos" but I did notice that there was a priced plan for private repos.  Is the free plan we're on going to be good enough for our capacity/needs ?

[2019-03-07 18:26] jmertic commented on #28
@Joe-Winchester I'm unclear what the requirement for private repos - can you clarify?

[2019-03-07 18:29] MarkAckert commented on #28
I believe the free plan suffices; everything we release will be completely open source. Ditto John's question - did you have a use case in mind for private?

[2019-03-11 14:52] jackjia-ibm commented on #3
Grimoire Lab default configuration is too aggressive and caused 2 issues:

- consumed GitHub API calls too fast and reached quota limitation, which blocks others to make GitHub API calls,
- the default logging is DEBUG level and used 20G per day for logging.

The service is temporarily shutdown until I figure out a way to configure it.

[2019-03-11 15:37] jmertic commented on #3
Two things here...

- Would it make sense to use this ticket to align on the metrics of interest to the project?
- Once that is aligned, I'd suggest having a service offering through Bitgeria that would we could manage here. This would free up the current team which is likely quite busy in pulling the releases together.

Thoughts?

[2019-03-15 12:35] jmertic commented on #52
Hi! I've not seen any updates on this in several weeks. What's the latest status?

[2019-03-15 12:37] jmertic commented on #3
The team at Bitergia put together a quick dashboard for review at http://cauldron.io/dashboards/zowe. Hopefully this gives the group a good idea of what's possible, and they are able to add into Slack and the mailing lists ( potentially also downloads of the binary ) to complete things out if folks are generally happy with the solution.

[2019-03-15 17:42] MarkAckert opened #89 "Migrate Away From Waffle"
Waffle.io is shutting down May 16, 2019 (https://waffle.io). The ZLC should consider alternative project management tools, and the following are early candidates:

* ZenHub (Feature Parity With Waffle, some automation was written to POC issue migration)
* JIRA (Considering a test drive of JIRA over the next month)

[2019-03-19 14:21] hfungibm commented on #85
Our IBM internal approval completes and now the code is available in the public GitHub for scan.  @nkocsis - can you help with the next step?

[2019-03-19 15:03] plavjanik opened #90 "Common Logging Format for Zowe Services"
# History

Each component has a different format (layout) of log messages that are stored in the log. They have different origin and there is no standard.

The major messages are written to the STDOUT DDNAME of the Zowe address space and the output looks inconsistent.

There following types:
1. No format - plain message (shell scripts that are starting Zowe processes or services prior their loggin

[2019-03-19 15:33] MarkAckert commented on #85
Hi @hfungibm - was there a build tool previously in use with the ims code, such as maven/gradle? I also see some classes named after Liberty - does this depend on Liberty ? Deploy as a WAR into Liberty? Thanks

[2019-03-20 14:26] MarkAckert commented on #89
@zowe/zlc @jmertic  @Kyle-Woodworth @nkocsis @NolanRogers

Are there any objections to converting one or two repositories to Zenhub format to evaluate it? This means adding Zenhub metadata to issues via REST APIs; there will be no milestone/label adjustments on the repositories.

We will also have a JIRA instance created for evaluation purposes; exact delivery TBD.

[2019-03-20 16:27] NolanRogers commented on #89
@MarkAckert @zowe/zlc No objections on our end - Thanks

[2019-03-21 20:12] MarkAckert commented on #89
Sample conversion is available here (requires login/auth with Github credentials): https://app.zenhub.com/workspaces/zowe-install-packaging-5c7e80581157be532ce67ea9/boards?repos=144592776&showPipelineDescriptions=false

[2019-03-22 00:22] Joe-Winchester commented on #28
@MarkAckert - no scenarios in mind and I agree that for open source the public plan should suffice.  I just wanted to get another pair of eyes to confirm that so we don't end up in future needing to open someone's wallet without us doing some due diligence.  Tks

[2019-03-22 06:14] jmertic commented on #28
Does this mean JIRA is not being considered for this solution going forward? I thought that was the plan...

[2019-03-22 12:04] Joe-Winchester commented on #28
@jmertic.  JIRA is a tracking issue, similar to products like waffle or zenhub.  I believe the idea is to move towards zenhub which has my vote (for lots of reasons).  The question Mark asked is about npmjs.org which is a way we can host node packages to align with how node deliverables such as the CLI so that we can deliver them to customers.  Currently we deliver CLI either through the broadcomm

[2019-03-22 12:14] jmertic commented on #28
Hey @Joe-Winchester - thanks for the quick response.

I feel we've likely got waaay off track on this GH issue as you are alluding to the core question around npmjs.org. Let me see what the best practices are from other projects and come back with some ideas.

Regarding JIRA - like I said I got the impression from the ZLC meeting last Wednesday that there was serious consideration for this tool. I

[2019-03-27 14:43] plavjanik commented on #90
Hello @MarkAckert, @1000TurquoisePogs, @stevenhorsman, @Joe-Winchester, @JirkaAichler!

I have tried to draft a common logging format that we could use in our services.

What do you think about it?

[2019-03-27 14:46] plavjanik commented on #90
@vvvlc

[2019-03-27 17:57] vvvlc commented on #90
what about
 * filename:line, this was useful for sustaining to speedup finding source file and line.
 * java thread name/id

[2019-03-27 19:27] MarkAckert opened #92 "Zowe "vNext" release validation"
Zowe's active development line has some new features/components that we would like to present on the zowe.org website for "early access" / "beta" / "validation" testing. We should discuss both the generalized process for bringing components/deliverables to the zowe.org website, as well as a specific use case we have right now.

Specific use cases:

Zowe CLI recently renamed @brightside -> @zowe an

[2019-03-28 08:45] JirkaAichler commented on #90
I like it!
Do you have any idea when a message id should be present?

[2019-03-28 09:45] stevenhorsman commented on #90
I think it looks good - it seems to have all the info and then consistency is the main thing.

[2019-03-28 13:47] plavjanik commented on #90
My take on this is that messages that require user action should have message IDs. Typically, all errors should have the message ID and most of the warnings.

Currently, we put all the messages to the spool via stdout. But we want to move most of the logs to log files and keep only important messages (errors, important warnings) related to the operational aspect of the services in the spool. In th

[2019-03-28 13:48] plavjanik commented on #90
I have made few updates to the format according to Vitek's suggestions. They were very useful in a product that we worked on in the past.

[2019-04-04 13:31] Tbr00ksy commented on #37
closing out this issue and cleaning backlog.

[2019-04-04 13:31] #37 closed, assigned to nobody

[2019-04-09 02:09] hogstrom commented on #90
@plavjanik I like your recommended formats.  Some other items for when a msgid is required.

Console
JES Job Log
User Interaction

Data that is trace data doesn't need message ids, but, it would be good to have a common format for all components so that log aggregation would be possible and ultimately tools like Splunk / ELK would be easier to exploit

[2019-04-12 17:46] MarkAckert opened #93 "New Zowe Repository - CLI FTP Plugin"
The CLI Squad has another plugin they would like to donate to Zowe - the Zowe FTP plugin. This plugin began as an innovation effort by a member of the CLI Squad, and exposes the following functionality:

* Delete USS files or MVS datasets
* Download USS file, MVS dataset, or Job Output
* List USS files or MVS datasets
* Rename USS files or MVS datasets
* Submit Jobs from Dataset Member
* Upload US

[2019-04-16 17:00] hogstrom commented on #28
Closing ... other issues should be opened for Zenhub, Jira or private if needed.

[2019-04-16 17:00] #28 closed, assigned to MarkAckert, solsu01, jlvignaudCA

[2019-04-16 17:02] hogstrom commented on #80
@Joe-Winchester Is this issue still needed ?  My understanding is that this is now the Cupid squad.  Closing for now, please re-open if this is incorrect.

[2019-04-16 17:02] #80 closed, assigned to hogstrom, Joe-Winchester

[2019-04-17 12:55] hogstrom commented on #89
Move to Zenhub complete

[2019-04-17 12:55] #89 closed, assigned to nobody

[2019-04-17 13:17] hogstrom commented on #81
For example, the Cupid squad will manage Git issues across repos by tagging the issues with the squad name.

[2019-04-17 13:17] #81 closed, assigned to nobody

[2019-04-17 13:24] hogstrom commented on #92
Mark will have an update on 4-23-2019

[2019-04-17 13:31] hogstrom commented on #93
Next step is for @jmertic to clarify legal issues around binary distributions and will provide an update on 2019-04-23

[2019-04-17 18:37] Tbr00ksy commented on #52
Updates on the CLI outline here: https://github.com/zowe/zowe-cli/blob/conformance/docs/cli-conformance.md

Updates on the API ML outline here: https://github.com/zowe/api-layer/blob/conformance/docs/conformance.md

[2019-04-26 14:09] dkelosky commented on #52
@jmertic @Tbr00ksy is this conformance plan modeled after something similar?  In a random sampling of popular, extensible "things":  VS Code [Extensions](https://code.visualstudio.com/api), [angular](https://angular.io/) apps, and [WordPress ](https://wordpress.org/plugins/browse/featured/) - I'm not finding anything analogous, e.g. a similar conformance program.

Are end users requesting Zowe con

[2019-04-26 16:23] jelaplan commented on #52
Is there a vision for how conformance is enforced? Who decides whether distribution or application is conformant?

[2019-04-26 16:25] jelaplan commented on #52
@dkelosky are suggesting a rating scale so that the Zowe users can rank / rate components, etc.?

[2019-04-26 16:44] Tbr00ksy commented on #52
@dkelosky great question. Here are a few conformance programs that are part of the LF that have a similar program structure as to what is being proposed for Zowe:

K8: https://github.com/cncf/k8s-conformance

ODPi: https://www.odpi.org/wp-content/uploads/sites/9/2019/02/ODPi-Egeria-Conformance-Program-%E2%80%93-Terms-and-Conditions.pdf

We have had several requests from ISVs to provide a clear pat

[2019-04-26 19:33] dkelosky commented on #52
Thanks for the references @Tbr00ksy !  It's helpful to have an analogous example to check out

[2019-04-29 20:18] Tbr00ksy commented on #52
Link to DRAFT Web-UI: https://github.com/zowe/zlux/blob/conformance/docs/app-conformance.md
Link to DRAFT CLI: https://github.com/zowe/zowe-cli/blob/conformance/docs/cli-conformance.md
Link to DRAFT API: https://github.com/zowe/api-layer/blob/conformance/docs/conformance.md

[2019-04-30 18:11] jmertic opened #95 "Address missing DCO signoffs"
I did an audit and see that we have a ton of missing DCO signoffs. Need to work on addressing

1) Handle signoffs of past commits
2) Ensure all new repos have branch protection on for commits.
3) Make sure we aren't setting DCO checks to pass

@hogstrom Can we discuss at the next ZLC meeting?

[Zowe DCO audit.xlsx](https://github.com/zowe/zlc/files/3132550/Zowe.DCO.audit.xlsx)

[2019-05-01 13:28] hogstrom commented on #93
@MarkAckert to verify dependencies on 3rd party open source.

[2019-05-01 13:30] hogstrom commented on #90
@plavjanik to update and present at the next architecture call.

[2019-05-01 13:40] jmertic opened #96 "Turn on "Require two-factor authentication for everyone in the Zowe organization.""
LF IT reviewed that this setting wasn't on and strongly recommended that the project do this for security reasons.

Thinking if the ZLC is good with this, we could have a 30 day grace period and then flip it on. Thoughts?

[2019-05-01 13:40] hogstrom commented on #72
Needs a formal proposal for development guidance for projects to sync on for support.

Sean's input is to use time instead of versions to decouple from community release velocity.

@armstro  @MarkAckert

[2019-05-01 13:42] hogstrom commented on #66
This complete.  More discussion about how to manage widgets and new issues will be raised for these items.

[2019-05-01 13:42] #66 closed, assigned to 1000TurquoisePogs

[2019-05-01 13:44] hogstrom commented on #45
@MarkAckert will work with John on Infra requirements

[2019-05-01 13:44] #45 closed, assigned to MarkAckert

[2019-05-01 13:46] armstro commented on #93
Plugin that donated into Zowe makes use of the zos-node-accessor package from IBM open source: https://github.com/IBM/zos-node-accessor...

[2019-05-01 13:46] hogstrom commented on #42
Leaving open for now.  Look for an update in two weeks on May 15.

[2019-05-01 13:50] hogstrom commented on #40
Should we convert the ZLC to the Agile Release Train for Scaled Agile Framework e model.

[2019-05-01 14:14] hogstrom commented on #3
Closing ... as issues that require ZLC awareness arise new issues will be opened.

[2019-05-01 14:14] #3 closed, assigned to jmertic, Tbr00ksy

[2019-05-01 14:15] hogstrom commented on #30
Closing as this is not an item that needs to be tracked at the ZLC.

[2019-05-01 14:15] #30 closed, assigned to hogstrom

[2019-05-01 14:15] hogstrom commented on #68
@jackjia-ibm has a set of keypairs for signing interim releases.

[2019-05-01 14:15] #68 closed, assigned to nobody

[2019-05-01 14:30] jmertic opened #97 "Acclaim badge for Zowe committers"
We have the ability to issue badges under the LF's Acclaim account ( https://www.youracclaim.com/ ) and thought to help showcase community support the idea of issuing a 'Zowe Committer' badge might be a cool idea. Let me know if y'all are down with this and if so I can get this going.

[2019-05-01 16:21] hogstrom commented on #97
Sounds good to me.  You might have a separate OMP badge

[2019-05-01 16:21] hogstrom commented on #96
+1 from me.

[2019-05-01 16:53] Tbr00ksy commented on #52
@Joe-Winchester @OnnoVdT will you look at what it means to be a Zowe conformant distribution? I believe this will relate to the Cupids work.

[2019-05-01 23:11] ifakhrutdinov commented on #90
@plavjanik how flexible is this new format planned to be? For example, in the cross memory server messages that go to SYSPRINT and SYSLOG, we have additional components we need, like the ASCB, ASID and user ID of the caller application. On the other hand, the severity is expressed by the message ID suffix (E, W, I).

[code]

[2019-05-02 11:13] armstro commented on #96
I'd like to know more about how this would be implemented before voting.......would it involve use of just a second email address to confirm identity, personal cell, DNA sample?

[2019-05-02 11:34] jmertic commented on #96
Check out this...

https://help.github.com/en/articles/securing-your-account-with-two-factor-authentication-2fa

Thank you,

John Mertic
Director of Program Management - Linux Foundation
ASWF, ODPi, and Open Mainframe Project
jmertic@linuxfoundation.org
+1 234-738-4571
Schedule time with me at https://calendly.com/jmertic

On Thu, May 2, 2019 at 7:13 AM armstro <notifications@github.com> wrote:

[2019-05-03 15:56] hfungibm commented on #85
@MarkAckert - The committer IDs are
- itsBryantP (Bryant Panyarachun)
- hfungibm (Haley Fung)
- th365thli (Jerry Li)

[2019-05-08 13:26] hogstrom commented on #93
No further action at this time.  Linux Foundation scanned.

[2019-05-08 13:26] #93 closed, assigned to nobody

[2019-05-08 13:33] hogstrom commented on #85
Onboarding complete

[2019-05-08 13:33] #85 closed, assigned to hogstrom, 1000TurquoisePogs, MarkAckert, armstro, jplinardon, jlvignaudCA

[2019-05-08 13:37] hogstrom commented on #52
ZLC Notes: @Tbr00ksy looking forward to how to programmatically validate conformance.

[2019-05-08 13:37] hogstrom commented on #42
@MarkAckert moving to install-packaging

[2019-05-08 13:40] #42 closed, assigned to nobody

[2019-05-08 13:40] MarkAckert commented on #42
Issue moved to [zowe/zowe-install-packaging #472](https://github.com/zowe/zowe-install-packaging/issues/472) via [**ZenHub**](https://www.zenhub.com/)

[2019-05-08 13:45] hogstrom commented on #40
We discussed a first step to use the community repo to organize features.  @armstro @jplinardon @jlvignaudCA

[2019-05-08 15:59] OnnoVdT commented on #52
From a distribution standpoint, I think conformance is very simple. Any Zowe extender needs to either mention where core Zowe (base and its service) can be obtained, or include an unmodified copy that is made available by Zowe.org.  If the extender only provides a non-SMP/E packaged version of their code, the reference/inclusion of core Zowe must be the core Zowe convenience build pax file, the SM

[2019-05-08 17:04] MarkAckert opened #103 "Zowe Roadmap"
Related to #40 and #91.

The Zowe organization should provide a public roadmap we can point to for big-ticket items we are working on / thinking about implementing over the course of the next 6-12 months.

This document should **not** promise a release timeline as its purpose is to instead outline our technical direction.

Roadmap items should include items squads will be working on in 6-12 months

[2019-05-14 22:58] 1000TurquoisePogs commented on #96
-1 for me.
2FA can be nice, if the auth types are nice. Github appears to only have a few, and they all have issues.

1. Phone number, which is great up until there's yet another leak and now robocallers have my phone number again
2. authy: requires my phone number, so the same
3. 1password: not free
4. lastpass authenticator: doesn't work on android without google services framework, which is pro

[2019-05-15 03:35] hogstrom commented on #97
Discussed at ZLC last week.  Proceed

[2019-05-15 03:35] #97 closed, assigned to nobody

[2019-05-15 03:36] hogstrom commented on #95
@jmertic is this completed yet?

[2019-05-15 11:58] jmertic commented on #95
Sorry - I forgot you had given me the green light after the last ZLC meeting.

I will send out signoff texts to contributors today to commit.

[2019-05-15 15:01] jmertic commented on #95
Started rolling this out now. We have a ton of signoffs needing done so I'm doing this in phases.

[2019-05-15 15:08] jmertic commented on #96
@1000TurquoisePogs So is the tooling the main issue for you? I think you pointed out there are a ton of open/proprietary solutions ( as well as hardware and software ) which provides flexibility.

I think the big thing is, we want to ensure everyone's accounts are secure, especially if you have committer access. 2FA is extremely common these days - most LF projects have this requirement and it's u

[2019-05-15 16:41] jmertic commented on #96
I'll also note it's part of the CII badge at the Gold level:

https://bestpractices.coreinfrastructure.org/en/projects/2226?criteria_level=2#changecontrol

[2019-05-22 13:23] hogstrom commented on #96
Need to write up a recommendation to start ... for example - Sean to compile the initial list

[2019-05-22 13:38] hogstrom commented on #92
Under active Development

[2019-05-22 13:42] hogstrom commented on #90
Move to community for implementation

[2019-05-22 13:45] hogstrom commented on #72
@armstro bruce to propose a document with the plan.  Review next week

[2019-05-22 13:47] hogstrom commented on #52
Asked members to review these proposals and provide feedback to Tim

Link to DRAFT Web-UI: https://github.com/zowe/zlux/blob/conformance/docs/app-conformance.md
Link to DRAFT CLI: https://github.com/zowe/zowe-cli/blob/conformance/docs/cli-conformance.md
Link to DRAFT API: https://github.com/zowe/api-layer/blob/conformance/docs/conformance.md

[2019-05-22 13:52] hogstrom commented on #40
Close ... no objections to adoption

[2019-05-23 15:13] nkocsis opened #110 "Document our code scan process and provide audit trail"
We need to get the steps documented that Stephen Winslow does and then provide audit trail with its outcomes and ensure that all conflicts are resolved.

This is a a note I received from Steve about what he did/does. This might have changed.

Here are some more details on the license scan: I'll be using a tool called FOSSology (which is itself an LF open source project, https://www.fossology.org/)

[2019-05-27 14:09] nkocsis opened #112 "Remove Eureka Service UI"

[2019-05-28 12:38] armstro commented on #72
Proposal is for squad leads and ZLC to identify a release within the last 2 weeks of 3Q of each year worthy of being designated a Long Term Support Release (LTSR). The release would be declared a LTSR candidate for 30 days and request consumers of the release to do any additional testing of the LTSR candidate.  After the 30 day candidate period and with input from the squad leads and any other con

[2019-05-28 12:46] armstro commented on #72
@jlvignaudCA @jplinardon sorry if you see this twice - I want to confirm you see my proposal for you to have time to consider it before ZLC tomorrow - net of the proposal is a LTSR designated once a year to be supported by the open community for 2 years. Source code available for 5 years for anyone to use as they see fit (i.e., like a fee based support offering) BUT no guarantee of a build environ

[2019-05-28 12:51] armstro commented on #112
@nkocsis I see no description as to what this is about - please provide some context/description.

[2019-05-29 02:21] Tbr00ksy commented on #52
I pulled all the draft content together and created a full view of what the conformance program might look like here: https://wiki.zowe.org/x/D4Ag

To edit this content you must first create a LF account by clicking the login button in the top left corner:
<img width="290" alt="Screen Shot 2019-05-28 at 10 21 05 PM" src="https://user-images.githubusercontent.com/36775778/58524643-eba44680-8196-11e

[2019-05-29 10:46] armstro opened #113 "Planning for Zowe Face to Face for Aug 4, 2019"
Need to discuss and close on face to face meeting agenda, topics and owners to lead sessions. Draft agenda here - https://ibm.box.com/s/mat95ff9hltulesxdcusue9q7j6lv2qn

Example issues to finalize is session start time (are attendees willing to travel Saturday for early Sunday start or assume Sunday morning travel with noon time start), how many topics to try to cover - current assumption is one m

[2019-05-30 22:02] jplinardon commented on #72
I think the fundamentals are good. Are there any consideration or explicit guarantees in regards to migration between LTSR versions?

[2019-06-03 15:23] armstro commented on #72
@jplinardon To me (open to debate) the migration effort is between versions of Zowe and not necessarily related to LTSR. Release to release "should" have backward compatibility. Moving to a new version might have migration considerations. (Even moving between versions we need to minimize any migration pain but a new version will be a boundary that allows properly documented "breaking changes".)  I

[2019-06-05 03:59] hogstrom commented on #82
Closing Per Nicks request

[2019-06-05 03:59] #82 closed, assigned to nobody

[2019-06-05 13:23] armstro commented on #112
Included in Zowe V1.3

[2019-06-05 13:23] #112 closed, assigned to nobody

[2019-06-05 13:35] #40 closed, assigned to nobody

[2019-06-11 18:53] hogstrom opened #118 "Process Document Updates"
Review documents in [branch 20190418-process-updates](https://github.com/zowe/zlc/tree/20190418-process-updates)

[2019-06-11 19:35] nkocsis opened #119 "Ship vote for Zowe v1.3.0"
The ZLC should vote on approving this release. This would confirm that all testing has been completed (including Security testing) and no problems were found.

[2019-06-12 12:40] jplinardon commented on #118
All documents reviewed.

[2019-06-19 10:30] armstro commented on #118
One action item from the prior ZLC was to research who is considered a "valid voter" for the upcoming elections.....I think we all agree that committers are the voter pool but there was some question on whether it would be all committers from the beginning of the project or some filter applied (i.e., last 6 months or last 12 months for example). Many thanks to @Tbr00ksy for experimenting with a Gr

[2019-06-19 13:48] armstro commented on #119
Voted to approve

[2019-06-19 13:48] #119 closed, assigned to nobody

[2019-06-20 20:24] 1000TurquoisePogs commented on #90
Here is a prototype I have:
zowe app server:
`2019-06-20 15:43:29.441 <ZWED:28753> 5070 INFO (org.zowe.terminal.proxy.tn3270data)  Total TN3270 terminals connected: 1`
before:
`[458892] [2019-06-05 07:33:42.215 org.zowe.terminal.proxy.tn3270data INFO] - Total TN3270 terminals connected: 1`

tn3270-ng2 app in browser:
![image](https://user-images.githubusercontent.com/30730276/59876853-9f51be00-937

[2019-06-21 18:59] 1000TurquoisePogs commented on #90
Updated to swap out user ID for name... process.geteuid versus os.userInfo.username

[2019-06-26 15:01] Colin-Stone opened #125 "Creation of new repo for the MQ CLI plugin/extension"
A new CLI extension for Zowe has been created. The IBM MQ team are happy with it being released as v1.0. The repo is currently waiting in a private location ready for the go-ahead to put it into zowe github and subsequently publishing to bintray

I expect we want to review it from a conformance/compliance perspective but we can only really do that once it is on zowe GitHub.

So can I put it on Zow

[2019-06-26 15:52] armstro commented on #125
I am going to need @nkocsis or @markto comment because I think we had a similar situation recently with the IMS REST API contribution. As I recall IMS had their code in an IBM repo and needed to follow the IBM OSSC rules for external contribution. Once that was done it was moved to a "temp" repo for Linux Foundation scan before being placed in a Zowe github repo. (There is a separate issue for how

[2019-06-26 16:16] Colin-Stone commented on #125
In the mean time the CLI squad are reviewing from a compliance and conformance perspective. The repo is in a temp repo for that

[2019-06-26 16:27] 1000TurquoisePogs commented on #90
Let's use userID = username, and locationInformation = loggername,filename:linenumber
Colors should be omitted in logs that are plaintext, but if possible to conditionally display colors, colors are nice for active terminals.
Uncertain: should we have WARN, ERROR, and FATAL go to stderr instead of stdout? We must at the least have a log that contains all info, for support.

Examples

Java:
`2019-0

[2019-06-26 16:44] 1000TurquoisePogs commented on #90
Time: we should use UTC.
Remote logging alignment: should clients bootstrap by contacting server with their known time and the server respond with a time offset to get client timestamps pretty close to server timestamps?

How does imperative & browser align with server logs?

[2019-06-28 14:38] jmertic commented on #95
So I've attached the latest report - we are still seeing a fair number of commits coming in without a DCO. I also see that some of the signoffs are sitting on non-release branches and need to make their way to master.

I'm concerned that committers are bypassing the signoff still. How can we address this?

[zowe.csv.txt](https://github.com/zowe/zlc/files/3339661/zowe.csv.txt)

[2019-06-28 14:39] jmertic commented on #96
@hogstrom When can we flip this on?

[2019-06-28 14:41] jmertic commented on #113
So three things:

- Let's move out of box and into wiki.zowe.org
- Is that doc still accurate? I know the evening activity is still listed here and that's no longer applicable
- Let's remove the mentions of SHARE since this isn't officially connected to that event.

@Tbr00ksy

[2019-07-01 18:50] MarkAckert commented on #125
I have reached out to schedule the repository for scan, and as this repository will be a CLI plugin & therefore CLI subproject - my understanding is the ZLC will not need to vote on this to bring it into the zowe org. I will track the progress of the repository migration here.

[2019-07-03 21:14] 1000TurquoisePogs commented on #90
Though there is no threadID, for browser I started to think that browser+version would be important to know right in the log, so it could be printed at the beginning - not really important to know in each line.

[2019-07-04 08:35] vvvlc commented on #90
Here is my alternative to `threadID` in browser world,
  * I would consider individual http requests as individual threads. So a log message issued by a code participating in setting up data for http request or processing response of such request could have a unique ID  (`threadID=httpXXXXX`). This way we could back track messages belonging to individual requests.

        2019-06-20 15:43:29.441

[2019-07-10 13:30] 1000TurquoisePogs commented on #90
I found that v8 (chrome, nodejs) does have a way of getting file & line number, etc, for location. Firefox doesn't as far as I can tell. Updated PR with nodejs specific coding for the JS logger.

[2019-07-10 18:15] 1000TurquoisePogs commented on #90
Had a review of this concept and one point brought up was that use of the term "FATAL" instead of similar-meaning words could be taken the wrong way. The issue is that hospitals (some are big DB2 users) take the meaning of FATAL very seriously. A less sensitive term to use would be "SEVERE" or "UNRECOVERABLE", or "CRITICAL".

[2019-07-12 19:39] 1000TurquoisePogs commented on #90
Let's use "CRITICAL" above "ERROR".

[2019-07-17 14:34] DivergentEuropeans commented on #90
@1000TurquoisePogs Good point.

[2019-07-23 18:37] nkocsis opened #130 "Release Zowe v1.4.0"
Please ensure that all squads have tested (including Security Scans) driver and be prepared to Vote to release.

[2019-07-25 13:52] Tbr00ksy commented on #52
https://wiki.zowe.org/display/ZCP/Zowe+Conformance+Program

[2019-07-25 13:52] #52 closed, assigned to jmertic, alvin-tan, Joe-Winchester, 1000TurquoisePogs, MikeBauerCA, Tbr00ksy, jplinardon, petr-galik

[2019-08-04 10:21] armstro commented on #72
[Zowe Support - LTSR Discussion .pptx](https://github.com/zowe/zlc/files/3464796/Zowe.Support.-.LTSR.Discussion.pptx)
Slides for Zowe face to face for discussion on LTSR and related topics

[2019-08-14 14:08] Joe-Winchester commented on #72
Currently conformance is "self certification".  I would like us to move away from this towards test compatability kit or TCK, which is where we have automation tests that a conformance product can run which tests whether an offering is compliant with the API/touchpoints of ```A desktop plugin``` or ```A CLI plugin``` or ```An API ML southbound server``` or ```A user of the base APIs``` or ```A use

[2019-08-14 14:12] alvin-tan commented on #72
[Zowe LTSR Proposal for ZLC 0814a.pdf](https://github.com/zowe/zlc/files/3501741/Zowe.LTSR.Proposal.for.ZLC.0814a.pdf)

as discussed at ZLC today

note: this is an example of what an LTSR could look like, not a final proposal

[2019-08-14 22:45] Tbr00ksy commented on #113
Great event everyone!

link to assets: https://github.com/zowe/community/tree/master/Project%20Management/2019%20Face%20to%20Face

[2019-08-14 22:45] #113 closed, assigned to nobody

[2019-08-16 20:09] jmertic commented on #95
We are still seeing both past issues and issues on commits moving forward on DCO compliance. See attached...

[zowe-dco-scan-20190815.csv.txt](https://github.com/zowe/zlc/files/3510997/zowe-dco-scan-20190815.csv.txt)

It seems that those with write access are still bypassing DCO checks ( details at how on https://github.com/probot/dco#how-it-works ). We need to improve enforcement on this.

Please

[2019-08-19 17:19] nkocsis opened #138 "Communication of themes across squads and releases"
Come up with a process whereby common themes can be assigned to a release and the need staff to complete the task.

Currently work is on-going at the individual squad level but nobody leads the initiatives across Zowe while driving to consensus so that we can claim support.

Possible Themes to discuss
CUPIDS (Componentized Upgrade Packaging Install Distribute and Support)
https://openmainframeproj

[2019-08-21 13:08] #130 closed, assigned to nobody

[2019-08-28 12:57] hogstrom commented on #96
Complete

[2019-08-28 12:57] #96 closed, assigned to nobody

[2019-09-03 18:04] Tbr00ksy opened #141 "Zowe Community Access to New Website and Download Metrics"
With the cut-over to the new Zowe.org site, how is the community to access data and generate the monthly metrics reporting? Are there process that need to change or access that needs to be granted?

[2019-09-11 12:57] MarkAckert commented on #125
This is completed

[2019-09-11 12:57] #125 closed, assigned to nobody

[2019-09-13 08:12] MarkAckert opened #144 "Zowe Testing - Multiple z/OS versions"
How should the community go about testing or validating Zowe on different z/OS versions, or zNext?

[2019-09-13 10:24] armstro commented on #144
My opinion: Since both the specifics of new z/OS releases and new Z
hardware is not public information until day of announce - I think it is
up to the contributing Zowe open community members to test under whatever
NDA agreements they have with IBM and then on day of announce, disclose
what testing they have done. While individuals may not have agreements in
place for early access to unannounced z

[2019-09-18 12:44] hogstrom commented on #92
Merging with https://github.com/zowe/zlc/issues/103

[2019-09-18 12:44] #92 closed, assigned to nobody

[2019-09-18 12:46] hogstrom commented on #118
Updated and merged

[2019-09-18 12:46] #118 closed, assigned to hogstrom, 1000TurquoisePogs, MarkAckert, armstro, jplinardon, jlvignaudCA

[2019-09-18 12:47] hogstrom commented on #95
This is now part of a continuous improvement process.  New issues should be opened for discussion on this topic if needed.

[2019-09-18 12:48] hogstrom commented on #90
Need to create a process of clearing information to the sub-projects.

[2019-09-18 13:02] jmertic commented on #95
What is the issue or project for that? This issue still remains unresolved.

On Wed, Sep 18, 2019 at 8:47 AM Matt Hogstrom <notifications@github.com>
wrote:

--
Thank you,

John Mertic
Director of Program Management - Linux Foundation
ASWF, ODPi, and Open Mainframe Project
jmertic@linuxfoundation.org
+1 234-738-4571
Schedule time with me at https://calendly.com/jmertic

[2019-09-18 13:32] hogstrom commented on #144
Mark Ackert
Jack Jia
Joe Winchester
Nick

[2019-09-18 16:59] jmertic commented on #141
We've granted out access to Google Analytics, which should provide access to any of these items that are needed.

We do need to move the docs site over to this Google Analytics as well. Probably best if you make a pull request as I'm not sure all the places to have it updated.

[2019-09-19 14:41] jmertic commented on #110
Hey @nkocsis - I know one thing I'm working with @swinslow is streamlining these processes as we scale up this service across the LF. I'd love any feedback you might have on how to improve the workflow so that the Zowe team can review and remediate anything that comes up, along with providing more visibility of these scans to the public. Zowe is a great community to build best practices around in

[2019-09-20 02:18] jmertic commented on #95
Attached latest report - lots of sign offs still missing.

[zowe-dco-scan-20190918.csv.txt](https://github.com/zowe/zlc/files/3633910/zowe-dco-scan-20190918.csv.txt)

[2019-09-26 21:00] Joe-Winchester commented on #90
@1000TurquoisePogs - with the move to make the Zowe runtime read only (so that we can use USS mountpoints for SMP/E and also wipe and replace with PTFs) there is a configuration directory that is introduced in 1.5.  This is where the api-defs for static definition has moved to.  It'd be great to move the zlux-app-server/log files also here.  Is there a way to specify a parm to nodeserver.sh and no

[2019-09-30 14:50] nkocsis opened #148 "Approval to promote Zowe v1.5.0 RC3 as GA"
We are requesting to ship RC3

Build #37 is promoted as Zowe v1.5.0-RC3, you can download from:
https://gizaartifactory.jfrog.io/gizaartifactory/libs-release-local/org/zowe/1.5.0-RC3/zowe-1.5.0-RC3.pax
or:
https://projectgiza.org/builds/stable/1.5.0-RC3/zowe-1.5.0-RC3.pax
The CLI Standalone Package is published here:
https://gizaartifactory.jfrog.io/gizaartifactory/libs-release-local/org/zowe/1.5.

[2019-10-02 13:25] armstro commented on #148
+1

Bruce Armstrong
IBM System Z Offering Manager- zowe.org
4205 S MIAMI BLVD, DURHAM NC 27703-9141
Email: armstrob@us.ibm.com
Tel: 919-254-8773
Cell: 919-931-3132

From:   Nicholas Kocsis <notifications@github.com>
To:     zowe/zlc <zlc@noreply.github.com>
Cc:     Subscribed <subscribed@noreply.github.com>
Date:   09/30/2019 11:02 AM
Subject:        [EXTERNAL] [zowe/zlc] Approval to promote Zowe

[2019-10-03 00:35] armstro opened #149 "Zowe Training and Digital Badge - ZLC discussion - request to OMP"
3rd party has been offering free Zowe education and badge -  work with the OMP has stalled and education is being withdrawn. The education is to the benefit of the community when many people are hungry for education. Request discussion to get facts on the request to OMP and status plus how we can help.

[2019-10-03 01:06] jmertic commented on #149
Maybe we could setup a call to chat on this? ( noticed you kept this very vague so perhaps you'd rather handle offline ). Also this sounds like a potential vendor product question which is outside the scope of the ZLC IIRC.

[2019-10-03 01:06] #149 closed, assigned to jmertic, armstro

[2019-10-03 08:19] armstro commented on #149
Sure - the call is the ZLC next week as I do think the zlc need to be
understand - you should already be aware of the situation - involves
Interskill Learning -

Bruce Armstrong
IBM System Z Offering Manager- zowe.org
4205 S MIAMI BLVD, DURHAM NC 27703-9141
Email: armstrob@us.ibm.com
Tel: 919-254-8773
Cell: 919-931-3132

From:   John Mertic <notifications@github.com>
To:     zowe/zlc <zlc@noreply.

[2019-10-05 09:51] armstro commented on #149
I'm told issue resolved - thanks John - no need for ZLC discussion

https://www.youracclaim.com/org/ibm/badge/interskill-basics-for-zowe

[2019-10-11 14:01] dkelosky commented on #72
It's a trivial matter - but why `LTSR` instead of `LTS`?  I hadn't come across `LTSR` and had to google it.

In Ubutu, Eclipse, Node.js, and many others I see `LTS` instead of `LTSR`.  Should this be changed to be more familiar? 😄

[2019-10-11 14:22] armstro commented on #72
Blame it on IBM-speak - https://www.ibm.com/support/pages/ibm-software-support-continuous-delivery-lifecycle-policy - I have no problem using LTS - well other than just need to train my brain to use it...LTSR just rolls off the tongue easier (for me). LTS going forward to be "open".

[2019-10-11 14:25] dkelosky commented on #72
LTS sounds more familiar to me.  [MQ team apparently likes the LTS route too](https://www.ibm.com/support/knowledgecenter/en/SSFKSJ_9.0.0/com.ibm.mq.pla.doc/q004715_.htm)  😉 .

[2019-10-11 14:28] MarkAckert commented on #72
`LTS` sounds good to me, this way I can stop repeating myself when I say `LTSR Release`

[2019-10-16 11:44] armstro commented on #72
Based on Oct 9 ZLC meeting discussion on LTS, I propose the following as a stated support policy for V1.x of Zowe and introduction/preview of Zowe 2.0. This is a DRAFT ONLY - we need to edit and agreement by the ZLC and squad leads:

_The Zowe community intends to issue a release in 1Q2020 that will be serviceable via the vendor-neutral SMP/E install and PTF process currently previewed on zowe.org

[2019-10-16 14:38] armstro commented on #72
General comment is above policy needs additional work - plan is to adopt more node.js terminology and to provide visualization of the support plans.

[2019-10-21 01:41] solsu01 commented on #72
I iterated on Alvin/Bruce's release proposal: [Zowe OSS 2019-20 Roadmap.pptx](https://github.com/zowe/zlc/files/3748736/Zowe.OSS.2019-20.Roadmap.pptx)

Some details:

1. I would say 1.x has already been operating in "current" mode.
2. We started "Active LTS" when we said we will no longer introduce breaking changes into Zowe 1.x. I don't think we need to align SMP/e drop with "Active LTS" if we've

[2019-10-21 20:30] armstro commented on #72
@solsu01 Thanks for making another iteration on the LTS design.

For Zowe V1, I agree we are not making breaking changes so may be past the "current" phase but we need the SMP/E work to claim "Active LTS".

The SMP/E work is first step to doing what the team calls CUPIDS. This is needed before we can enter into Active LTS on z/OS. Today's Zowe z/OS install and config is not modular (my term). CUPI

[2019-10-21 20:47] solsu01 commented on #72
Ok, it might be better to just leave it as "Current" until SMP/e first drop then.

Updated: [Zowe OSS 2019-20 Roadmap.pptx](https://github.com/zowe/zlc/files/3752835/Zowe.OSS.2019-20.Roadmap.pptx)

[2019-10-21 20:49] MarkAckert commented on #72
I agree with Bruce's comment on SMP/e. Without SMP/e, providing incremental maintenance is technically feasible but highly error prone and painful, requiring binary-by-binary replacements. Matt has previously described the current install method as a "breaking change" because every release requires clobbering the old one, or keeping the releases separate without native migration tooling.

I don't

[2019-10-21 21:15] jplinardon commented on #72
In terms of declaring active LTS, each squad has identified and tagged a list of items they want to have (zenhub and git issues are not in agreement on that front it seems).
Are we constraining the timeline and telling the squads they have a finite amount of time to get as much done as possible, or are we going to let the squad complete each list prior to declaring LTS? It was my impression we wer

[2019-10-22 07:49] Joe-Winchester commented on #72
Suggested changes:
 

 
I wanted to inject a bit more detail on what a pax release is, what a convenience build is, what an FMID and PTF are, so I have this suggested para:
 

 
On a pedantic note, pax is a file compression format and not an install technology, and both the convenience build and SMP/E are distributed in pax file format (i.e. SMP/E download is a AZWE001.pax.Z file which is in .pax

[2019-10-22 13:04] solsu01 commented on #72
@MarkAckert

In my revision to Alvin's proposal (Slide 2 on [Zowe OSS 2019-20 Roadmap.pptx](https://github.com/zowe/zlc/files/3752835/Zowe.OSS.2019-20.Roadmap.pptx)), I am proposing 1 year of Active LTS followed by 1 year of Maintenance LTS which adds up to 2 years of total support from the day we declare Active LTS.

I think it would be good to have every release in LTS (combination of active and

[2019-10-22 17:42] armstro commented on #72
[Zowe.OSS.2019-20.Roadmap Rev 1.pptx](https://github.com/zowe/zlc/files/3757421/Zowe.OSS.2019-20.Roadmap.Rev.1.pptx)

OK - thanks for the comments. See Rev 1 of deck - removed slide 1, created new slide 2. Slide 3 comes from the node.js site https://nodejs.org/en/about/releases/

1) We said we liked the Node.js description of current, active and maintenance so I have made an attempt to draw chart

[2019-10-22 18:12] #148 closed, assigned to hogstrom

[2019-10-22 18:12] nkocsis opened #150 "Approval to promote Zowe v1.6.0 RC2 as GA"

[2019-10-22 19:01] solsu01 commented on #72
Thanks for iterating on the proposal @armstro .

I chalk it up to the longer "current" phase due to this being a new v1.x project.

With respect to the iteration on the proposal, I see a few differences of note in the new slide 2:

1. The length of LTS of v1.0 was extended to 1H2022 rather than ending at 1H2021.
^ I agree that LTS releases should generally be 2 years in length of LTS (Active + Mai

[2019-10-24 18:58] armstro commented on #72
[Zowe.OSS.2019-20.Roadmap Rev 3.pptx](https://github.com/zowe/zlc/files/3768933/Zowe.OSS.2019-20.Roadmap.Rev.3.pptx)
Attaching another rev of the lifecycle chart along with some additional comments.

1) Definition of "critical" defect needs some discussion - I included the IBM definition of Sev 1 that does not exactly apply to open community since community is not geared toward "system down" and "

[2019-10-25 00:24] solsu01 commented on #72
Looks great!

I believe the CLI is in a good place to fall into this same cycle. I had some chats with the CLI squad and they're looking forward to aligning with the Zowe release cycle.

From ppt:

Both Active LTS and Maintenance LTS are "long term support" - we want users to feel confident about both phases of LTS. We probably shouldn't make statements that make the Active LTS phase seem any less

[2019-10-25 06:55] jlvignaudCA commented on #72
ON defect severity 1, Broadcom definition is

System-down or a product-inoperative condition impacting production
environment, and an immediate workaround is not available.

Criteria:

Causes downtime

Irrecoverable data corruption

Daily application crash

Critical security exploits

Blocks a critical business functionality.

/Jean-Louis

On Fri, Oct 25, 2019 at 2:24 AM Sujay Solomon <notificatio

[2019-10-25 11:29] armstro commented on #72
[Zowe.OSS.2019-20.Roadmap Rev 4.pptx](https://github.com/zowe/zlc/files/3771784/Zowe.OSS.2019-20.Roadmap.Rev.4.pptx)

Thanks for review and feedback - I've incorporated input.

With regard to use of the term FMID - while that is IBM jargon, I think it is an understood concept on z/OS. The open community is planning to produce both pax and FMID formats. I agree PID is not in the scope of the open c

[2019-10-25 12:00] solsu01 commented on #72
@armstro on FMID change:

I don't think Active LTS -> Maintenance LTS transition will cause an FMID change for the ongoing SMP/e release package. I spoke with @vvvlc (CUPIDS member) and he thinks FMID will remain the same for that release across Active -> Maintenance transition. However, around that transition time is when we begin Active LTS for the **next** release, which would result in a new F

[2019-10-25 12:20] MarkAckert commented on #150
Closing this, 1.6.0 has been approved in a vote thread and released.

[2019-10-25 12:20] #150 closed, assigned to nobody

[2019-10-25 12:38] MarkAckert commented on #72
My understanding was also that each major release version of Zowe requires a different FMID.

I would expect the FMID to be stable within a single Zowe release. If a user picks up Active LTS and applies all maintenance PTFs to it, they should in effect end up with the Maintenance LTS.

If a user wanted to upgrade from v1 to v2 Zowe (say, v1 EOL Maintenance to v2 active/maintenance) - which means t

[2019-10-25 12:43] armstro commented on #72
My bad on FMIDs - I will fix ......we need to discuss upgrade process......I'll post (near final) deck shortly

[Zowe.OSS.2019-20.Roadmap Rev 5.pptx](https://github.com/zowe/zlc/files/3772146/Zowe.OSS.2019-20.Roadmap.Rev.5.pptx)

Sounds like we need to discuss upgrade path but I'd like to get closure on this LTS topic first and post to the wider community when we are ready. I think we can expand o

[2019-10-25 19:26] solsu01 commented on #72
Almost there!

We should qualify this as "For z/OS Components...", and then have a similar statement for client stuff... "For the CLI and associated plugins, a new Current release will first use the @xyz npm scope for developer and testing use and an @abc npm scope will be introduced for for the Active LTS phase." @MarkAckert could you help polish this statement?

Also I'm not sure if the original

[2019-10-25 19:39] armstro commented on #72
Thanks - and I need to confirm Current will be PAX only - I might be wrong
- we are doing pax and FMID now and since it is automated build we may do
the same for all releases going forward.

Bruce Armstrong
IBM System Z Offering Manager- zowe.org
4205 S MIAMI BLVD, DURHAM NC 27703-9141
Email: armstrob@us.ibm.com
Tel: 919-254-8773
Cell: 919-931-3132

From:   Sujay Solomon <notifications@github.com>

[2019-10-28 16:24] Joe-Winchester commented on #72
Yes - the FMID AZWE001 is for version 1.  The FMID AZWE002 will be for version 2.  Within version 1 we can go from 1.6.0 through to 1.999.999 or higher, but we can't bump the first digit without a new FMID.

Correct.
If we wanted to we could every quarter or other frequency create a rollup single downloadable build that was "initial FMID + the last rollup PTF" just to make it easier than having to

[2019-10-28 17:21] MikeBauerCA commented on #72
Typically distribution tags are used for communicating different distributions such as `lts`, `latest`, etc. Scopes are typically used for grouping related packages together such as packages that are part of the same product/organization/entity.

The current proposal for Zowe LTS is very similar to what Node does (https://nodejs.org/en/about/releases/). From an npm perspective, I would suggest dis

[2019-10-30 12:08] armstro commented on #72
[Zowe.OSS.2019-20.Roadmap Rev 6.pptx](https://github.com/zowe/zlc/files/3788696/Zowe.OSS.2019-20.Roadmap.Rev.6.pptx)
Posting what I think is the "near final" deck describing LTS

- I removed the bullet saying "Current" would be pax file - we can debate if it matters in the upcoming ZLC. I think build automation will produce FMID and PAX for all releases (including Current) - it can be up to the co

[2019-11-01 18:17] MikeBauerCA commented on #72
After discussion, perhaps `zowe1-lts` and `zowe2-lts` would be a better naming standard to communicate that the tag is a reference to the greater Zowe solution instead of the individual CLI and CLI plugin versions. One significant purpose of these tags is to eliminate the need for a complex compatibility matrix.

[2019-11-04 14:46] MarkAckert commented on #72
Agree with the direction, how about `v1-lts` and `v2-lts` ? Using `zowe` in the tag seems redundant when the package scope for our artifacts will be `@zowe`. i.e., `@zowe/cli@v2-lts` vs `@zowe/cli@zowe2-lts`.

[2019-11-04 14:52] dkelosky commented on #72
good point @MarkAckert that Zowe could be redundant.  Without the redundant part, someone may think @zowe/cli@v1-lts would obtain version 1 of the CLI (following angular's model):
![image](https://user-images.githubusercontent.com/14940561/68130097-c4da0100-fee8-11e9-8c7b-fcce8f7e718d.png)

What do you think?

[2019-11-04 15:40] MarkAckert commented on #72
I see the confusion, I'm not sure what the best answer is here.

I was originally confused by  `zowe2-lts` (thinking it was analogous to the angular `v2-lts`), so maybe a small change like `@zowe/cli@zowe-v2-lts` would have been clearer to me? I'm not sure...and I may have been the exception reading it that way. Are there any other projects out there which tag LTS in reference to their parent rele

[2019-11-04 15:45] dkelosky commented on #72
loosely, perhaps the typings packages - like [@types/node](https://www.npmjs.com/package/@types/node) and [@types/express](https://www.npmjs.com/package/@types/express) - which map to versions of typescript compiler but not to the versions of the typings.

[2019-11-04 16:24] solsu01 commented on #72
In these suggestions, does zowe-v1 and zowe-v2 refer to the "greater" Zowe 1.x an Zowe 2.x ?

[2019-11-04 16:33] MarkAckert commented on #72
Correct.

I support tags following the "greater" Zowe version schema, as that aligns us with zowe.org deliverables and keeps our version discussions with extenders/stakeholders focused on the "greater" Zowe releases. If we need more tags in the future for developers or other types of users, we can add them at that point.

[2019-11-05 12:54] armstro commented on #72
Please find attached the proposed zowe.org design of describing Zowe LTS policy. Many thanks to @nannanli for her working on this. Please comment here on any issues or concerns. We can discuss at tomorrow (Nov 6) ZLC meeting assuming we have a quorum.

[LTS_Zoweorg_Design.pdf](https://github.com/zowe/zlc/files/3809023/LTS_Zoweorg_Design.pdf)

[2019-11-05 19:27] solsu01 commented on #72
The draft looks great!!

My only comment is that there are dates "Feb 8th" mentioned in the charts. Is this ok? Are we ready to commit to that date?

[2019-11-05 20:08] armstro commented on #72
Good point.  I think date came from looking at schedule for 1.10 and is just a guess. Maybe we say 1q? We can discuss.

Bruce Armstrong
Armstrob@us.ibm.com

Sent from my iPhone using IBM Verse

On Nov 5, 2019, 12:27:28 PM, notifications@github.com wrote:

From: notifications@github.com
To: zlc@noreply.github.com
Cc: armstrob@us.ibm.com, mention@noreply.github.com
Date: Nov 5, 2019, 12:27:28 PM
Sub

[2019-11-13 12:22] armstro opened #152 "Backward compatibility policy"
Using this issue to allow public discussion on Backward Compatibility Policy - this is to be a "companion policy" to the LTS issue. https://github.com/zowe/zlc/issues/72

Proposal is to post both at the same time.

[Zowe LTS Backwards Compatibility.docx](https://github.com/zowe/zlc/files/3841038/Zowe.LTS.Backwards.Compatibility.docx)

[2019-11-13 12:39] armstro commented on #152
Posting comments from email exchange:

1) what defines public vs non-public APIs? anything we published to the API catalog today out of the box? if this is what we have in mind, there's probably work to be done here since I don't think we document existing APIs in our Zowe docs today nor do we have Swagger docs for all APIs OOTB

We should do a full review APIs, but my starting point would be all

[2019-11-13 12:40] armstro commented on #152
For completeness - in email exchange positive comment to the "alternate proposal"

I like the alternate proposal. It gives us an opportunity to learn without making a public commitment. The squads should work as if n-1 was already the rule during this time. It should be in their working agreement/manifesto.

[2019-11-19 20:30] MarkAckert opened #153 "Promote CLI plugin from incubation to active"
The `zowe-cli-ftp-plugin` is considered ready by developers to be included in the Zowe CLI bundle we link to on zowe.org.

What is the process this plugin should follow to be promoted into the Zowe CLI bundle? Is it the same as migrating a subproject from `incubation` to `active`, or different? Does this require squad approval, ZLC approval, or both?

[2019-11-20 20:26] armstro commented on #72
[Zowe.OSS.2019-20.Roadmap Rev 7.pptx](https://github.com/zowe/zlc/files/3871217/Zowe.OSS.2019-20.Roadmap.Rev.7.pptx)
Modified chart and added bullet regarding backward compatibility

[2019-11-21 03:15] jplinardon commented on #72
I think this draft gives us the necessary flexibility to commit and move forward. I propose we move to vote on this before year end.

[2019-11-26 19:17] MarkAckert commented on #153
This is the checklist the squad came up with:

- Documentation and Naming
- Automated build and test
- EPL 2.0 License
- NPM audit
- Security scanning
- Documentation peer-review
- UX review
- Automated deployment to staging artifactory (currently Giza)
- Automated deployment to public NPM
- TPSRs

I think we should create a doc in the ZLC with this checklist, focused on the steps required for any

[2019-11-26 19:19] MarkAckert opened #156 "Archival of historical builds (<1.0.0)"
As part of the transition from GizaArtifactory to LF Artifactory, we are transferring artifacts from Giza -> LF in anticipation of Giza becoming unavailable in a few months time.

We are focused on **release** artifacts only, but for release artifacts versioned under **1.0.0**, the distribution was NOT EPL-2.0.

Are there any legal issues hosting non-EPL artifacts on LF Artifactory, and if so, wha

[2019-11-26 20:12] MarkAckert commented on #72
What do we say about Conformance v1  (or Conformance 2019) users? Will they continue to work against Zowe v1.x Active LTS?

We discussed last week on the ZLC about breaking changes into the v1.x LTS drop....and this impacts for Conformance v1. If we intend to break, we must give the 60-90 day heads up if I recall correctly...

[2019-11-27 11:05] armstro commented on #156
Let's discuss at 11/27/19 ZLC meeting but I do not see a reason to carry these builds forward to the LF Artifactory. Likely need agreement from @jmertic . These being non EPL2.0 and knowing there are  security improvements in 1.x levels I would not carry these forward.

[2019-11-27 19:15] jmertic commented on #156
We cannot host these artifacts in the LF Artifactory - and frankly they shouldn't be something directly available through the project period. If one of IBM/Broadcom/Rocket wants to host them, then they could per the previous agreement ( though I thought that had expired ).

[2019-12-12 17:13] MarkAckert opened #157 "Zowe Sub-Project Proposal: Zowe on the go (Mobile App)"
- **Name of project (must be unique within Zowe)**

Zowe on the go

 "Interacting with Zowe from your mobile device is now within reach"

- **Project description (what it does, why it is valuable, origin and history)**

This project was developed during a Zowe Hackathon at Broadcom. The goal of this project was to develop a fast, on-the-move identification/triage application for mainframe operatio

[2019-12-12 17:20] MarkAckert commented on #157
@jellypuno @crawr @jandadav @muzikovam @zowe/zlc

All, this is the sub-project proposal as brought up on the ZLC this week.

The team is planning to present/discuss the proposal to the ZLC on the January 15th meeting, and a public Github repository with the corresponding code should be added next week.

Please review this proposal prior to the January 15th date. Thank you!

[2019-12-13 00:45] jplinardon commented on #157
I have a few questions:

1. Would this project be a mobile application only or would it/could it be considered a framework for Zowe mobile application development
2. What considerations are provided for authentication and communication security
3. Given the stated purpose of monitoring services and jobs, would a backend/server be part of this project, or would it only poll existing APIs?

[2019-12-16 13:17] jellypuno commented on #157
Hi @jplinardon

At its current state, It is a mobile application that accesses Zowe Services through REST APIs. Will it be a framework for future Zowe mobile development? This is open for discussion.

We are communicating with API Mediation Layer in terms of authentication with credentials. Currently we are using Basic Authentication to access the services. But in future, when the changes are avai

[2019-12-16 14:07] jellypuno commented on #157
- Source control

Github
https://github.com/jellypuno/Zowe-on-the-go

[2020-01-15 13:03] armstro commented on #72
Attempt to make another rev of the slides for ZLC meeting 1/15/20 .....
[Zowe.OSS.2019-20.Roadmap.Rev.8.pptx](https://github.com/zowe/zlc/files/4065005/Zowe.OSS.2019-20.Roadmap.Rev.8.pptx)

[2020-01-15 15:30] armstro commented on #157
Many thanks to the team for the presentation - would someone please post the slides that describe the project. I will discuss with OMP (John Mertic) on how we get the code scanned and included into the project. Posting the slides here would be great for future reference.

[2020-01-15 15:38] jellypuno commented on #157
Hi, I have added the slides in the repo: https://github.com/jellypuno/Zowe-on-the-go/tree/master/app/resources/presentation

[2020-01-22 12:06] armstro commented on #72
Another attempt to state support and N-1 compatibility policy.
[Zowe.OSS.2019-20.Roadmap.Rev.9.pptx](https://github.com/zowe/zlc/files/4097100/Zowe.OSS.2019-20.Roadmap.Rev.9.pptx)

Also re-
[LTS_Zoweorg_Design.pdf](https://github.com/zowe/zlc/files/4097107/LTS_Zoweorg_Design.pdf)
attaching prior design for posting to zowe.org -

[2020-01-22 16:57] armstro commented on #72
[Zowe.OSS.2019-20.Roadmap.Rev.10.pptx](https://github.com/zowe/zlc/files/4098591/Zowe.OSS.2019-20.Roadmap.Rev.10.pptx)

[2020-01-23 12:46] jmertic commented on #72
Two things:

- Let's translate this from a PPT and add to the [release process](https://github.com/zowe/zlc/blob/master/process/ReleaseProcess.md) docs. Needs to be done anyway - so might as well have the review done in that format to avoid the "lost in translation" issues that can happen.
- I don't see why we'd have the entire chart on the release process on the main page of zowe.org - I'd just r

[2020-01-23 13:41] armstro commented on #72
John - good point to get into release process docs - once have have
agreement from the zlc on the words and chart we can fold into appropriate
places .....the reason the the chart and proposal to update the zowe.org
site was to follow the example of the node.js community here:
https://nodejs.org/en/about/releases/

Our release/version schedule plus support policy is going to be a big deal
to custo

[2020-01-23 14:07] jmertic commented on #72
@armstro Definitely good to document - glad to see the collaboration here.

Looking at the node.js example, it is on a sub-page - which was sorta my point.

There is a larger picture of trying to consolidate docs - but that's a whole other conversation ;-)

[2020-01-27 22:10] hogstrom commented on #72
Does conformance then tie to a specific Version and Release?  Seems like a Version is not good enough if a breaking change can be introduced in a release update.  I'm a little confused about how breaking changes fit into this model?

[2020-01-27 22:18] armstro commented on #72
Truly breaking change will be done on version boundaries.......there are
"changes of note" or what I call "++Hold" type changes where the code will
work but there may be a configuration action needed.

Bruce Armstrong
IBM System Z Offering Manager- zowe.org
4205 S MIAMI BLVD, DURHAM NC 27703-9141
Email: armstrob@us.ibm.com
Tel: 919-254-8773
Cell: 919-931-3132

From:   Matt Hogstrom <notifications@

[2020-01-28 19:23] armstro opened #159 "Proposal to get license for service called "AWS Device Farm""
John mentioned he can look into if any other LF project using such a service, Zowe team may piggyback on licenses bought for other project, and run Zowe cross browser test there @nkocsis @NakulManchanda

[2020-01-29 02:39] jmertic commented on #159
@pono Can you review and see how to best integrate into the existing CI/CD environment?

[2020-01-29 13:08] armstro commented on #72
Sorry Matt - just saw this @hogstrom Conformance is tied to a version .....I find the term "breaking change" confusing - how about we clarify what that means - my proposal is

- Breaking change (with no work around)is on a version boundary
- Breaking change (or what I call "changes of note" like ++Hold jargon in SMP/E speak) that DO have a work around (via doc or config file change) are allowed on

[2020-01-29 14:19] MarkAckert commented on #72
For more on breaking changes, please see some discussion here: https://github.com/zowe/zlc/issues/152

[2020-01-29 18:13] armstro commented on #72
[Zowe.OSS.2019-20.Roadmap.Rev.11.pptx](https://github.com/zowe/zlc/files/4129798/Zowe.OSS.2019-20.Roadmap.Rev.11.pptx)

[2020-01-31 11:59] Joe-Winchester commented on #72
[Zowe.OSS.2019-20.Roadmap.Rev.12.pptx](https://github.com/zowe/zlc/files/4139139/Zowe.OSS.2019-20.Roadmap.Rev.12.pptx)

Tks @armstro - I've added a new chart 2 to describe version, release, modification numbering (that I promised 2 ZLCs ago so apologies it's late) and I've also done some minor updates to try and describe the relationship with conformance program.

One question I have is that curre

[2020-01-31 15:38] armstro commented on #159
Apologies - I messed up assignees and tried to fix

[2020-01-31 16:32] Joe-Winchester commented on #152
@armstro - Does n-1 mean that an extender who has created a Zowe v2 conformant plugin can expect it to work with Zowe v1 ?  That goes against what the conformance version boundary is for, which is to allow the product to introduce a new conformance program.  Or does it mean that a Zowe v1 extension can work with Zowe v2, which again goes against the reasons for having a new version.
My understandi

[2020-02-04 19:05] jmertic commented on #159
Howdy!

So digging more into this after talking to our RE team - could we just run Selenium headless on the instance instead? Probably would be a bunch easier and remove the need for storing and managing additional credentials and services.

[2020-02-04 20:14] NakulManchanda commented on #159
Hi @jmertic ,
As mentioned on OMP slack - zlc channel by @1000TurquoisePogs , we need a way to perform cross browser testing for four common browsers - firefox, chrome, safari, edge, maybe IE , and across different OS versions as well (Mac, Windows, Linux)

Linux we can use docker image, but even to run headless selenium to test safari, edge or IE for windows, mac we need host machines - they have

[2020-02-04 20:39] jackjia-ibm commented on #159
@jmertic, a little background about what we have done with Open Source tools on browser testing.

Currently we are using Selenium headless testing with `Gecko Driver`, and the test cases are running daily against nightly builds. We also did try out `Chrome Driver` manually which works well. And I think we can test against multiple versions on Firefox/Chrome with some improvement. Those tests as Na

[2020-02-04 22:06] jmertic commented on #159
We can spin up a Windows Server instance in the existing LF RE infrastructure, which should open up testing for IE and Edge.

That does leave the gap of Safari - but I would think with Chrome and Safari both webkit based there's likely minimal gaps.

[2020-02-06 11:05] Joe-Winchester commented on #72
[Zowe.OSS.2019-20.Roadmap.Rev.13.pptx](https://github.com/zowe/zlc/files/4164717/Zowe.OSS.2019-20.Roadmap.Rev.13.pptx)

Updated to include updates from Peter Fandel

[2020-02-07 14:49] 1000TurquoisePogs commented on #159
Unfortunately Safari has trailed Chrome, such that in the past we've needed to pay special attention to it since things would not work quite right - Differences in CSS behavior being the hardest to plan for, but sometimes we've also been surprised with it missing JS features. I think it is getting better, but it's still not a drop-in replacement between the two.

[2020-02-07 19:25] jmertic commented on #159
FWIW - AWS Device Farm doesn't help the Safari issue...

https://docs.aws.amazon.com/devicefarm/latest/testgrid/techref-support.html

[2020-02-12 14:48] solsu01 opened #160 "Proposal for a new Zowe landscape diagram"
As discussed in ZLC meeting 2/12, let's collaborate on updating the Zowe landscape diagram with the new sub-projects like Mobile App and ZDK (Python, NodeJS).
[zowe_landscape_update.pptx](https://github.com/zowe/zlc/files/4192974/zowe_landscape_update.pptx)

[2020-02-12 15:13] solsu01 opened #161 "Zowe squad proposal to accomodate new contributions & promote further integration"
New subprojects:
1. Zowe Client SDK
2. Zowe Explorer

ZLC approved presenting this at SHARE as an "idea", and for the ZLC to meet at SHARE to whiteboard how to organize the squads to facilitate the addition of these new sub-projects.

Sharing details in the ppt here.
[zowe_new_subprojects.pptx](https://github.com/zowe/zlc/files/4193054/zowe_new_subprojects.pptx)

[2020-02-12 19:17] armstro commented on #160
I have added Sean for his review of the slide - also trying to add Peter Fandel but checking with him on whether he has OMP/Zowe github id.

[2020-02-14 13:44] PeterFandelAtRocket commented on #160
'off-host' is probably not the term you want but I was thinking something like this
[zowe_offhost_clientSDK.pptx](https://github.com/zowe/zlc/files/4204673/zowe_offhost_clientSDK.pptx)

[2020-02-14 15:41] solsu01 commented on #160
Thanks for the review!

On the "off-host" term - I am not sure if that's needed in addition to "client". In fact, I don't think there's anything stopping someone from building a python (thanks to Rocket..) or node app using this SDK that runs on z/OS - sorry if I miscommunicated this on the ZLC call.

The "Client" part of SDK just shows that this SDK is a client of server side REST APIs, but the c

[2020-02-17 14:28] Joe-Winchester commented on #160
[zowe_landscape_update 01.pptx](https://github.com/zowe/zlc/files/4214254/zowe_landscape_update.01.pptx)
 @solsu01 - I've added a 02 chart to the deck with what I think the landscape chart could show - it's not polished but I wanted to
- capture more about the extensibility of Zowe, where the conformance program relates to each part of the landscape
- capture more of existing runtimes that Zowe wo

[2020-02-18 20:00] jackjia-ibm commented on #159
FYI - a support ticket https://jira.linuxfoundation.org/servicedesk/customer/portal/2/IT-19020 is created to help LF team track the progress.

[2020-02-19 05:35] armstro commented on #72
Propose zowe.org site changes be done as follows
[Zowe.OSS.2019-20.Roadmap.Rev.14.pptx](https://github.com/zowe/zlc/files/4223282/Zowe.OSS.2019-20.Roadmap.Rev.14.pptx)
[Support policy in words .docx](https://github.com/zowe/zlc/files/4223283/Support.policy.in.words.docx)

Recommend the New Conformance Program description and new process for Q&A be updated at the same time.....

[2020-02-19 14:58] nannanli commented on #72
@armstro @jmertic Hi Bruce, John,
For the LTS updates to be made on zowe.org, I previously created a PR and then closed. Based on the comment above, it seems the new design is as follows. @jmertic I can make these changes and open a PR for review if you prefer. Just let me know. Thanks!
- Create a **Releases** tab on zowe.org, right after the **Download** tab.
   - In the new Releases section, add

[2020-02-19 16:13] solsu01 commented on #160
Updates from ZLC call 2/19
Cartier is ok to use this ppt at SHARE:
[zowe_clientSDK.pptx](https://github.com/zowe/zlc/files/4225914/zowe_clientSDK.pptx)

For the longer term updated landscape diagram, we'll continue to iterate and refine this ppt:
[zowe_landscape_update.02.pptx](https://github.com/zowe/zlc/files/4225980/zowe_landscape_update.02.pptx)

[2020-02-19 17:22] armstro commented on #72
YES thanks @nannanli  for being so attentive to this item. One minor change to the words in the Word Doc is to NOT link to the new conformance criteria (yet). @RASakach wants to rollout the new conformance criteria over time and the new plan to help people with Q&A. So my proposal is to just post the LTS info on zowe.org .......it would be great if you or @jmertic  could do pull request and I woul

[2020-02-19 17:23] #156 closed, assigned to armstro

[2020-02-19 17:26] armstro opened #163 "Create a slide set on "What is Zowe" for use by all"
This should also include an updated Zowe landscape slide that is commonly used in other presentations. Details are in https://github.com/zowe/zlc/issues/160

[2020-02-19 17:30] armstro commented on #163
Please contribute "standard" Zowe decks you use so that we can consolidate for a single source for use by OMP members

[2020-02-19 18:28] armstro commented on #160
Looks good to me (who didn't know the knot of snakes logo).....thanks for
the edits

Bruce Armstrong
IBM System Z Offering Manager- zowe.org
4205 S MIAMI BLVD, DURHAM NC 27703-9141
Email: armstrob@us.ibm.com
Tel: 919-254-8773
Cell: 919-931-3132

From:   Sujay Solomon <notifications@github.com>
To:     zowe/zlc <zlc@noreply.github.com>
Cc:     Bruce Armstrong <armstrob@us.ibm.com>, Assign
<assign@n

[2020-02-19 20:18] armstro commented on #163
[Zowe Overview 02-7-20 .pdf](https://github.com/zowe/zlc/files/4227237/Zowe.Overview.02-7-20.pdf)
OK - ppt to big so I am offering pdf just to show what a typical overview deck contains when presenting Zowe. We need to discuss how we collaborate to merge into a few slides.....I don't want to push everyone to box - do we do the work on Confluence?

[2020-02-20 10:46] nannanli commented on #72
@armstro Two PRs have been created for preview.
- Zowe.org update: https://github.com/zowe/zowe.github.io/pull/75
- Release process document update to add the support policy: https://github.com/zowe/zlc/pull/164

Zowe.org Preview screen capture
<img width="1505" alt="Screen Shot 2020-02-20 at 6 07 46 PM" src="https://user-images.githubusercontent.com/14340789/74926739-54aca800-5411-11ea-8d5a-2c683

[2020-02-26 15:52] MarkAckert opened #166 "Zowe: Zeepy Contribution"
This issue is to track donation of Zeepy to the Zowe organization. This has been previously discussed on the ZLC, but as there is currently no squad formed for Client APIs to manage the donation, the ZLC should vote on Zeepy's contribution.

Zeepy is a Python API for issuing z/OSMF REST calls, and was built by a community member, Guilherme Cartier. It is modeled after the Node API the Zowe CLI squ

[2020-03-02 21:30] armstro commented on #72
Providing update chart reflecting the actual date of 1.9 and stating 1.9 as LTS - I will propose this chart be used with the LTS policy description on zowe.org.
[Zowe.OSS.2019-20.Roadmap.Rev.15 chart with dates .pptx](https://github.com/zowe/zlc/files/4278019/Zowe.OSS.2019-20.Roadmap.Rev.15.chart.with.dates.pptx)

[2020-03-03 08:36] nannanli commented on #72
@armstro FYI - The chart screen capture has been updated in the PR. https://github.com/zowe/zowe.github.io/pull/75
<img width="1376" alt="image" src="https://user-images.githubusercontent.com/14340789/75757525-7ab93d00-5d6d-11ea-874d-f650a94ba0de.png">

[2020-03-03 22:36] solsu01 commented on #166
The soft decision by ZLC was for the CLI squad to manage this contribution for now. @MikeBauerCA and Cartier have been in touch on this.

[2020-03-04 16:24] 1000TurquoisePogs commented on #161
I think this is a good first attempt at categorization since it closely aligns with what we have been telling people for the last year, let me explain...

One of my favorite "what is zowe" summaries is that one slide we use which breaks down into 4 pillars of 2 categories

![image](https://user-images.githubusercontent.com/30730276/75898914-c8cf4e80-5e08-11ea-8393-944391ca3f3d.png)

(I know, this

[2020-03-05 22:53] solsu01 commented on #166
@MarkAckert is this resolved or do we still need a vote? If so, how do we initiate a vote?

[2020-03-05 22:55] solsu01 commented on #161
Thanks @1000TurquoisePogs. I've taken your feedback and also solicited feedback from many others in Zowe to get a reality check. Will share a new rev soon.

[2020-03-06 15:52] MarkAckert commented on #166
We should log the contribution has been accepted in a zowe-zlc mailing list thread. I kicked off another thread to have the Zeepy repository scanned - once complete, we can migrate the repo into the Zowe org and close this issue.

[2020-03-06 19:18] solsu01 commented on #161
After taking into account @1000TurquoisePogs's  feedback and soliciting feedback from others in Zowe, I've boiled down the proposal to match near-term realistic goals with reduced disruption to the way squads operate today. To reiterate, the intent of this proposed structure is two-fold 1) align the incoming contributions with the tech they're currently coupled with and 2) put us on a path towards

[2020-03-06 19:37] solsu01 opened #170 "Defining "Zowe Core" to be consistent in commercial Zowe Support Offerings"
Broadcom and IBM both now have commercial support offerings for Zowe. For users to have clarity and avoid vendor lock-in, there should be consistency in what is called "Zowe Core" in these support offerings.

We need to define what is part of "Zowe Core" with respect to commercial support offerings.

[2020-03-07 01:33] solsu01 commented on #72
A few comments:

![image](https://user-images.githubusercontent.com/35504644/76133994-3f2aa700-5fe9-11ea-9ff0-659920cdff1b.png)

1. I would not call this "support policy". It would be better to call it something like "Release Timeline". People are confused about the term "Support" as they're mixing it up with enterprise support where they can call someone and receive support for using Zowe.

![ima

[2020-03-09 07:29] nannanli commented on #72
Thank you @solsu01 ! Comments are incorporated. After revision:
<img width="1001" alt="image" src="https://user-images.githubusercontent.com/14340789/76191552-92377080-621a-11ea-82db-dde4d4dcf4c7.png">

[2020-03-11 13:25] 1000TurquoisePogs commented on #161
I like this version more, thank you. There are still some details I don't know about, such as whether JP would lead Desktop/ZSS work. But, I think you got the Architect boxes right and I'd be glad to work with Dan & Petr & Joe on figuring out Zowe.

The "Whats not working" slide has me wondering about how to fix a few, and why others are a problem:

Is this true? I thought our conformance had spec

[2020-03-11 13:32] 1000TurquoisePogs commented on #170
@solsu01 correct me if I'm wrong but wasn't Broadcom's initial announcement about supporting what then was "all" of zowe? IBM's support I think is defined by what you can download from them?
So, at the moment it seems the de-facto "core" is somewhere between what you can download on zowe.org, and what you can download from IBM.

To me, this means that it excludes the repositories that we have but

[2020-03-11 13:59] 1000TurquoisePogs commented on #170
Just something I mentioned on the ZLC call: if we go repo-by-repo, can we identify who strongly "owns"/knows the code in it? If we don't, is it "core"?

[2020-03-11 18:13] solsu01 commented on #161
Thanks for the feedback @1000TurquoisePogs !

This is something Matt H mentioned on the ZLC call from a few weeks ago. It may not be something that Zowe can solve and rather something IBM internal.

[2020-03-11 18:46] armstro commented on #72
Who has ppt? can it be reattached here please - Per ZLC discussion today (March 11, 2020) we want to adjust slightly to show new conformance roll out.

[2020-03-14 14:11] jmertic commented on #161
This proposal really lacks a connection between the problem statements and the solution. Maybe it's implicit, but I'd suggest it making it explicit.

That all said, if I'm taking each problem statement explicit and trying to grok the model as the solution...

- Contributing-company based silo'ing

I'd agree this is a current state, but I'm unclear how what appears to be a multi-tiered hierarchy he

[2020-03-16 17:20] 1000TurquoisePogs commented on #161
I think @jmertic s points do need to be addressed before we take action on this, because organization structure impacts everyone. What I don't want is to reorg only to later realize it didn't gain us much more than process. I've been open to the ideas but skeptic about if all of the goals will be met. I think some of them will, some of them wont, so we shouldn't judge our (ZLC's) success on this.

[2020-03-16 17:31] solsu01 commented on #161
Thanks for the detailed feedback @jmertic and @1000TurquoisePogs. Good points all around.

Keep in mind that this proposal is not really a "re-org" at this point. Squads stay as-is with the exception of Zowe Explorer being split into a separate squad. Outside of that it's just a recognition of the need to assemble a group of SMEs from each component to think about re-use, and synergy.

We agreed t

[2020-03-17 21:58] solsu01 commented on #161
Attached is another rev based on the feedback here. I made it clearer on what the squad evolution addresses and what is out of scope.
[zowe.squads_ss_v4.pptx](https://github.com/zowe/zlc/files/4345993/zowe.squads_ss_v4.pptx)

[2020-03-18 12:06] jackjia-ibm opened #172 "Package format of plugins"
Currently Zowe plugins don't have a consistent package format, we will need some guidance for the contributors what the package should look like. The format may also be related of the package management system we will choose.

The existing package management system Maven and NPM are not ideal for generic format. Zowe plugins may be in both Java or Node.js language, or in the future Python. We need

[2020-03-18 13:06] 1000TurquoisePogs commented on #172
Currently the only codebase that doesn't have a problem with packing is the CLI because thus far it's embraced nodejs and so npm is the logical solution.
However, has/will Zeepy's inclusion changed that? Will we see users of a python client sdk looking to a python-based repo for python-based plugins? Sorry if I'm misunderstanding the purpose, maybe they don't overlap at this level. But if they did

[2020-03-18 23:15] Joe-Winchester commented on #161
@solsu01 - Tks for this deck.  I am very keen that this is seen as a way to increase the value of what we deliver by tackling issues that span different technologies in a common way, through shared sprints, shared backlogs, and also shared communication to sponsored users and folks working on the issues.  Current items that customers are asking to be tackled in Zowe that don't fit into existing sq

[2020-03-18 23:45] armstro commented on #90
After ZLC discussion today (March 18 2020) it was decided to close this issue as complete - will reopen or create new issues if additional work needed.

[2020-03-18 23:45] #90 closed, assigned to nobody

[2020-03-18 23:48] armstro commented on #141
@TaylorDonner in ZLC discussion today there was question on whether this issue can be closed? Assumption is yes - You regularly provide reporting on zowe.org - we will close and reopen if needed.

[2020-03-18 23:48] #141 closed, assigned to nobody

[2020-03-18 23:49] armstro commented on #152
ZLC today felt this has been addressed based on description of Current, Active LTS - closing as complete.

[2020-03-18 23:49] #152 closed, assigned to nobody

[2020-03-19 00:03] armstro commented on #172
Review of this item at ZLC today - thought was to leave as ZLC issue until we determine a "better home" for it. Indicates need for an "official Architect squad" to have a backlog of issues to work.

[2020-03-19 00:09] armstro commented on #153
@MarkAckert reminder to review and close if appropriate

[2020-03-19 00:30] armstro commented on #170
IBM distribution is determined by a few factors:
1) what we make available for download,
2) what we anticipate can be supported in partnership with the open community
3) what can be supported in partnership with others (3rd parties, IBM product teams, etc.)  and
4) what "front line" support resources we have to assist customers.
The IBM Z Distribution for Zowe is on a continuous delivery model and

[2020-03-19 00:43] armstro commented on #95
@jmertic we are trying to clean up ZLC issues backlog - question was whether this has been addressed or if there is need for another audit to check compliance ......please advise

[2020-03-19 20:57] jmertic commented on #95
It's still an issue and continues to be so. Let's keep open and I'll rescan to capture where we are.

[2020-04-01 14:12] solsu01 opened #175 "Terminology of release versus versions"
Zowe is using x.y.z for versioning.

We seem to be using release to indicate x, and version to indicate y.

To me, this seems confusing.

I would recommend using the popular [semantic versioning 2.0 ](https://semver.org/) where it calls x as major version, y as minor version and z as patch version.

[2020-04-07 16:46] NakulManchanda commented on #159
**Would be great if we can close  ticket with LF,**
We need a cross browser testing solution from them.
Rocket current setup is using selenium grid, with mac and windows node,
We can start with only windows node for now.

@jmertic @armstro , would appreciate if we can follow up with LF, opened this couple of months back after meeting between LF, bruce and @jackjia-ibm , they didn't propose any spe

[2020-04-08 13:42] MarkAckert commented on #166
Contribution completed; closing.

[2020-04-08 13:42] #166 closed, assigned to nobody

[2020-04-08 13:43] MarkAckert commented on #157
Contribution complete; closing.

[2020-04-08 13:43] #157 closed, assigned to jmertic, hogstrom, Joe-Winchester, 1000TurquoisePogs, armstro, jplinardon, jlvignaudCA

[2020-04-08 13:46] #172 closed, assigned to nobody

[2020-04-08 13:46] MarkAckert commented on #172
Issue moved to [zowe/zowe-install-packaging #1249](https://github.com/zowe/zowe-install-packaging/issues/1249) via [**ZenHub**](https://www.zenhub.com/)

[2020-04-08 15:56] armstro commented on #159
@NakulManchanda @jackjia-ibm We discussed briefly at the ZLC today - I see latest date is Feb 18 - if Jack could please be clear the "ask" is for selenium grid we can see if OMP can accommodate.

[2020-04-08 16:10] jackjia-ibm commented on #159
Thanks @armstro, I updated the ticket to address if Selenium Grid is the right option OMP can accommodate.

[2020-04-09 09:31] Joe-Winchester opened #176 "LTS go to market"
Issue to track LTS go to market

- **Done**  Publish the v1 conformance criteria in the OMP repo https://github.com/openmainframeproject/foundation/pull/9.
- **Done** Publish LTS information in the Zowe documentation, tracked in https://github.com/zowe/zowe.github.io/pull/75.
- **Done** Publish PR https://github.com/zowe/zlc/pull/164
- **Done** Customers coming to zowe conformance site are directe

[2020-04-14 14:25] solsu01 commented on #161
Since there was agreement on a subset of this proposal to formally split the Zowe Explorer related work into a separate squad, I've put together a path of execution to make this happen. The other parts of the proposal still need to be discussed and require consensus before we can proceed with execution.

**New Zowe Squad: IDE**
Mission:
- To take ownership of all IDE tooling topics for all of Zowe

[2020-04-14 16:37] armstro commented on #161
Thanks Sujay for writing this all down - we can add to zlc agenda for Apr 14 if we want to discuss there - some comments:

-Regarding "all IDE topics" - didn't we think the App Framework squad+Mobile incubator would include an IDE in their mission? Is there a way qualify Zowe Explorer not multi-tenant? (I made that up.)

- Eligibility - do we want to loosen the "only committers" from CLI to try to

[2020-04-14 16:59] solsu01 commented on #161
Hmm, I was going off a comment @Joe-Winchester made about this squad caring for IDEs in general. I think we said there could be potential **reuse** of components between the app framework/mobile squad and a potential multi-tenant IDE. Generally, though I'm not sure if this limitation would work as there is already "multi-tenant" guidance for Zowe Explorer - https://github.com/zowe/vscode-extension

[2020-04-14 17:14] armstro commented on #161
Re IDE - I am likely confusing the IDE and SDK discussions. I think we said App Framework, CLI and Explorer each had a "SDK" dimension .....I'm fine if we say Zowe Explorer squad takes the lead on IDE and can be shared across Zowe.

Yes we can start with only committers for Explorer - let the squad recruit.

[2020-04-14 22:01] RASakach commented on #176
Please add:

- Update Conformance Terms and Conditions to reflect V1 conformance program
- Update Conformance Criteria Check Lists (for all components) with V1 test criteria in new table format
- Update Conformance Program Participation Form to reflect V1 conformance for all components and to include valid links to Terms and Conditions and Test Criteria Check Lists
- Publish V1 conformance Marks
-

[2020-04-14 22:09] RASakach commented on #176
Latest iteration of the Zowe LTS Roadmap
[Zowe.OSS.2019-20.Roadmap.Rev.16.chart.with.dates.and.conformance.pptx](https://github.com/zowe/zlc/files/4477984/Zowe.OSS.2019-20.Roadmap.Rev.16.chart.with.dates.and.conformance.pptx)

[2020-04-15 16:13] 1000TurquoisePogs commented on #161
Sounds like the uncertainty has been solved, but if you mean to put this on the record anywhere you may want to clarify wording:

Sounds more like:

For the formation of this squad, the initial committers must be existing committers from the CLI squad. Afterwards, committers to the IDE squad can be added via IDE squad consensus and meritocracy.

[2020-04-15 16:18] solsu01 commented on #161
That is correct @1000TurquoisePogs.

[2020-04-22 11:31] armstro opened #178 "Review of Zowe code backups"
In an internal meeting we briefly discussed the state of backup with github and learned releases are backed up but other extended/optional" code is not necessarily backed up - would we agree we need to have someone review the backup practices  and make recommendations.

We know Marist agreement does not entitle the project to backups but they might accommodate snapshot backup of key environment.

[2020-04-22 11:34] armstro opened #179 "How to Strengthen Squads - Diversity, Metrics, Mentoring ...."
Review diversity on the squads and look at ways to strengthen - how best to measure? - mentor programs?

[2020-04-22 12:01] solsu01 opened #181 "MQ APIs listed on conformance page as CLI"
Looks like an error:
![image](https://user-images.githubusercontent.com/35504644/79979357-67724600-846f-11ea-9db0-95cb9b0f35db.png)

[2020-04-22 12:26] PeterFandelAtRocket commented on #179
Measure:  Commits by "minority" committers where minority means a committer from an organization not the organization of the majority of committers (a mouthful but you know what I mean).
Mentorship: An agreement between mentor and mentee with commitments.  Mentor is an experienced committer in a squad.  Mentee is a would be minority committer.  Mentor commits to take the time to introduce mentee t

[2020-04-22 13:33] MarkAckert commented on #178
Do we have particular examples of the extended/optional code in mind? Is like the `community` repository, conformance guidelines, etc? Website, docs-site, other code materials not related to Zowe PAX or CLI Archive? All of the above 😄?

[2020-04-22 13:38] #153 closed, assigned to armstro

[2020-04-22 21:37] armstro commented on #178
I would think we need to do an inventory first of what we have. (I had not
even thought about website.) What I have heard is "Zowe Releases" are
backed up ...but code not in "core" is not and that triggered by
question..

Github?
Website?
Doc?
Samples?
Build/test (Marist) - not incremental but "could" do a snapshot backup for
point in time disaster recovery
Automated Test cases?
What does CII requ

[2020-04-23 11:41] jmertic commented on #176
Just seeing where we think this stands - want to get Mae engaged when everything is coming together.

[2020-04-23 20:05] jmertic commented on #159
Something else I came across that might be useful...

https://percy.io/

They have a free tier targeted at open source projects. Only supports Chrome/FF right now, but the visual review seems to be something that could hit what you are after.

[2020-04-27 12:55] Joe-Winchester commented on #181
@solsu01 - yes it would be better if the text was "IBM MQ for z/OS" and the link was to the article https://community.ibm.com/HigherLogic/System/DownloadDocumentFile.ashx?DocumentFileKey=adb8e2d4-f327-a93b-fdaa-b5da0e80d614&forceDialog=0 that describes how to surface the MQ APIs onto the API catalog which are valid for the 2019 conformance program

[2020-04-27 12:56] Joe-Winchester commented on #181
@jmertic - is the Zowe Conformance web page in a github repo so Sujay and/or myself could create a PR for updating the text and links on the MQ CLI tile ?

[2020-04-27 12:57] jmertic commented on #181
It is a GH repo - https://github.com/openmainframeproject/omp-landscape. Feel free to submit a PR for any changes needed.

[2020-04-27 12:58] jmertic commented on #181
I will say that any links should point to an organization property ( i.e. with that having a Zowe logo, it should point to a Zowe/OMP location vs IBM )

[2020-04-27 16:41] NakulManchanda commented on #159
Hi @jmertic ,

Purpose of **pecy.io** > Integrate, run, and review **visual tests.**
Looked into it a little bit, this is to run visual test only,
visual tests are additional tests we can write in our test suite

Purpose of **Selenium**
But to drive browser automation and to get to different screen, and perform user actions in browser we **still need Selenium**.
Its substantial effort to write the

[2020-04-27 16:55] armstro commented on #179
[Zowe Squad Diversity - Draft  .pptx](https://github.com/zowe/zlc/files/4540985/Zowe.Squad.Diversity.-.Draft.pptx)

Initial thoughts in ppt format

[2020-04-27 17:21] armstro opened #182 "Establishment of Zowe Support Provider Conformance Program"
Proposal is to create a set of conformance criteria to be a Zowe Support Provider.

Examples
- Agreement of what is included in a "core" Zowe distribution and acceptance of Zowe/OMP project policies since it will be shared support across multiple possible vendors
- Agreement to recognize the Genuine Zowe process (hash tag/ watermark,...)
- Agreement to distribute core Zowe as a separate upgradeabl

[2020-04-27 19:43] armstro opened #183 "Proposed creation of Technical Steering Commitee (TSC) for cross squad activities"
Following the CUPIDS work for SMP/E and componentization - proposal is to have an ongoing TSC to help facilitate future integration activities - example include (but not limited to) single sign on, multi-factor authentication, high availability, containerization, etc. This issue is to sketch out the mission of such a TSC.

[2020-04-27 20:20] jmertic commented on #159
Got it - that's quite helpful context. Thanks!

[2020-04-29 14:15] armstro commented on #103
This issue to be transfer in the TSC once formed - the idea is TSC will assist in PI planning and provide roadmap outlook based on backlog and priorities.

[2020-05-01 20:54] solsu01 commented on #179
@armstro what do you mean by "Any CII badge that applies?" - are you asking if there's a diversity badge from CII?

[2020-05-02 10:07] armstro commented on #179
@solsu01 The proposed list of goals is beyond just diversity (and we need to define the term) so I am "fishing" for ideas on how "health of a squad" can be measured. In my mind it is not just diversity of the squad (people from different orgs) but could also mean the "maturity" of the squad, number of people, etc. and thought there might be some metric we could find from some other community like

[2020-05-04 11:04] Joe-Winchester opened #185 "Create guidelines for blog inclusion on Zowe medium blog for core vs. ecosystem content"
@Joe-Winchester commented on [Mon May 04 2020](https://github.com/zowe/community/issues/545)

**Is your feature request related to a problem or limitation? Please describe.**
https://medium.com/zowe

**Describe the experience you'd like**
Provide a set of guidelines and terms and conditions for an article's inclusion in the site regarding how it describes Zowe core content, open source content, ..

[2020-05-04 20:01] #72 closed, assigned to nobody

[2020-05-06 13:03] solsu01 commented on #161
IDE squad creation is being tracked in https://github.com/zowe/vscode-extension-for-zowe/issues/732

[2020-05-06 13:53] Joe-Winchester commented on #175
Fixed with https://github.com/zowe/docs-site/pull/1171

[2020-05-06 13:53] #175 closed, assigned to Joe-Winchester

[2020-05-11 14:04] dkelosky commented on #181
This also seems like a problem for the App framework:
![image](https://user-images.githubusercontent.com/14940561/81570498-ab6db200-936e-11ea-89eb-2827f4e81790.png)

Are the IMS API & CLI conformant?  Should they appear there as well?

[2020-05-11 14:16] armstro opened #187 "PI Planning planning for 3Q2020"
- Name names of squad members for next PI (improve diversity on CLI, API ML and App framework squads) - separate issue for mentoring and diversity metrics
- Agree on PI planning dates June 25, 26 and 29 (Thu, Fri, Mon)
- Put a plan in place for squad leads to provide their backlog items to be listed for consideration approx. 4-6 weeks before PI Planning dates
- Survey the open community on their p

[2020-05-11 14:56] jmertic commented on #181
For any additional apps needed, you should submit a conformance application so they are reviewed.

[2020-05-12 14:44] dkelosky commented on #181
Thanks.  Since this is a Zowe repo based app - who would submit?  Is it typically the folks that seeded the repo?

[2020-05-12 15:03] Joe-Winchester commented on #181
@dkelosky - I think it was the IBM MQ team who submitted the initial Zowe Conformance 2019 for the MQ CLI and MQ REST APIs.   @jmertic - I imagine they would have got an announcement e-mail for the Zowe Conformance v1 program when that went live a week or so ago ?
For the IMS CLI and IMS Operations API we do want to get conformance for them also - I'll e-mail Haley and cc you as she will know more

[2020-05-12 15:28] solsu01 opened #189 "Zowe seems "closed" with meetings and recordings"
Feedback on the Zowe Explorer squad kick off was that Zowe seems a bit closed with meetings and recordings. @phaumer are you able to share specifics on which artifacts are difficult to access? We would like to use your feedback to make accessibility better/more open.

[2020-05-13 10:54] armstro commented on #189
Just a theory regarding the impression of closed meetings - due to recent Zoom hacking incidents the OMP tighten access to use of Zoom - I think everyone requires a Zoom account at a minimum - this may give an impression the meetings are not as open as they once were. I think those of use who attend meetings forget our userids are embedded in browsers or Zoom client and don't realize new participa

[2020-05-13 12:36] jmertic commented on #176
Talking with @Maemalynn, wanted to see where the expected press announcement stands. If the plan for the webinar upcoming is to focus on the LTS, it's probably good to have any press announcement at the same time.

[2020-05-13 13:05] jmertic commented on #179
Great idea. It seems from the slides that the initial focus is organization diversity, which likely makes sense. You might also over time want to expand to age and gender, but that data is really tough to collect in aggregate without violating personal privacy regulations.

I think it would be helpful to group repos to squads so we could get a better view on how this looks today - any chance y'all

[2020-05-13 13:15] jmertic commented on #182
Whenever y'all are ready to start here, let me know.

[2020-05-13 13:18] jmertic commented on #170
Would this be linked to https://github.com/zowe/zlc/issues/182?

[2020-05-13 13:53] jmertic commented on #187
In terms of the question of balancing having public feedback vs avoiding disruption, wondering if having this be an initial kickoff of the TSC as well having those TSC members be the ones on audio and then others can contribute via chat.

[2020-05-13 16:04] phaumer commented on #189
Yes, I was hoping that recordings could be provided to the public without the need to sign up with Zoom, which seems an inhibitor, because of their reputation.

Also finding the recording is not easy. When you enter the https://github.com/zowe/community repo you see the `Playbacks/Meeting Minutes and Recordings` right at the top, but that folder is not used anymore. A clean-up would be good so tha

[2020-05-14 13:41] armstro commented on #170
John - short answer is yes this is linked (there is also work going on to provide a way to test a given distribution of Zowe is "genuine" that is also related (that is in a different repo).

We are beginning to try to use Zenhub to link and organize issues into Epics....there is a free zenhub plug in I am beginning to try to use (and will try to link cross repos).

[2020-05-14 13:43] armstro commented on #182
John - my crystal ball is foggy on this but my guess is this is 30 days out.....TSC mission and establishment and joint PI Planning are higher priorities at the moment.

[2020-05-20 13:07] MarkAckert commented on #178
Drafted our backup coverage here: https://github.com/zowe/zlc/blob/user/markackert/code-backups/tracking/Backups.md

[2020-05-20 14:01] Joe-Winchester commented on #181
Moving this issue to `/community` as it doesn't feel it is the ZLC responsibility to track this.

[2020-05-20 18:39] jmertic commented on #181
@Joe-Winchester Yes - everyone who submitted for 2019 was contacted. Feel free to pass along that they can do ZOWE V1 conformance now if they missed the note.

[2020-05-20 18:58] armstro opened #194 "How to handle End of Support for Node.js V6"
Node V6 for z/OS is at "end of marketing" from IBM which means new copies of the code are no longer available. Customers are encouraged to move to Node V8 or V12. The Zowe system requirements document V6 or above as pre-req. How best to handle the phase out of V6.
- Give notice to Zowe consumers via doc and or code messages?
- Phase out of testing by CI/CD team
Official end of support from IBM is

[2020-05-21 11:44] #181 closed, assigned to jmertic, Joe-Winchester

[2020-05-22 16:28] nannanli opened #195 "Improve the Zowe.org website design"
zowe.org is the first stop in many people's journey of Zowe. There are some feedback on the current experience.

- Can troubleshooting information be clearer in the zowe.org with a (getting help if your desktop doesn't start, getting help if your install failed, ...) like an FAQ
- The video should be updated.
- People cannot easily discover some useful resources and guidelines. Another issue in th

[2020-05-26 17:23] solsu01 commented on #160
I have had a lot of requests from squad leads, users and the community for an updated landscape diagram, so I've taken another stab at it with the intent of keeping it simple, but covering all the high level active sub-projects and incubation sub-projects:
[zowe_landscape_update.03.pptx](https://github.com/zowe/zlc/files/4683906/zowe_landscape_update.03.pptx)

It would be helpful to settle on this

[2020-05-27 01:44] MarkAckert commented on #160
This looks good. I was playing around with the format to try and clarify client/user components from server components, but there's not much real estate to shuffle things around. I made an edit with the some arrows modifications - not sure if this clarifies the diagram or just makes it more busy.

[zowe_landscape_update.04.pptx](https://github.com/zowe/zlc/files/4685948/zowe_landscape_update.04.pp

[2020-05-27 07:55] jellypuno commented on #160
Hi, I would like to ask for your permission if I could use the updated Zowe landscape on the [upcoming webcast](https://community.broadcom.com/mainframesoftware/events/event-description?CalendarEventKey=5838c371-6c88-4767-a5a7-c603af600a61&CommunityKey=c581dd20-140f-4708-b335-eaacc07d6802&Home=%2fmainframesoftware%2fcommunities%2fcommunityhomeblogs) that I am going to present. I will briefly discu

[2020-05-27 09:32] Joe-Winchester commented on #160
@jellypuno - The API Mediation Layer is an edge server that is able to collate all of the z/OS services used by clients, so that there is one certificate and one endpoint port that needs to be surfaced to clients.  APIML also offers the ability to generate a one time use token for authentication that means it can support multi factor authentication (MFA) and for the credential challenge it only oc

[2020-05-27 09:51] jellypuno commented on #160
@Joe-Winchester Thank you for the explanation. I appreciate it 😊

[2020-05-27 11:45] armstro commented on #160
[Zowe slide from webinar .pptx](https://github.com/zowe/zlc/files/4688404/Zowe.slide.from.webinar.pptx)

I guess first comment is that I thought we were going to try to use the slide for the upcoming OMP webinar as the slide for what is Zowe? This was out growth of the ZLC working sessions (both words and pictures). Maybe this slide has not gotten wide enough review for us to settle on it.

My sec

[2020-05-27 12:46] solsu01 commented on #160
I believe the Mobile app does go through the API ML.

[2020-05-27 13:14] jmertic commented on #176
Did anything come together on the press release?

[2020-05-27 14:06] Maemalynn commented on #176
@jmertic I'm not sure I understand your question or if this is even directed to me. But...Bruce and team filled out the questionnaire and put me in a great position to start drafting a press release. I'm in the process of drafting the release and reaching out to new Conformance Program members to see if they are ok with being a part of the news. In terms of priority, the webinar tomorrow will be p

[2020-05-27 14:14] jmertic commented on #176
Thanks @Maemalynn - I guess I was asking broadly :-)

So it sounds like the press release will come some time after the webinar? For some reason I thought they were coming at the same time, but I must have misunderstood.

[2020-05-27 14:27] Maemalynn commented on #176
@jmertic Our strategy changed as we're now seeing the webinar fatigue and registrant numbers aren't as high despite all of the promotion. So instead of going out the day of the webinar, we're including it as an asset that will help provide more details and visuals that will complement the release.

[2020-05-27 15:05] jmertic commented on #176
Got it - that makes sense. Thank you!

[2020-05-27 17:46] armstro commented on #194
Sean/Peter - My understanding is there are no know issues with V6 today and the question is what - if anything - the community should do or say as we know V6 will go out of support in Sept ....although customers are free to run unsupported if they choose.  I would like to discuss the following
- Introduce a warning message in the Zowe install scripts if V6 found - when to do this is up for debate

[2020-06-01 01:39] 1000TurquoisePogs commented on #194
Printing a warning sounds like a good idea. Due to current events, warning in advance is good.
But, I don't know what the warning will say. I see 3 options:

1 Warning, in september node 6 will not be supported by anyone, and therefore zowe's own support of it is best-effort.
2 ... and therefore zowe will not be accepting v6-specific bug fix requests
3 ... and therefore zowe will stop working with

[2020-06-01 08:49] Joe-Winchester commented on #194
Issue https://github.com/zowe/zowe-install-packaging/issues/1410 exists to put a warning into the validate.sh script of Zowe that is used at startup to validate node.  This is option (2) that I agree with Sean is the approach we should take.  I don't want Zowe to stop working if a customer has node 6 - that would be punitive and I don't see what purpose it serves other than to drive traffic away f

[2020-06-01 09:20] Joe-Winchester commented on #194
Doing a google of node support I find this https://developer.ibm.com/mainframe/2019/04/26/node-js-zos-v6-17/ that states:
[code]
@armstro - where are the list of published dates for node ?  Is there a site that Roland and his team maintain ?

[2020-06-10 13:59] nkocsis commented on #138
With PI Planning in progress I'm closing this

[2020-06-10 13:59] #138 closed, assigned to nobody

[2020-06-10 14:00] MarkAckert commented on #144
We now have multiple versions of z/OS to test against. For future z/OS versions, it continues to be the community's responsibility to coordinate with our z/OS systems providers to build out the proper images.

[2020-06-10 14:00] #144 closed, assigned to nobody

[2020-06-11 21:38] solsu01 opened #200 "Inventory of Zoom hostkeys for Zowe squads"
Which Zowe squads are assigned which OMP provisioned zoom hostkeys?

Context: https://github.com/zowe/vscode-extension-for-zowe/issues/732

[2020-06-12 02:36] solsu01 commented on #160
As discussed on ZLC 6/3, I'm working on a "current" and "future" version of these slides by repurposing @PeterFandelAtRocket 's one from the OMP webinar (for current) and my previous rev in this issue (for future).

[2020-06-17 14:54] IgorCATech opened #202 "Zowe Explorer logo"
Recently I've been talking to John Mertic, asking for a Zowe Explorer logo that I could use in any related documentation. It turned out that there was no such logo yet. Here is a folder with existing Zowe logos https://github.com/openmainframeproject/artwork/tree/master/projects/zowe for your reference.
So, the idea is to have the Zowe Explorer logo created for documentation or/and marketing purpo

[2020-06-17 16:20] armstro commented on #202
Hey @IgorCATech - I don't think ZLC will be opposed to additional logos if you have worked through OMP (John Mertic). I think ZLC would like to comment on any new designs as more eyes reviewing can help. As I recall the designers of logos in OMP were spread thin and we had a few versions of the new logo but not a lot of "one offs" since the designers were spread thin. Is there a specific ask? or a

[2020-06-18 23:45] solsu01 commented on #160
Please review this version of "today" and "future" versions with inspiration from the webinar slide that Bruce shared:

[zowe_landscape_update_05.pptx](https://github.com/zowe/zlc/files/4801722/zowe_landscape_update_05.pptx)

If we are good with this, I'd like to place this in the zowe community github for others to use.

[2020-06-19 08:58] IgorCATech commented on #202
@armstro Thank you for your comment. Good to know about the situations with the OMP graphic designers. The last thing I want to do is overload them with more work. To answer your questions, there's no specific ask, it's just an idea. I haven't proceeded with OMP yet, and, frankly, I don't how exactly how to proceed. Write them an email? Open a GitHub issue? This is something I wanted to figure out

[2020-06-24 12:01] armstro commented on #202
Apologies @IgorCATech - I get too much email and there are too many github issues - I guess my comments are 1) what is the issue with not using the current logos? Do they not fit well in documentation? or some other reason 2) I think having some proposed logo (even if not perfect) to submit for consideration would be helpful - the OMP owns the logos but I think the zlc could comment on what they l

[2020-06-24 19:17] armstro commented on #202
@IgorCATech we discuss this issue briefly at the zlc today - we are unclear if you are asking for a very different logo for Explorer or a slight change to the existing logo (maybe different colors to show up better in the VS Code and/or documentation). We do not think it is wise to change the logo to be different than the rest of Zowe (if that is what you are proposing). You are welcome to bring i

[2020-06-25 19:10] armstro commented on #160
@solsu01 with "release" of this ppt in the PI planning do we want to consider this one closed?

[2020-06-25 19:13] solsu01 commented on #160
Yes, good with me to close.

https://github.com/zowe/community/tree/master/Templates

[2020-06-25 19:13] #160 closed, assigned to Joe-Winchester, PeterFandelAtRocket, 1000TurquoisePogs, MarkAckert, armstro

[2020-07-01 15:56] armstro commented on #194
@Joe-Winchester to answer the EOS question see here: https://www.ibm.com/support/lifecycle/index.html#/details?q45=R736925B47749P13 Sept 30 2020

Since we have warning messages in App framework and start up scripts for Zowe for Node V6 going EOS I will close this issue.

[2020-07-01 15:56] #194 closed, assigned to Joe-Winchester, PeterFandelAtRocket, 1000TurquoisePogs

[2020-07-01 15:59] armstro commented on #187
Closing this issue as PI planning was completed - issue of communicating themes across squads also closed. Keeping the Diversity metrics issue open to still be addressed and TSC creation still needed and therefore left open

[2020-07-01 15:59] #187 closed, assigned to Joe-Winchester, PeterFandelAtRocket, 1000TurquoisePogs, MarkAckert, solsu01, armstro

[2020-07-01 16:05] armstro opened #205 "Create Survey Guidelines for Squads and ZLC"
- Use of Survey Monkey went well for 3Q2020 PI planning but there is room for improvement - we'd like a set of actions to do better
- Enlist help of UX designer on best practices for questions
- Establish a cadence for ZLC and squads to use Survey Monkey
- Suggest squads accumulate questions for quarterly squad surveys? in cooperation with higher level ZLC surveys
- Improve reach of surveys - to d

[2020-07-14 09:34] #176 closed, assigned to Joe-Winchester, armstro, RASakach

[2020-07-15 13:57] Joe-Winchester commented on #185
The criteria are at https://github.com/zowe/community/blob/master/blogging/blog_guidelines.md

[2020-07-15 13:57] #185 closed, assigned to nobody

[2020-07-15 14:00] #195 closed, assigned to nobody

[2020-07-15 14:00] Joe-Winchester commented on #195
Issue moved to [zowe/docs-site #1313](https://github.com/zowe/docs-site/issues/1313) via [**ZenHub**](https://www.zenhub.com/)

[2020-07-16 19:58] PeterFandelAtRocket opened #207 "Improve summary of changes for each release"
The first section is probably meant to be high level summary of most important changes written more from perspective of benefit to persona.  However, this is not being consistently done to pull the most important changes from the various components.  Instead reader is left to read the nitty gritty details on a per github issue level.

Better to have a consistent process for "promoting" a sub-set o

[2020-07-16 20:07] solsu01 commented on #163
I've updated the may webinar zowe overview slides with the latest zowe landscape and uploaded it to zowe community github here: https://github.com/zowe/community/blob/master/ppt_templates/Zowe%20OverviewJuly2020.pptx

[2020-07-16 20:07] #163 closed, assigned to hogstrom, Joe-Winchester, 1000TurquoisePogs, MarkAckert, armstro, jlvignaudCA

[2020-07-22 11:10] Joe-Winchester commented on #163
Excellent deck @solsu01 - many thanks to you for pulling this together and everyone else who contributed.  Nice job

[2020-07-23 22:00] 1000TurquoisePogs commented on #178
Github recently did an archive and their explanation reveals that there are groups that backup github, so in effect there are multiple layers of protection on code that exists in github. https://archiveprogram.github.com/
By tagging the releases (we do), releases can be recreated from a github backup as long as the instructions are also present.

[2020-07-29 14:01] armstro commented on #207
@PeterFandelAtRocket to check with @nannanli and @Joe-Winchester on what process is already in place for doc squad

[2020-07-29 14:03] armstro commented on #202
@IgorCATech wanted to touch base on whether this is still being worked?

[2020-07-30 00:07] armstro opened #210 "End of 3Q Zowe Update - OMP assistance"
Since not all topics for Zowe were covered at Share - proposal is to target a webinar in late 3Q to cover ZSS content that did not make Share plus content from 3Q development (HA, Containers, Security improvements, ...). Need to organize content - request OMP assistance.

[2020-07-30 14:57] IgorCATech commented on #202
@armstro Thank you for reviving this issue. At some point, I've discussed this issue with my team and the consent was that we'll keep the Zowe logo for all Zowe components/subcomponents. I suppose this issue can be closed unless there are other suggestions.

[2020-07-30 15:36] armstro commented on #202
Closing per Igor comment above

[2020-07-30 15:36] #202 closed, assigned to nobody

[2020-08-03 17:36] RASakach commented on #210
Thank you @armstro
Will discuss at the next # Zowe Onboarding Squad meeting and will determine how best to move forward on a Zowe Webinar Series.

[2020-08-04 13:43] PeterFandelAtRocket opened #211 "Encourage squads to adopt a no-accumulation-of-slips policy"
In order to maintain a monthly release cadence with minimal squad-to-squad disruption and make life easier on Zowe vendors and extenders that need to run their operations on a predictable cadenee, I would propose we strongly encourage all squads to adopt a no-accumulation-of-slips policy.

What this would mean is that, while it is ok to release a monthly release late, it is not ok to change the ta

[2020-08-05 18:23] RASakach commented on #210
The Onboarding Squad had Initial discussions on the Zowe Webinar Series and will be meeting with OMP to further plan.

Zowe Webinar Series Logistics:

- Plan to host 4 per year (1 per quarter)
- Kick-off the series in Q4 (Oct - Dec)
- If possible, keep the day of the month and time consistent (i.e. 2nd Weds of the middle month in the quarter, at 11:30am ET)
- Limit it to 45 minutes

Zowe Webinar S

[2020-08-07 15:05] nkocsis opened #212 "New guidance and policies on slipping dates/releases"
New guidance and policies on slipping dates/releases
- identify scenarios that might cause this
- identify minimum slip date before need ZLC approval
- where does approval come from ? ZLC, PMs, or leads

[2020-08-12 13:44] #178 closed, assigned to MarkAckert

[2020-08-12 13:59] MarkAckert commented on #103
PI Planning activities, which can be found in the community repo, are the best place to find roadmap items.

[2020-08-12 13:59] #103 closed, assigned to nobody

[2020-08-12 21:41] RASakach commented on #210
@armstro I met with Chris B (OMP) today and we finalized plans for a quarterly (series) of OMP hosted Zowe Webinars.  Please review details with ZLC and let me know if we need to revise anything prior to finalizing.

Details:
- Will Kick-off in October, tentative Wed Oct 14, 11:30 EST
- Will then reoccur 2nd Weds of the middle month in the next quarter (Feb 10th) --, 11:30 EST
- Will be limited to

[2020-08-14 11:25] armstro commented on #210
Thanks @RASakach for organizing this (sorry to be slow to reply).....I will put this on the ZLC agenda for next week (Aug 19) ......some thoughts:

- To me quarterly is not often enough - hard to have a "cadence" quarterly. We should agree whether this is "education" or "marketing" and I lean to education. I think monthly is a better cadence assuming we agree this is education.

- I question if 45

[2020-08-14 11:29] armstro commented on #210
Asking ZLC members for comments @PeterFandelAtRocket @1000TurquoisePogs @MarkAckert @Joe-Winchester @pdubz3

[2020-08-14 12:46] pdubz3 commented on #210
Lots to comment on ...

I don't have a problem with quarterly.  These things take quite a bit of effort to do them right and make them successful.  If the turnout is overwhelming and the community gets great value, we can always explore increasing the frequency.

45 minutes can be short or long depending on what you have to say.  :-)  I wouldn't have any problem going to 60 minutes.  You don't wan

[2020-08-14 12:46] pdubz3 commented on #210
Sorry, that was quite rude of me.  :-)

[2020-08-14 13:03] armstro commented on #210
Point taken on burden to set these up and provide content...goes back to agreeing on "vision" for these......in my mind it depends on how many people are sharing the workload - is this just the squads (who should be heads down on a sprint) or do we cast a wider net to include ISVs, customers, individuals like Joe D etc.........we can let others wade in......there was a prior "meet up" that I assum

[2020-08-19 15:43] armstro commented on #210
Action from ZLC call today - Bruce reach out to Joe Devlin to get agreement on day and time.....Rose to confirm with OMP once agreement from Joe D. Need to know how much time Joe needs and flesh out the agenda (at a minimum do an intro to the quarter invites - maybe future topics - pointer to calendar, etc.)

Try to get this firmed up by Aug 21 for OMP to include in OMP Summit news

[2020-08-21 23:01] RASakach commented on #210
We need to get this to OMP very soon, (they wanted it today) - please let me know how you feel about this
Proposed Agenda:

- Quarterly Webinar Series Introduction
- Focus Topic:  ZSS & Zowe / Focus Speaker:  Joe Devlin
- Quarterly Zowe Update:  Zowe Squad Highlights and Upcoming Community Events

[2020-08-24 10:33] Joe-Winchester commented on #210
+1 to your suggestion @RASakach .   It'd be great to also see if there was a way to involve Segus, and perhaps Phoenix, and customers, so we have external speakers (as you've done with Joe Devlin) going forward so there is a good balance between squad highlights and news, versus external customer/ISV stories.

[2020-08-24 12:05] pdubz3 commented on #210
I'm OK with this Rose, and I also agree with Joe's suggestion about external speakers going forward.  Have you gotten confirmation yet from Joe on his participation in the first webinar?

[2020-08-24 22:01] RASakach commented on #210
Thanks for the feedback!

No confirmation from Joe Devlin yet.  I'll give it 1 more day.

+1 (@Joe-Winchester  comments) from me, we should definitely plan to feature Segus (hoping they will be V1 conformant by next quarterly meeting?) or Phoenix Software or a CUSTOMER for sure.  Perhaps one of them can summarize and "demo" an Extension?  Definitely want to have more focus on USERS with a sprinkli

[2020-08-25 22:09] armstro commented on #210
So I will "T" this up for discussion at Aug 26 ZLC call - I just sent Joe D a plea for title and abstract.

I can host but anyone can - does not need to be me.

I am flexible on what to call the quarterly "event" - putting on the calendar well is advance is ok with me. (We just need to deliver on content.) Based on the time it has taken to get this quarterly call going - I retract my ask to do mon

[2020-08-26 16:09] RASakach commented on #210
As of 12:00 ET here's what we stand with an Agenda for our first Zowe Quarterly Update

2020Oct14  Agenda

1.   The Zowe Quarterly Webinar Series Overview  (Host, < 5 mins)
2.   Guest Speaker / Focus Topic (Guest Speaker, ~40 mins, +5 Q&A)
    -  Title:   Zowe & ZSS, Speaker:  Joe Devlin, ZOSS Team
    -  Abstract:   Learn how we are extending the Zowe ZSS (z/OS back-end) to facilitate building in

[2020-08-26 16:36] armstro commented on #210
Looks good - thanks for organizing this .....reminder we need to decide if we want to have a survey ready for this event too -

[2020-08-26 18:22] armstro commented on #207
@PeterFandelAtRocket were were concerns addressed in the 1.14 release to allow closing of this issue?

[2020-08-26 18:29] armstro opened #214 "Planning for Oct 1st and 2nd 2020 PI Planning"
PI planning date set of Oct 1&2 -
- Organize working session with squad leads on 3Q accomplishments, new issues and items for 4Q
- Does ZLC have any updated views on prior themes?
        - Research on globalization? Sizing of effort
        - Increased focus on automated testing - include in code check in process?
        - HA - status?
        - PSI plans

[2020-08-28 16:02] nkocsis opened #215 "Surveys for 20PI4 Planning"
Some squads have asked if we will have surveys ? If yes, then we might want to get some people involved to help ?

[2020-08-28 16:38] armstro commented on #215
Nick - I would turn this around - what squads have survey questions? What questions are they? are they critical for 4Q? ZLC is not against doing a survey but we need to give lead time to get it composed and get replies. Another options is Zowe is planning a quarterly "event" - first one is targeted for Oct 14 and the PROPOSAL is to offer a survey then ....... and do a quarterly cadence.

[2020-08-31 17:46] RASakach commented on #215
+1 from me on.... understanding which squads have questions.  I would also suggest having the squads move forward with planning and while doing so, as questions come up, consider adding them to a survey that we will MARKET and ENCOURAGE PARTICIPATING in during our Quarterly Webinar.  I realize we will be 2 weeks in to the PI but getting feedback is a fluid activity.  If we can get folks in the "gr

[2020-09-02 10:39] armstro commented on #183
Draft of key points of TSC charter:

[Draft TSC charter.docx](https://github.com/zowe/zlc/files/5161738/Draft.TSC.charter.docx)

[2020-09-02 11:47] armstro commented on #214
[Zowe Community Context & Vision for 20PI3.pptx](https://github.com/zowe/zlc/files/5162028/Zowe.Community.Context.Vision.for.20PI3.pptx)

Prior deck - in need of update for 4Q PI Planning

[2020-09-02 14:46] armstro commented on #215
ZLC opinion is to survey twice a year in Jan and July ....I recommended closing this item BUT placing the reminder on the development calendar to prep for Jan survey

[2020-09-14 01:59] #215 closed, assigned to nkocsis, armstro

[2020-09-14 02:00] armstro commented on #183
[Zowe Draft TSC charter - Sept 13 2020.docx](https://github.com/zowe/zlc/files/5215729/Zowe.Draft.TSC.charter.-.Sept.13.2020.docx)

[2020-09-15 14:24] PeterFandelAtRocket commented on #183
My thoughts and proposed revisions in the attached.
[Zowe.Draft.TSC.charter.-.Sept.13.2020 - Peter HACK.docx](https://github.com/zowe/zlc/files/5225563/Zowe.Draft.TSC.charter.-.Sept.13.2020.-.Peter.HACK.docx)

[2020-09-16 13:34] PeterFandelAtRocket commented on #183
[Zowe.Draft.TSC.charter.-.Sept.16.2020.-.Peter.HACK.docx](https://github.com/zowe/zlc/files/5232484/Zowe.Draft.TSC.charter.-.Sept.16.2020.-.Peter.HACK.docx)

[2020-09-16 13:34] PeterFandelAtRocket commented on #183
my last update edits 2nd set of bullets to address concerns raised by Mike DuBois

[2020-09-16 20:00] pdubz3 commented on #183
[Zowe Draft TSC charter - Sept 16 2020 - md.docx](https://github.com/zowe/zlc/files/5234662/Zowe.Draft.TSC.charter.-.Sept.16.2020.-.md.docx)

[2020-09-16 20:02] pdubz3 commented on #183
Peter, thank you.  I like the updates you made.  Very clear.  I've uploaded a version that adds a few additional comments, one of which was about enforcement of guidelines and another was about inclusion of certain ZLC members as voting members in the TSC.  But generally speaking I think this document is pretty close and we should be able to start sharing it soon.

[2020-09-16 20:49] armstro commented on #183
Thanks guys for jumping on this ..... @pdubz3 you say "share it soon" - my request is we (Peter is he can attend) float a draft to the squad leads in the 10am interlock call tomorrow that is run by the Project Manager.....clearly say it is draft - but I want them to feel a part of the process and this not handed down from zlc.......I will send email to zlc-private to be sure we are on same page ..

[2020-09-16 21:28] MarkAckert commented on #183
I made minor changes to TSC bullets, rephrasing them.

The only thing I think is missing here is a voting policy. Do voting issues require a simply majority, supermajority, or unanimous approvals to pass? For reference, the ZLC is currently supermajority. Part of why I'm bringing this is up is because we allow in the charter for new voting members to be added to the TSC - so as you add more member

[2020-09-22 15:05] armstro commented on #183
[Zowe.Draft.TSC.charter.-.Sept.16.2020.-.ma_ba.docx](https://github.com/zowe/zlc/files/5262295/Zowe.Draft.TSC.charter.-.Sept.16.2020.-.ma_ba.docx)

Minor changes:
- I went ahead and added the names of the ZLC reps to be initial members of the TSC so it would not be a mystery.

- @pdubz3 answered your question in the text - my view is the 3 "business" members of the ZLC do not vote on the TSC - onl

[2020-09-22 16:22] pdubz3 commented on #183
Thank you @armstro ...

My question may not have been clear, and it's probably my fault for poor wording.  But your precise answer will actually help me to ask the question better.  :-)

For the first year, the ZLC appoints three technical ZLC members (Mark, Sean, Joe) to the TSC.  That part I understood,  but it helps to have it spelled out.  And the remaining ZLC members are not voting members o

[2020-09-22 18:13] armstro commented on #183
Well my take is yes - you understand correctly but we need to agree this is what we want - I'm thinking we (ZLC) are kick starting the TSC and it then flies or dies on its own separate from the ZLC after year 1....and the ZLC itself flies or dies on its own - maybe with different members and not required overlap of staff (as we will have in year 1).............and yes number 2 is a valid question

[2020-09-22 18:16] pdubz3 commented on #183
Makes sense and I agree with the "flies or dies" approach.  Thanks for the clarification.

[2020-09-22 20:31] Joe-Winchester commented on #183
[Zowe.Draft.TSC.charter.-.JRW Revision.docx](https://github.com/zowe/zlc/files/5263861/Zowe.Draft.TSC.charter.-.JRW.Revision.docx)

@armstro - apologies for taking a while to provide input.  I've attached my copy above.   Wondering what the best way to proceed is to get consensus.

[2020-09-23 10:50] armstro commented on #183
[Zowe.Draft.TSC.charter.V2 .docx](https://github.com/zowe/zlc/files/5267486/Zowe.Draft.TSC.charter.V2.docx)

OK - I have attempted to clean up/merge  the doc and accepted all changes/comments - we are getting there.

The one clause that catches my eye is the TSC "over riding" a squad and we say voting needs to be unanimous - if a squad really does not want to change something then how to handle? I